.search {
    width: 100%;
}

.project,
.authors {
    color: gray;
    font-size: 0.8em;
    display: block;
}

.version{
    color: gray;
    font-size: 0.8em;
}

.col-priority {
    text-align: right;
}

.guidelines-descr {
    font-size: 0.9em;
    padding-left: 0;
}

.guidelines-title {
    font-size: 1em;
    font-weight: bold;
    display: block;
}

.panel-example {
    min-width: 50%;
}

.panel-title {
    font-size: 0.9em;
}

.entry-row {
    margin-bottom: 20px;
    padding: 5px 0;
}

.select-row {
    cursor: pointer;
    border-top: 1px solid darkblue;
    border-bottom: 1px solid darkblue;
    padding: 5px;
    margin-bottom: 5px;
}

audio {
    width: 100%;
    margin-bottom: 5px;
}

.modal-dialog{
    width: 90%;
}

.media{
    margin-bottom:10px;
}