<modal #modal_guidelines id="rules" *ngIf="guidelines != null">
    <modal-header>
        <div style="color:red; font-weight:bold; width:100%; text-align:center;">
            The guidelines are still in development.
        </div>
        <div class="row">
            <div class="col-md-7">
                <h3>{{"general.guidelines" | translate }}</h3>
                <span class="project">
                     {{"general.project" | translate }}: {{guidelines.meta.project }}
                </span>
                <span class="authors">
                     {{"general.authors" | translate }}: {{ guidelines.meta.authors }}
                </span>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" id="addon1" placeholder="{{'general.search' |translate}}"
                               class="form-control" #input (keyup)="search(input.value)">
                    </div>
                </div>
            </div>
        </div>
    </modal-header>
    <modal-body>
        <div *ngIf="shown_guidelines.instructions.length == 0" class="bg-warning">
            {{"general.no guidelines found" | translate}}
        </div>
        <div class="row" *ngFor="let instructions of shown_guidelines.instructions;let j = index;">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{instructions.group}}</div>
                    <div class="panel-body" *ngIf="collapsed.length > 0">
                        <div class="row select-row" *ngFor="let entry of instructions.entries;let k = index;">
                            <div class="col-xs-1 chevron" (click)="toggle(j,k)">
                                <span *ngIf="collapsed[j][k]" class="glyphicon glyphicon glyphicon-chevron-down"></span>
                                <span *ngIf="!collapsed[j][k]" class="glyphicon glyphicon glyphicon-chevron-up"></span>
                            </div>
                            <div class="col-xs-1 code" (click)="toggle(j,k)">
                                {{entry.code}}
                            </div>
                            <div class="col-xs-9">
                                <span class="guidelines-title" (click)="toggle(j,k)">{{entry.title}}</span>
                                <div class="row entry-row" [ngbCollapse]="collapsed[j][k]">
                                    <div class="col-md-4">
                                        <span class="guidelines-descr">
                                        {{entry.description}}
                                            </span>
                                    </div>
                                    <div class="col-md-8">
                                        <div *ngFor="let example of entry.examples; let i = index;"
                                             class="panel panel-primary panel-example">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Example {{i + 1}}</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div *ngIf="example.url.indexOf('.wav') > -1" class="media">
                                                    <audio src="{{example.url}}" controls></audio>
                                                </div>
                                                <div *ngIf="example.url.indexOf('.mp4') > -1" class="media">
                                                    <video
                                                            id="my-player_g{{j}}i{{k}}e{{i}}"
                                                            class="video-js vjs-default-skin vjs-big-play-centered"
                                                            controls
                                                            preload="auto"
                                                            data-setup='{}'>
                                                        <source src="{{example.url}}" type="video/mp4">
                                                        <p class="vjs-no-js">
                                                            To view this video please enable JavaScript, and consider upgrading to a
                                                            web browser that
                                                            <a href="http://videojs.com/html5-video-support/" target="_blank">
                                                                supports HTML5 video
                                                            </a>
                                                        </p>
                                                    </video>
                                                </div>
                                                <div class="text">
                                                    <code>{{example.annotation}}</code>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1 hidden-xs col-priority" (click)="toggle(j,k)">
                                <span class="label label-info">{{entry.priority}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal_guidelines.dismiss()">
            {{"general.close" | translate}}
        </button>
    </modal-footer>
</modal>