.red {
    background-color: #ff899d;
}

.segment-number {
    padding: 3px;
}

.segment-warning {
    color: red;
}

.found-errors {
    padding: 5px;
    display: block;
    text-align: center;
}

#statistics td {
    text-align: center;
}