.red {
    background-color: #ff899d;
}

.segment-number {
    padding: 3px;
    width: 40px;
}

.segment-warning {
    color: red;
}

.found-errors {
    padding: 5px;
    display: block;
    text-align: center;
}

#statistics td {
    text-align: center;
}

.table thead th {
    text-align: center;
    vertical-align: middle;
}

.table .last-column {
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

.table fa-icon {
    cursor: pointer;
}

table tr td {
    vertical-align: middle;
}

#skip-silence-checkbox {
    margin-left: 5px;
    display: inline-flex;
    margin-right: 3px;
}