<h4>{{"general.statistics" | translate}}</h4>
<table id="statistics" class="table table-bordered">
    <thead>
    <tr>
        <th>{{"segments.total" | translate}}</th>
        <th>{{"segments.transcribed" | translate}}</th>
        <th>{{"segments.with breaks" | translate}}</th>
        <th>{{"segments.not transcribed" | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="alert-default">{{numberOfSegments}}</td>
        <td class="alert-success">{{transcrSegments}}</td>
        <td class="alert-info">{{pauseSegments}}</td>
        <td class="alert-danger"><b><u>{{emptySegments}}</u></b></td>
    </tr>
    </tbody>
</table>
<p [hidden]="shown_segments.length == 0" style="text-align: center">
    <ng-container *ngIf="validationFound">
        <span *ngIf="foundErrors == 0"
              class="text-success found-errors">{{"general.no errors found" | translate}}</span>
        <span *ngIf="foundErrors > 0" class="text-danger found-errors">{{"general.errors found" | translate : {errors: foundErrors} }}</span>
    </ng-container>
    <span *ngIf="!validationFound">No validation methods found</span>
</p>
<h4 [hidden]="!show_transcriptiontable">{{"general.transcript" | translate}}</h4>
<div [hidden]="!show_loading">
    <div style="display:block; text-align:center; margin-top:-10px;position:absolute;width:100%;">
        <i class="fa fa-spinner fa-spin" style="font-size:32px"></i>
    </div>
</div>
<table id="transcription-table" *ngIf="shown_segments.length > 0" class="table table-bordered"
       [hidden]="!show_transcriptiontable">
    <thead>
    <tr>
        <th></th>
        <th>{{"general.segment" | translate}}</th>
        <th>{{"general.transcription" | translate}}</th>
        <th class="last-column">
            <fa-icon [icon]="['fas', playAllState.icon]" (click)="togglePlayAll()"></fa-icon>
            <input type="checkbox" id="skip-silence-checkbox" (click)="toggleSkipCheckbox()"
                   [checked]="playAllState.skipSilence">
            <label for="skip-silence-checkbox">{{"general.skip silence" | translate}}</label>
        </th>
    </tr>
    </thead>
    <tr *ngFor="let segment of shown_segments; let i = index"
        [ngClass]="{'alert-success': (segment.transcription.text != '' && segment.transcription.text != transcrService.break_marker.code), 'alert-info': (segment.transcription.text == transcrService.break_marker.code), 'alert-danger': (segment.transcription.text == '')}">
        <td style="width:25px;">
            <fa-icon [icon]="['fas', 'exclamation-triangle']" class="segment-warning" [ngStyle]="{
                  'display': ((segment.transcription.html.indexOf('<span class=\'val-error\'') > -1) ? 'normal': 'none')}">
            </fa-icon>
        </td>
        <td class="segment-number"><span class="link"
                                         (click)="onSegmentClicked(i)"># {{i + 1 | leadingnull: shown_segments.length}}</span>
        </td>
        <td [innerHTML]="sanitizeHTML(segment.transcription.html)" (mousemove)="onMouseOver($event)"
            (mousedown)="onMouseOver($event)"></td>
        <td class="last-column">
            <fa-icon [icon]="['fas', playStateSegments[i].icon]" (click)="playSelectedSegment(i)"></fa-icon>
        </td>
    </tr>
</table>