<occo-audio-viewer *ngIf="appStorage.showLoupe" #miniloupe [ngStyle]="{
'position':'absolute',
'margin-left':miniLoupeCoord.x + 'px',
'margin-top':miniLoupeCoord.y + 'px',
'width' : '160px',
'height': '160px',
'display': 'flex',
'z-index':'900',
'visibility': (miniLoupeHidden) ? 'hidden' : 'inherit',
'flex': 'auto',
'flex-direction': 'column'}"
                   [audioChunk]="audioChunkLoupe"
                   [height]="160"
                   [transcriptionLevel]="transcrService.currentlevel"
                   [settings]="miniLoupeSettings"
                   [isMultiLine]="false"
                   [breakMarker]="{
                        code: '<P>'
                      }"
                   [name]="'loupe'"
>
</occo-audio-viewer>
<occo-audio-navigation #nav
                       (buttonClick)="onButtonClick($event)"
                       (afterVolumeChange)="afterVolumeChange($event)"
                       (afterPlaybackRateChange)="afterSpeedChange($event)"
                       [responsive]="settingsService.responsive.enabled"
                       [volume]="appStorage.audioVolume"
                       [playbackRate]="appStorage.audioSpeed"

                       [buttons]="{
                        play: {
                            label: ('general.play' | transloco),
                            shortcut: keyMap.getShortcut('AV', 'play_pause')
                        },
                        pause: {
                            label: ('general.pause' | transloco),
                            shortcut: keyMap.getShortcut('AV', 'play_pause')
                        },
                        stop: {
                            label: ('general.stop' | transloco),
                            shortcut: keyMap.getShortcut('AV', 'stop')
                        },
                        replay: {
                            label: ('general.replay' | transloco),
                            shortcut: ''
                        },
                        backward: {
                            label: ('general.backward' | transloco),
                            shortcut: keyMap.getShortcut('AV', 'step_backward')
                        },
                        backwardtime: {
                            label: ('general.backwardtime' | transloco),
                            shortcut: keyMap.getShortcut('overlay', 'step_backward')
                        }
                      }"
                       [easyMode]="appStorage.easymode"
                       [audioChunk]="audioChunkTop"
>

</occo-audio-navigation>
<div id="viewer">
  <occo-audio-viewer #signalDisplayTop (selchange)="onSelectionChanged($event)"
                     (segmententer)="onSegmentEnter($event)"
                     (mousecursorchange)="onMouseOver($event)"
                     (mouseenter)="miniLoupeHidden = false;"
                     (mouseleave)="miniLoupeHidden = true;"
                     (mousedown)="onViewerMouseDown($event)"
                     (shortcuttriggered)="onShortCutTriggered($event, 'signaldisplay_top', signalDisplayTop)"
                     [audioChunk]="audioChunkTop"
                     [transcriptionLevel]="transcrService.currentlevel"
                     [breakMarker]="{
                        code: '<P>'
                      }"
                     style="height:80px;"
  >
  </occo-audio-viewer>
</div>

<occo-audio-viewer #signalDisplayDown
                   *ngIf="audioChunkDown !== null && audioChunkDown !== undefined"
                   (segmententer)="onLoupeSegmentEnter($event)"
                   (mousedown)="onViewerMouseDown($event)"
                   (shortcuttriggered)="onShortCutTriggered($event, 'signaldisplay_down', signalDisplayDown)"
                   [audioChunk]="audioChunkDown"
                   [transcriptionLevel]="transcrService.currentlevel"
                   (click)="onLoupeClick($event)"
                   (alerttriggered)="onAlertTriggered($event)"
                   [name]="'downLoupe'"
                   [settings]="loupeSettings"
                   [breakMarker]="{
                        code: '<P>'
                      }"
>
</occo-audio-viewer>
<div [hidden]="segmentselected" id="editor-placeholder">
  <div *ngIf="!segmentselected && (audioChunkDown !== null && audioChunkDown !== undefined)" class="inner"
       [innerHTML]="'signal-gui.segment enter text' | transloco:{value: segmententer_shortc}">
  </div>
  <div *ngIf="!(audioChunkDown !== null && audioChunkDown !== undefined)" class="inner"
       [innerHTML]="'signal-gui.selection text' | transloco">
  </div>
</div>
<app-transcr-editor #transcr
                    (markerInsert)="onMarkerInsert($event)"
                    (markerClick)="onMarkerClick($event)"
                    (keyup)="onKeyUp()"
                    (typing)="onEditorTyping($event)"
                    [ngStyle]="{display: (segmentselected) ? 'inherit': 'none'}"
                    [markers]="(transcrService.guidelines !== null) ? transcrService.guidelines.markers : null"
                    [easymode]="appStorage.easymode"
                    [audiochunk]="audioChunkDown"
                    [validationEnabled]="appStorage.usemode !== 'url' && (appStorage.usemode === 'demo' || settingsService.projectsettings.octra.validationEnabled)"
>
</app-transcr-editor>
