<app-circleloupe *ngIf="appStorage.show_loupe" #miniloupe [ngStyle]="{
'position':'absolute',
'margin-left':mini_loupecoord.x + 'px',
'margin-top':mini_loupecoord.y + 'px',
'width' : '160px',
'height': '160px',
'display': 'flex',
'z-index':'900',
'visibility': (miniloupe_hidden) ? 'hidden' : 'inherit',
'flex': 'auto',
'flex-direction': 'column'}"
                 [audiochunk]="audiochunk_loupe" [height]="160">
</app-circleloupe>
<app-audio-navigation #nav
                      (buttonclick)="onButtonClick($event)"
                      (volumechange)="onVolumeChange($event)"
                      (aftervolumechange)="afterVolumeChange($event)"
                      (speedchange)="onSpeedChange($event)"
                      (afterspeedchange)="afterSpeedChange($event)"
                      [audioplaying]="audiomanager.audioplaying"
                      [(responsive)]="settingsService.responsive.enabled"
                      [replay]="audiomanager.replay"
                      [buttons]="{
                        play: {
                            label: ('general.play' | translate),
                            shortcut: keyMap.getShortcut('AV', 'play_pause')
                        },
                        pause: {
                            label: ('general.pause' | translate),
                            shortcut: keyMap.getShortcut('AV', 'play_pause')
                        },
                        stop: {
                            label: ('general.stop' | translate),
                            shortcut: keyMap.getShortcut('AV', 'stop')
                        },
                        replay: {
                            label: ('general.replay' | translate),
                            shortcut: ''
                        },
                        backward: {
                            label: ('general.backward' | translate),
                            shortcut: keyMap.getShortcut('AV', 'step_backward')
                        },
                        backwardtime: {
                            label: ('general.backwardtime' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'step_backward')
                        }
                      }"
                      [easymode]="appStorage.easymode"
>

</app-audio-navigation>
<div id="viewer">
    <app-audioviewer #viewer (selchange)="test($event)"
                     (segmentchange)="onSegmentChange()"
                     (segmententer)="onSegmentEnter($event)"
                     (mousecursorchange)="onMouseOver($event)"
                     (mouseenter)="miniloupe_hidden = false;"
                     (mouseleave)="miniloupe_hidden = true;"
                     (mousedown)="onViewerMouseDown($event)"
                     (shortcuttriggered)="onShortCutTriggered($event, 'signaldisplay_top')"
                     [audiochunk]="audiochunk_top"
                     style="height:80px;"
    >
    </app-audioviewer>
</div>

<app-loupe #loupe
           *ngIf="top_selected"
           [margin]="{
            top:2
           }"
           (segmententer)="onLoupeSegmentEnter($event)"
           (shortcuttriggered)="onShortCutTriggered($event, 'signaldisplay_down')"
           (click)="onLoupeClick($event)"
           [audiochunk]="audiochunk_down"
           [height]="150"
           [Settings]="loupe_settings"
           (alerttriggered)="onAlertTriggered($event)"
>
</app-loupe>
<div *ngIf="!segmentselected" id="editor-placeholder">
    <div *ngIf="!segmentselected && top_selected" class="inner"
         [innerHTML]="'signal-gui.segment enter text' | translate:{value: segmententer_shortc}">
    </div>
    <div *ngIf="!top_selected" class="inner" [innerHTML]="'signal-gui.selection text' | translate">
    </div>
</div>
<app-transcr-editor #transcr
                    (marker_insert)="onMarkerInsert($event)"
                    (marker_click)="onMarkerClick($event)"
                    (typing)="onEditorTyping($event)"
                    [ngStyle]="{display: (segmentselected) ? 'inherit': 'none'}"
                    [markers]="transcrService.guidelines.markers"
                    [easymode]="appStorage.easymode"
                    [audiochunk]="audiochunk_down"
>
</app-transcr-editor>