<app-circleloupe *ngIf="appStorage.showLoupe" #miniloupe [ngStyle]="{
'position':'absolute',
'margin-left':miniLoupeCoord.x + 'px',
'margin-top':miniLoupeCoord.y + 'px',
'width' : '160px',
'height': '160px',
'display': 'flex',
'z-index':'900',
'visibility': (miniLoupeHidden) ? 'hidden' : 'inherit',
'flex': 'auto',
'flex-direction': 'column'}"
                 [audiochunk]="audioChunkLoupe" [height]="160">
</app-circleloupe>
<app-audio-navigation #nav
                      (buttonclick)="onButtonClick($event)"
                      (volumechange)="onVolumeChange($event)"
                      (aftervolumechange)="afterVolumeChange($event)"
                      (speedchange)="onSpeedChange($event)"
                      [speed]="appStorage.audioSpeed"
                      [volume]="appStorage.audioVolume"
                      (afterspeedchange)="afterSpeedChange($event)"
                      [isAudioPlaying]="audiomanager.isPlaying"
                      [responsive]="settingsService.responsive.enabled"
                      [replay]="audiochunkTop.replay"
                      [buttons]="{
                        play: {
                            label: ('general.play' | transloco),
                            shortcut: keyMap.getShortcut('AV', 'play_pause')
                        },
                        pause: {
                            label: ('general.pause' | transloco),
                            shortcut: keyMap.getShortcut('AV', 'play_pause')
                        },
                        stop: {
                            label: ('general.stop' | transloco),
                            shortcut: keyMap.getShortcut('AV', 'stop')
                        },
                        replay: {
                            label: ('general.replay' | transloco),
                            shortcut: ''
                        },
                        backward: {
                            label: ('general.backward' | transloco),
                            shortcut: keyMap.getShortcut('AV', 'step_backward')
                        },
                        backwardtime: {
                            label: ('general.backwardtime' | transloco),
                            shortcut: keyMap.getShortcut('overlay', 'step_backward')
                        }
                      }"
                      [easymode]="appStorage.easymode"
>

</app-audio-navigation>
<div id="viewer">
  <app-audioviewer #viewer (selchange)="onSelectionChanged($event)"
                   (segmentchange)="onSegmentChange()"
                   (segmententer)="onSegmentEnter($event)"
                   (mousecursorchange)="onMouseOver($event)"
                   (mouseenter)="miniLoupeHidden = false;"
                   (mouseleave)="miniLoupeHidden = true;"
                   (mousedown)="onViewerMouseDown($event)"
                   (shortcuttriggered)="onShortCutTriggered($event, 'signaldisplay_top', viewer)"
                   [audiochunk]="audiochunkTop"
                   style="height:80px;"
  >
  </app-audioviewer>
</div>

<app-loupe #loupe
           *ngIf="topSelected"
           [margin]="{
            top:2
           }"
           (segmententer)="onLoupeSegmentEnter($event)"
           (shortcuttriggered)="onShortCutTriggered($event, 'signaldisplay_down', loupe)"
           (click)="onLoupeClick($event)"
           [audiochunk]="audiochunkDown"
           [height]="150"
           [settings]="loupeSettings"
           (alerttriggered)="onAlertTriggered($event)"
           [name]="'downLoupe'"
>
</app-loupe>
<div [hidden]="segmentselected" id="editor-placeholder">
  <div *ngIf="!segmentselected && topSelected" class="inner"
       [innerHTML]="'signal-gui.segment enter text' | transloco:{value: segmententer_shortc}">
  </div>
  <div *ngIf="!topSelected" class="inner" [innerHTML]="'signal-gui.selection text' | transloco">
  </div>
</div>
<app-transcr-editor #transcr
                    (markerInsert)="onMarkerInsert($event)"
                    (markerClick)="onMarkerClick($event)"
                    (keyup)="onKeyUp()"
                    (typing)="onEditorTyping($event)"
                    [ngStyle]="{display: (segmentselected) ? 'inherit': 'none'}"
                    [markers]="(transcrService.guidelines !== null) ? transcrService.guidelines.markers : null"
                    [easymode]="appStorage.easymode"
                    [audiochunk]="audiochunkDown"
                    [validationEnabled]="appStorage.usemode !== 'url' && (appStorage.usemode === 'demo' || settingsService.projectsettings.octra.validationEnabled)"
>
</app-transcr-editor>
