<div class="container">
  <h2>Help tools</h2>
  <div class="row">
    <div class="col-md-4 is-table-row">
      <div class="card">
        <div class="card-header">
          <button
            class="btn btn-success bmd-btn-fab bmd-btn-fab-sm"
            type="button"
          >
            1
          </button>
          Refresh App
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-text flex">
            This tool forces the App to reload and refreshComputedData the
            browser cache.
          </p>
          <button
            (click)="refreshApp()"
            class="btn btn-raised btn-primary col-12"
          >
            Refresh app
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 is-table-row">
      <div class="card">
        <div class="card-header">
          <button
            class="btn btn-success bmd-btn-fab bmd-btn-fab-sm"
            type="button"
          >
            2
          </button>
          Clear all Storage Data
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-text flex">
            This tool removes all local data including (transcript, logs and
            settings).
          </p>
          <button
            (click)="clearAllData()"
            class="btn btn-raised btn-danger col-12"
          >
            Clear all data permanently
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 is-table-row">
      <div class="card">
        <div class="card-header">
          <button
            class="btn btn-success bmd-btn-fab bmd-btn-fab-sm"
            type="button"
          >
            3
          </button>
          Stresstest
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-text flex">Test your browser's capabilities.</p>
          <a
            [routerLink]="['/stresstest']"
            [target]="'_blank'"
            class="btn btn-raised btn-info w-100"
          >
            Open Stresstest
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 is-table-row">
      <div class="card">
        <div class="card-header">
          <button
            class="btn btn-success bmd-btn-fab bmd-btn-fab-sm"
            type="button"
          >
            4
          </button>
          Backup local data
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-text flex">
            This tool backups your local octra data to a downloadable Zip
            Archive.
          </p>
          <a
            class="btn btn-raised text-light w-100"
            style="background-color: purple"
            (click)="backupLocalData()"
          >
            Backup local data
          </a>
          @if (localBackup) {
            <p class="p-2 text-center">
              <a
                [href]="localBackup.url"
                target="_blank"
                [download]="localBackup.name"
                ><i class="bi bi-floppy-fill"></i> Download Backup</a
              >
            </p>
          }
        </div>
      </div>
    </div>
    <div class="col-md-4 is-table-row">
      <div class="card">
        <div class="card-header">
          <button
            class="btn btn-success bmd-btn-fab bmd-btn-fab-sm"
            type="button"
          >
            5
          </button>
          Restore local backup
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-text flex">Restore a backup file using this tool.</p>

          <div>
            <input
              type="file"
              #file
              name="files"
              accept="application/json"
              (change)="onBackupFilesChange($event)"
              filter=".json"
            />
          </div>

          <button
            [disabled]="!backupFiles || backupFiles.length === 0"
            class="btn btn-raised text-light w-100"
            style="background-color: darkorange"
            (click)="importBackup(backupFiles![0])"
          >
            Backup local data
          </button>
          @if (localBackup) {
            <p class="p-2 text-center">
              <a
                [href]="localBackup.url"
                target="_blank"
                [download]="localBackup.name"
                ><i class="bi bi-floppy-fill"></i> Download Backup</a
              >
            </p>
          }
        </div>
      </div>
    </div>
  </div>
</div>
