.icon-invalid {
  color: red;
}

.icon-success,
.icon-invalid,
.icon-wait {
  margin-left: 5px;
}

.dropzone-table {
  margin: 0 auto;
}

.dropzone-table tr td {
  border: none;
  text-align: left;
  vertical-align: middle;
}

.dropzone-table tr td:first-child {
  text-align: center;
  padding-right: 5px;
}

.dropzone-table tbody td {
}

.dropzone-table tbody td:last-child {
  padding-left: 5px;
  text-align: left;
}

.progress {
  height: 13px !important;
  margin-bottom: 3px;
}

.progress-bar {
  font-size: 0.7rem;
}

.bi-check-lg {
  color: green;
  font-weight: bold;
}

.bi-trash3-fill {
  color: red;
}
