<div class="container panel" style="background-color:white;padding:20px;">
  <h3>{{"reload-file.header" | transloco}}</h3>
  <p>
    {{"reload-file.text" | transloco}}
  </p>
  <p>
    <b>{{"general.wanted" |transloco}}: {{getDropzoneFileString(sessionfile)}}</b><br/><br/>
  </p>
  <octra-dropzone #dropzone></octra-dropzone>

  <div class="btn-group w-100" role="group">
    <button mdbBtn color="secondary" mdbWavesEffect (click)="askForAbort()"
            class="waves-light">
      <fa-icon icon="sign-out-alt"></fa-icon>
      <span
        class=" d-none d-lg-inline"> {{"transcription.stop" | transloco}}</span>
    </button>
    <button mdbBtn mdbWavesEffect color="danger" (click)="newTranscription()"
            [disabled]="!(dropzone.status === 'valid')"
            class="waves-light">
      <fa-icon icon="file"></fa-icon>
      <span class="d-none d-lg-inline"> {{"transcription.new" | transloco}}</span>
    </button>
    <button mdbBtn mdbWavesEffect color="primary" (click)="onOfflineSubmit()"
            [disabled]="!(!isN(dropzone.oaudiofile) && sessionfile !== undefined && dropzone.oaudiofile.name === sessionfile.name && isN(dropzone.oannotation))"
            class="waves-light"
            type="button">
      <fa-icon icon="edit"></fa-icon>
      <span
        class="d-none d-lg-inline"> {{"transcription.start" | transloco}}</span>
    </button>
  </div>
</div>
