<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">
      {{ 'tools.reg-replace.name' | transloco }}
      <a
        [href]="manualURL + 'using-tools.html#search-replace'"
        target="_blank"
      >
        <i class="bi bi-question-circle text-info"></i>
      </a>
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <p>{{ 'tools.reg-replace.description' | transloco }}</p>
    <form>
      <div class="card" style="padding: 10px">
        <p [innerHTML]="'tools.reg-replace.inner description' | transloco"></p>
        <table class="table table-sm table-striped">
          <tbody>
            <tr class="align-middle">
              <td class="align-bottom pb-2 fit">
                {{ 'tools.reg-replace.pattern' | transloco }}:
              </td>
              <td>
                <ul
                  ngbNav
                  #nav="ngbNav"
                  [(activeId)]="state.patternType"
                  class="nav-tabs"
                >
                  <li [ngbNavItem]="'text'" class="ms-auto">
                    <button ngbNavLink class="px-2 py-1">
                      {{ 'g.text' | transloco }}
                    </button>
                    <ng-template ngbNavContent>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        name="regReplacePattern"
                        (ngModelChange)="somethingChanged()"
                        [(ngModel)]="state.patternText"
                      />
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="'regex'">
                    <button ngbNavLink class="px-2 py-1">
                      {{ 'g.regular expression' | transloco }}
                    </button>
                    <ng-template ngbNavContent>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        name="regReplacePattern"
                        [placeholder]="('g.example' | transloco) + ': [,.:]$'"
                        (ngModelChange)="somethingChanged()"
                        [(ngModel)]="state.patternText"
                      />
                    </ng-template>
                  </li>
                </ul>
                <div [ngbNavOutlet]="nav"></div>
              </td>
            </tr>
            <tr class="align-middle">
              <td class="fit">
                {{ 'tools.reg-replace.replace with' | transloco }}:
              </td>
              <td>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="regReplaceValue"
                  (ngModelChange)="somethingChanged()"
                  [(ngModel)]="state.replacement"
                />
              </td>
            </tr>
            <tr class="align-middle">
              <td class="fit">{{ 'g.levels' | transloco }}:</td>
              <td>
                @for (
                  level of annotationStoreService.transcript.levels;
                  track level.id
                ) {
                  <div
                    class="me-1 form-check border bg-white rounded d-inline-block py-1 px-2"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input d-inline-block ms-0 me-1"
                      [id]="'reg_replace_level_check_' + level.id"
                      name="levels"
                      (ngModelChange)="somethingChanged()"
                      [(ngModel)]="state.levels[level.name]"
                    />
                    <label
                      class="form-check-label pointer"
                      [for]="'reg_replace_level_check_' + level.id"
                      >{{ level.name }}</label
                    >
                  </div>
                }
              </td>
            </tr>
          </tbody>
        </table>
        @if (state.preview.active) {
          <div class="card mt-3">
            <div class="row p-2 align-items-center">
              <div class="col">
                <h5 style="font-size: 1.1rem" class="mb-0">
                  {{ 'g.preview' | transloco }}
                </h5>
              </div>
            </div>
            <div class="row g-0 border">
              <div class="col-md-3 bg-dark-subtle">
                <div class="list-group rounded-none">
                  @for (item of state.results; track item.levelName) {
                    <div
                      class="list-group-item list-group-item-action pointer p-1 px-2 rounded-top-0 rounded-bottom-0"
                      [ngClass]="{
                        active: state.preview.selectedLevel === item.levelName,
                      }"
                      (click)="state.preview.selectedLevel = item.levelName"
                    >
                      {{ item.levelName }}
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-9 p-2">
                @if (state.preview.active && state.results.length > 0) {
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th class="fit">#</th>
                        <th>{{ 'g.transcript' | transloco }}</th>
                        <th class="text-center fit">
                          {{ 'g.skip' | transloco }}?
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (
                        result of state.results;
                        track result.levelName;
                        let r = $index
                      ) {
                        @if (result.levelName === state.preview.selectedLevel) {
                          @for (
                            item of result.matches;
                            track item.unitID;
                            let i = $index
                          ) {
                            <tr>
                              <td class="fit">{{ $index + 1 }}</td>
                              <td [innerHTML]="item.html"></td>
                              <td class="text-center align-middle fit">
                                <input
                                  class="form-check-input pointer"
                                  type="checkbox"
                                  [(ngModel)]="item.skip"
                                  [name]="
                                    'reg_replace_check_skip_' + r + '_i' + i
                                  "
                                />
                              </td>
                            </tr>
                          }
                        }
                      }
                    </tbody>
                  </table>
                } @else {
                  <p class="text-center mt-3">No results.</p>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      (click)="close()"
      class="btn btn-secondary me-2"
      data-dismiss="modal"
      type="button"
    >
      {{ 'g.close' | transloco }}
    </button>

    <button class="btn btn-info me-2" (click)="execute(true)">
      {{ 'g.preview' | transloco }}
    </button>

    <button
      class="btn btn-primary"
      (click)="execute(false)"
      [ngClass]="{
        'btn-secondary': !state.preview.active || state.results.length === 0,
      }"
      [disabled]="!state.preview.active || state.results.length === 0"
    >
      {{ 'g.execute' | transloco }}
    </button>
  </div>
</div>
