#tools-table td {
  cursor: pointer;
}

#tools-table a {
  cursor: pointer;
}

progressbar {
  height: 20px;
}

.top-tr td {
  background-color: rgb(242, 242, 242);
}

.progress {
  height: 13px !important;
  margin-bottom: 3px;
}

.progress-bar {
  font-size: 0.7rem;
}

.modal-body {
  font-size: 0.9rem;
}

body .reg-replace-marker {
  display: inline;
  background-color: #ffd500;
}

.preview-table {
  table-layout: fixed;
}

.preview-table .checkbox-column{
  width: 120px;
}

.preview-table .num-column{
  width: 50px !important;
}
