#viewer {
  max-height: 200px;
}

#editor-placeholder {
  flex: auto;
  flex-direction: column;
  display: flex;
  background-color: white;
  border: 1px dashed gray;
  padding: 10px;
  width: 100%;
  text-align: center;
}

#editor-placeholder .inner {
  margin: auto 0;
}

.loupe {
  margin-top: 10px;
}

:host {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

octra-transcr-editor {
  width: 100% !important;
  height: 100% !important;
}
