<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">
      {{ 'modal.supported.header' | transloco }}
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <h4>{{ 'modal.supported.audio files' | transloco }}:</h4>
    <table class="w-100 table table-sm table-striped">
      <tbody>
        @for (format of supportedFormats; track format) {
          @for (extension of format.supportedFormats; track extension) {
            <tr>
              <td>
                *{{extension.extension}}
              </td>
              <td>
                max. {{extension.maxFileSize | filesize}}
              </td>
              <td>
                @if (extension.info) {
                  <i class="bi bi-info-circle" [ngbTooltip]="extension.info"></i>
                }
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
    <h4>{{ 'modal.supported.file formats for import' | transloco }}:</h4>

    <table class="table table-sm table-striped">
      <tbody>
        @for (elem of AppInfo.converters; track elem) { @if
        (elem.conversion.import) {
        <tr>
          <td>{{ elem.name }}</td>
          <td>{{ elem.application }}</td>
          <td>*{{ elem.extension }}</td>
          <td>
            @if (elem.notice !== '') {
            <i class="bi bi-info-circle" [ngbTooltip]="elem.notice"></i>
            }
          </td>
        </tr>
        } }
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button (click)="close()" class="btn btn-primary" type="button">
      {{ 'g.close' | transloco }}
    </button>
  </div>
</div>
