#bgProtocol {
    font-size: 12px;
    height: 200px;
    font-family: "Courier New", "Arial";
    border: 1px solid lightgray;
    padding: 5px;
}

.bugsent {
    position: absolute;
    right: 0;
    margin-right: 30px;
    top: 0;
    width: 100%;
    text-align: center;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}