<app-yes-no-modal #yesno></app-yes-no-modal>
<app-bugreport-modal #bugreport></app-bugreport-modal>
<app-supportedfiles-modal #supportedfiles></app-supportedfiles-modal>

<!--
<bs-modal #login_invalid>
    <bs-modal-header>
        <h4 class="modal-title">{{"modal.login.header" | translate}}</h4>
    </bs-modal-header>
    <bs-modal-body>
        {{"modal.login.text" | translate}}
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-primary" (click)="login_invalid.dismiss()">
            {{"general.OK" | translate}}
        </button>
    </bs-modal-footer>
</bs-modal>

<bs-modal #transcription_delete>
    <bs-modal-header>
        <h4 class="modal-title">{{"modal.transcription.delete.header" | translate}}</h4>
    </bs-modal-header>

    <bs-modal-body>
        <div [innerHTML]="'modal.transcription.delete.text' | translate"></div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="transcription_delete.dismiss()">
            {{"general.abort" | translate}}
        </button>
        <button type="button" class="btn btn-danger"
                (click)="transcription_delete.close();data.functions.ok()">
            {{"modal.transcription.delete.delete old" | translate}}
        </button>
    </bs-modal-footer>
</bs-modal>

<bs-modal #transcription_stop>
    <bs-modal-header>
        <h4 class="modal-title">{{"modal.transcription.stop.header" | translate}}?</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div [innerHTML]="'modal.transcription.stop.text' | translate">
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="transcription_stop.dismiss()">
            {{"general.continue" | translate}}
        </button>
        <button type="button" class="btn btn-primary"
                (click)="transcription_stop.close();data.functions.ok();">
            {{"general.quit" | translate}}
        </button>
    </bs-modal-footer>
</bs-modal>

<bs-modal #error>
    <bs-modal-body>
        <p style="text-align:center;color:red;">{{(data) ? data.text : ""}}</p>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="error.close()">
            {{"general.OK" |translate}}
        </button>
    </bs-modal-footer>
</bs-modal>
-->