<modal #yesno>
    <modal-body>
        <p style="text-align:center;">{{(data !== undefined) ? data.text : ''}}</p>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="data.functions.no();yesno.close()">
            {{"general.no" | translate}}
        </button>
        <button type="button" class="btn btn-danger" (click)="data.functions.yes();yesno.close()">
            {{"general.yes" | translate}}
        </button>
    </modal-footer>
</modal>

<modal #login_invalid>
    <modal-header>
        <h4 class="modal-title">{{"modal.login.header" | translate}}</h4>
    </modal-header>
    <modal-body>
        {{"modal.login.text" | translate}}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="login_invalid.dismiss()">
            {{"general.OK" | translate}}
        </button>
    </modal-footer>
</modal>

<modal #transcription_delete>
    <modal-header>
        <h4 class="modal-title">{{"modal.transcription.delete.header" | translate}}</h4>
    </modal-header>

    <modal-body>
        <div [innerHTML]="'modal.transcription.delete.text' | translate"></div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="transcription_delete.dismiss()">
            {{"general.abort" | translate}}
        </button>
        <button type="button" class="btn btn-danger"
                (click)="transcription_delete.close();data.functions.ok()">
            {{"modal.transcription.delete.delete old" | translate}}
        </button>
    </modal-footer>
</modal>

<modal #transcription_stop>
    <modal-header>
        <h4 class="modal-title">{{"modal.transcription.stop.header" | translate}}?</h4>
    </modal-header>
    <modal-body>
        <div [innerHTML]="'modal.transcription.stop.text' | translate">
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="transcription_stop.dismiss()">
            {{"general.continue" | translate}}
        </button>
        <button type="button" class="btn btn-primary"
                (click)="transcription_stop.close();data.functions.ok();">
            {{"general.quit" | translate}}
        </button>
    </modal-footer>
</modal>

<modal #error>
    <modal-body>
        <p style="text-align:center;color:red;">{{(data) ? data.text : ""}}</p>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="error.close()">
            {{"general.OK" |translate}}
        </button>
    </modal-footer>
</modal>
<modal #bugreport id="bugreport">
    <modal-header>
        <h3>{{'bug report.report an error' | translate}}</h3>
    </modal-header>
    <modal-body>
        <div *ngIf="bugsent" class="text-success bugsent">{{'bug report.sent' | translate}}</div>
        <form class="form-vertical">
            <fieldset>
                <div class="form-group">
                    <label for="inputEmail" class="col-md-2 control-label">{{'general.email' | translate}}</label>

                    <div class="col-md-10">
                        <input [(ngModel)]="bgemail" name="email" class="form-control" id="inputEmail"
                               placeholder="{{'general.email' | translate}}" type="email" email>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:20px;">
                    <label for="bgDescr" class="col-md-2 control-label">{{'general.description' | translate}}</label>

                    <div class="col-md-10">
                        <textarea [(ngModel)]="bgdescr" name="bgdescr" class="form-control" rows="3" id="bgDescr"
                                  maxlength="300"></textarea>
                        <span class="help-block">(German or English)</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox" style="margin-top:20px;">
                            <label>
                                <input [(ngModel)]="sendpro_obj" name="sendpro" #sendpro type="checkbox" checked>
                                {{"bug report.send protocol" | translate}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" [hidden]="!sendpro.checked">
                    <label for="bgProtocol" class="col-md-2 control-label">{{'general.protocol' | translate}}:</label>
                    <div class="col-md-10">
                        <textarea *ngIf="bugreport.visible" class="form-control" #bgProtocol
                                  [innerHTML]="bugService.getText()" id="bgProtocol"
                                  disabled></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </modal-body>
    <modal-footer>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="bugreport.dismiss()">
                {{"general.abort" | translate}}
            </button>
            <button type="button" class="btn btn-primary" (click)="sendBugReport()" [disabled]="!isvalid">
                {{"bug report.report an error" | translate}}
            </button>
        </modal-footer>
    </modal-footer>
</modal>
<modal #supportedfiles id="supportedfiles">
    <modal-header>
        <h3>{{'modal.supported.header' | translate}}</h3>
    </modal-header>
    <modal-body>
        <h4>{{'modal.supported.audio files' | translate}}:</h4>
        <table class="table table-responsive table-striped">
            <tr>
                <td><span *ngFor="let elem of AppInfo.audioformats; let i = index">*{{elem.extension}}{{(i < AppInfo.audioformats.length - 1) ? ',' : ''}} </span>
                </td>
            </tr>
        </table>
        <h4>{{'modal.supported.file formats for import' | translate}}:</h4>
        <table class="table table-responsive table-striped">
            <tr *ngFor="let elem of AppInfo.converters">
                <td *ngIf="elem.conversion.import">
                    {{elem.name}}
                </td>
                <td *ngIf="elem.conversion.import">{{elem.application}}</td>
                <td *ngIf="elem.conversion.import">*{{elem.extension}}</td>
            </tr>
        </table>
    </modal-body>
    <modal-footer>
        <modal-footer>
            <button type="button" class="btn btn-primary" (click)="supportedfiles.close();">
                {{"general.close" | translate}}
            </button>
        </modal-footer>
    </modal-footer>
</modal>