<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">✕</span>
    </button>
    <h5 class="modal-title" id="exampleModalLabel">{{"general.help" | transloco}}</h5>
  </div>
  <div class="modal-body" style="text-align: center;">
    <a class="btn btn-raised btn-info" href="https://clarin.phonetik.uni-muenchen.de/apps/octra/manual/1.4.0/"
       target="_blank">Open Manual</a>
  </div>
  <div class="modal-footer">
    <button (click)="close()" class="btn btn-primary" data-dismiss="modal" type="button">
      {{"general.close" | transloco}}
    </button>
</div>
