<div #modal="bs-modal" (onHidden)="onHidden()" aria-labelledby="dialog-sizes-name1" bsModal class="modal fade"
     id="supportedfiles"
     role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{"general.help" | transloco}}</h4>
        <button (click)="close()" aria-label="Close" class="close pull-right" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div #content class="modal-body" id="export-table" style="text-align: center;">
        <a class="btn btn-raised btn-info" href="https://clarin.phonetik.uni-muenchen.de/apps/octra/manual/1.4.0/"
           target="_blank">Open Manual</a>
      </div>
      <div class="modal-footer">
        <button (click)="close()" class="btn btn-primary" data-dismiss="modal" type="button">
          {{"general.close" | transloco}}
        </button>
      </div>
    </div>
  </div>
</div>
