<div class="audio-nav">
    <div class="row">
        <div class="col-md-7">
            <div class="row" role="group" style="height:100%;">
                <button *ngIf="!audioplaying" class="btn btn-info btn-raised w-20" name="play"
                   (mousedown)="onButtonClick('play'); " title="{{buttons.play.label}}">
                    <fa-icon icon="play"></fa-icon>
                </button>
                <button *ngIf="audioplaying" class="btn btn-info btn-raised w-20" name="pause"
                   (mousedown)="onButtonClick('pause')" title="{{buttons.pause.label}}">
                    <fa-icon icon="pause"></fa-icon>
                </button>
                <button class="btn btn-info btn-raised w-20" name="stop" (mousedown)="onButtonClick('stop')"
                   title="{{buttons.stop.label}}">
                    <fa-icon icon="stop"></fa-icon>
                </button>
                <button class="btn btn-info btn-raised w-20" [ngClass]="{active: replay}"
                   name="replay" (mousedown)="onButtonClick('replay')" title="{{buttons.replay.label}}">
                    <fa-icon icon="retweet"></fa-icon>
                </button>
                <button class="btn btn-info btn-raised w-20" name="step_back" title="{{buttons.backward.label}}"
                   (mousedown)="onButtonClick('backward')">
                    <fa-icon icon="step-backward"></fa-icon>
                </button>
                <button class="btn btn-info btn-raised w-20" name="step_back" title="{{buttons.backwardtime.label}}"
                   (mousedown)="onButtonClick('backward time')">
                    <fa-icon icon="step-backward"></fa-icon>
                    <fa-icon [icon]="['fa', 'clock']"></fa-icon>
                </button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row" role="group" style="height:100%;">
                <div class="btn btn-info btn-raised col-md-6">
                    <div class="row">
                        <div class="col-1 col-sm-4 col-md-3">
                            <fa-icon icon="volume-down"></fa-icon>
                        </div>
                        <div class="col-10 col-sm-4 col-md-6">
                            <input class="slider" type="range" name="volume" min="0" max="3" step="0.2" value="1"
                                   id="volume-slider" [(ngModel)]="volume" (change)="afterVolumeChange()"/>
                        </div>
                        <div class="col-1 col-sm-4 col-md-3">
                            <fa-icon icon="volume-up"></fa-icon>
                            <div class="slider-descr" [ngClass]="{'hidden-xs': responsive}">{{volume |
                                procent}}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn btn-info btn-raised col-md-6">
                    <div class="row">
                        <div class="col-1 col-sm-4 col-md-3" style="text-align: center;">
                            <img src="assets/img/components/audio-navigation/slow_white.png"
                                 style="height:16px;position: inherit;"
                                 alt="fast">
                        </div>
                        <div class="col-10 col-sm-4 col-md-6">
                            <input class="slider" type="range" name="speed" min="0.2" max="1.8" step="0.2" value="1"
                                   id="speed-slider"
                                   [(ngModel)]="speed" (change)="afterSpeedChange()"
                                   [disabled]="audioplaying"/>
                        </div>
                        <div class="col-1 col-sm-4 col-md-3"><img
                                src="assets/img/components/audio-navigation/fast_white.png" style="height:16px;"
                                alt="fast">
                            <div class="slider-descr" [ngClass]="{'hidden-xs': responsive}">{{speed}}x</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>