<app-audio-navigation #nav
                      (volumechange)="onVolumeChange($event)"
                      (aftervolumechange)="afterVolumeChange($event)"
                      (speedchange)="onSpeedChange($event)"
                      (afterspeedchange)="afterSpeedChange($event)"
                      (buttonclick)="onButtonClick($event)"
                      [audioplaying]="audiomanager.audioplaying"
                      [(responsive)]="settingsService.responsive.enabled"
                      [replay]="audiomanager.replay"
                      [buttons]="{
                        play: {
                            label: ('general.play' | translate),
                            shortcut: keyMap.getShortcut('AP', 'play_pause')
                        },
                        pause: {
                            label: ('general.pause' | translate),
                            shortcut: keyMap.getShortcut('AP', 'play_pause')
                        },
                        stop: {
                            label: ('general.stop' | translate),
                            shortcut: keyMap.getShortcut('AP', 'stop')
                        },
                        replay: {
                            label: ('general.replay' | translate),
                            shortcut: ''
                        },
                        backward: {
                            label: ('general.backward' | translate),
                            shortcut: keyMap.getShortcut('AP', 'step_backward')
                        },
                        backwardtime: {
                            label: ('general.backwardtime' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'step_backward')
                        }
                      }"
                      [easymode]="appStorage.easymode"
></app-audio-navigation>
<app-audioplayer #audioplayer (shortcuttriggered)="onShortcutTriggered($event)"
                 [audiochunk]="audiochunk"></app-audioplayer>
<app-transcr-editor #transcr
                    (typing)="afterTyping($event);"
                    (marker_insert)="onMarkerInsert($event)"
                    (marker_click)="onMarkerClick($event)"
                    [markers]="(transcrService.guidelines !== null) ? transcrService.guidelines.markers : null"
                    [easymode]="appStorage.easymode"
                    [audiochunk]="audiochunk"
                    (boundaryclicked)="onBoundaryClicked($event)"
                    (boundaryinserted)="onBoundaryInserted()"
                    (selectionchanged)="onSelectionChanged($event)"
>
</app-transcr-editor>