<app-audio-navigation #nav
                      (volumechange)="onVolumeChange($event)"
                      (aftervolumechange)="afterVolumeChange($event)"
                      (speedchange)="onSpeedChange($event)"
                      [speed]="appStorage.audioSpeed"
                      [volume]="appStorage.audioVolume"
                      (afterspeedchange)="afterSpeedChange($event)"
                      (buttonclick)="onButtonClick($event)"
                      [isAudioPlaying]="audiomanager.isPlaying"
                      [responsive]="settingsService.responsive.enabled"
                      [replay]="audiochunk.replay"
                      [buttons]="{
                        play: {
                            label: ('general.play' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'play_pause')
                        },
                        pause: {
                            label: ('general.pause' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'play_pause')
                        },
                        stop: {
                            label: ('general.stop' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'stop')
                        },
                        replay: {
                            label: ('general.replay' | transloco),
                            shortcut: ''
                        },
                        backward: {
                            label: ('general.backward' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'step_backward')
                        },
                        backwardtime: {
                            label: ('general.backwardtime' | transloco),
                            shortcut: keyMap.getShortcut('overlay', 'step_backward')
                        }
                      }"
                      [easymode]="appStorage.easymode"
></app-audio-navigation>
<app-audioplayer #audioplayer (shortcuttriggered)="onShortcutTriggered($event)"
                 [audiochunk]="audiochunk"></app-audioplayer>
<app-transcr-editor #transcr
                    (typing)="afterTyping($event);"
                    (keyup)="onKeyUp()"
                    (markerInsert)="onMarkerInsert($event)"
                    (markerClick)="onMarkerClick($event)"
                    [markers]="(transcrService.guidelines !== null) ? transcrService.guidelines.markers : null"
                    [easymode]="appStorage.easymode"
                    [audiochunk]="audiochunk"
                    (boundaryclicked)="onBoundaryClicked($event)"
                    (boundaryinserted)="onBoundaryInserted()"
                    (selectionchanged)="onSelectionChanged($event)"
                    [validationEnabled]="appStorage.usemode !== 'url' && (appStorage.usemode === 'demo' || settingsService.projectsettings.octra.validationEnabled)"
                    [(font)]="appStorage.editorFont"
>
</app-transcr-editor>
