<div id="window" #window>
    <div class="window-nav-top"><span class="glyphicon glyphicon-remove close" (click)="close();"></span></div>
    <app-audio-navigation #audionav
                          (buttonclick)="onButtonClick($event)"
                          (volumechange)="onVolumeChange($event)"
                          (aftervolumechange)="afterVolumeChange($event)"
                          (speedchange)="onSpeedChange($event)"
                          (afterspeedchange)="afterSpeedChange($event)"
                          [audioplaying]="audiomanager.audioplaying"
                          [replay]="audiomanager.replay"
                          [(responsive)]="settingsService.responsive.enabled"
                          [buttons]="{
                        play: {
                            label: ('general.play' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'play_pause')
                        },
                        pause: {
                            label: ('general.pause' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'play_pause')
                        },
                        stop: {
                            label: ('general.stop' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'stop')
                        },
                        replay: {
                            label: ('general.replay' | translate),
                            shortcut: ''
                        },
                        backward: {
                            label: ('general.backward' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'step_backward')
                        },
                        backwardtime: {
                            label: ('general.backward' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'step_backwardtime')
                        }
                      }"
                          [easymode]="easymode"

    ></app-audio-navigation>
    <app-loupe #loupe id="loupe"
               (shortcuttriggered)="onShortCutTriggered($event, 'loupe')"
               [audiochunk]="audiochunk"
    ></app-loupe>
    <app-transcr-editor #editor id="trancr"
                        (marker_insert)="onMarkerInsert($event)"
                        (marker_click)="onMarkerClick($event)"
                        [markers]="transcrService.guidelines.markers"
                        [easymode]="easymode"
                        [audiochunk]="audiochunk"
                        (boundaryclicked)="onBoundaryClicked($event)"
                        (typing)="afterTyping($event)"
    ></app-transcr-editor>
    <div class="window-nav-bottom">
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <a class="btn btn-default btn-raised" (click)="save();doit('left');">
                            <span *ngIf="responsive || easymode"
                                  [ngClass]="{'visible-xs visible-sm visible-md': responsive && !easymode}">
                                <span class="glyphicon glyphicon-floppy-save"></span>&
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </span>
                            <span *ngIf="!easymode" [ngClass]="{'hidden-xs hidden-sm hidden-md': responsive}">
                            {{"general.save" | translate}} &
                            {{"segments.previous" | translate}}
                            </span>
                        </a>
                        <a class="btn btn-default btn-raised" (click)="save();close();">
                            <span *ngIf="responsive || easymode"
                                  [ngClass]="{'visible-xs visible-sm visible-md': responsive && !easymode}">
                                <span class="glyphicon glyphicon-floppy-save"></span>
                            </span>
                            <span *ngIf="!easymode" [ngClass]="{'hidden-xs hidden-sm hidden-md': responsive}">
                            {{"general.save" | translate}} & {{"general.close" | translate}}
                            </span>
                        </a>
                        <a class="btn btn-default btn-raised" (click)="save();doit('right');">
                            <span *ngIf="responsive || easymode"
                                  [ngClass]="{'visible-xs visible-sm visible-md': responsive && !easymode}">
                                <span class="glyphicon glyphicon-floppy-save"></span>&
                                <span class="glyphicon glyphicon-menu-right"></span></span>
                            <span *ngIf="!easymode" [ngClass]="{'hidden-xs hidden-sm hidden-md': responsive}">
                            {{"general.save" | translate}} &
                            {{"segments.next" | translate}}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="black" (click)="close()"></div>