<div id="window" #window>
    <div class="window-nav-top">
        <fa-icon icon="times" class="close" (click)="close();"></fa-icon>
    </div>

    <app-audio-navigation #audionav
                          (buttonclick)="onButtonClick($event)"
                          (volumechange)="onVolumeChange($event)"
                          (aftervolumechange)="afterVolumeChange($event)"
                          (speedchange)="onSpeedChange($event)"
                          (afterspeedchange)="afterSpeedChange($event)"
                          [isAudioPlaying]="audiomanager.isPlaying"
                          [replay]="audiomanager.replay"
                          [(responsive)]="settingsService.responsive.enabled"
                          [buttons]="{
                        play: {
                            label: ('general.play' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'play_pause')
                        },
                        pause: {
                            label: ('general.pause' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'play_pause')
                        },
                        stop: {
                            label: ('general.stop' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'stop')
                        },
                        replay: {
                            label: ('general.replay' | translate),
                            shortcut: ''
                        },
                        backward: {
                            label: ('general.backward' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'step_backward')
                        },
                        backwardtime: {
                            label: ('general.backward' | translate),
                            shortcut: keyMap.getShortcut('overlay', 'step_backwardtime')
                        }
                      }"
                          [easymode]="easymode"

    ></app-audio-navigation>
    <app-loupe #loupe id="loupe"
               (shortcuttriggered)="onShortCutTriggered($event, 'loupe')"
               [audiochunk]="audiochunk"
               [height]="150"
    ></app-loupe>
    <app-transcr-editor #editor id="trancr"
                        (marker_insert)="onMarkerInsert($event)"
                        (marker_click)="onMarkerClick($event)"
                        [markers]="transcrService.guidelines.markers"
                        [easymode]="easymode"
                        [audiochunk]="audiochunk"
                        (boundaryclicked)="onBoundaryClicked($event)"
                        (typing)="afterTyping($event)"
    ></app-transcr-editor>
    <div class="window-nav-bottom">
        <div class="row" role="group">
            <button class="btn btn-info btn-raised col-md-4" (click)="save();doit('left');">
                            <span *ngIf="responsive || easymode"
                                  [ngClass]="{'d-lg-none': responsive && !easymode}">
                                <fa-icon icon="save"></fa-icon> & <fa-icon icon="arrow-left"></fa-icon>
                            </span>
                <span *ngIf="!easymode" [ngClass]="{'d-none d-lg-inline': responsive}">
                             {{"general.save" | translate}} &
                            {{"segments.previous" | translate}}
                            </span>
            </button>
            <button class="btn btn-info btn-raised col-md-4" (click)="save();close();">
                            <span *ngIf="responsive || easymode"
                                  [ngClass]="{'d-lg-none': responsive && !easymode}">
                                <fa-icon icon="save"></fa-icon>
                            </span>
                <span *ngIf="!easymode" [ngClass]="{'d-none d-lg-inline': responsive}">
                             {{"general.save" | translate}} & {{"general.close" | translate}}
                            </span>
            </button>
            <button class="btn btn-info btn-raised col-md-4" (click)="save();doit('right');"
                    *ngIf="segment_index < transcrService.currentlevel.segments.length - 1">
                            <span *ngIf="responsive || easymode"
                                  [ngClass]="{'d-lg-none': responsive && !easymode}">
                                <fa-icon icon="save"></fa-icon> & <fa-icon icon="arrow-right"></fa-icon>
                            </span>
                <span *ngIf="!easymode" [ngClass]="{'d-none d-lg-inline': responsive}">
                             {{"general.save" | translate}} &
                            {{"segments.next" | translate}}
                            </span>
            </button>
            <button class="btn btn-info btn-raised col-md-4" (click)="save();close();openOverview();"
                    *ngIf="segment_index === transcrService.currentlevel.segments.length - 1">
                            <span *ngIf="responsive || easymode"
                                  [ngClass]="{'d-lg-none': responsive && !easymode}">
                                <fa-icon icon="save"></fa-icon> & <fa-icon icon="eye"></fa-icon>
                            </span>
                <span *ngIf="!easymode" [ngClass]="{'d-none d-lg-inline': responsive}">
                             {{"general.save" | translate}} &
                            {{"general.overview" | translate}}
                            </span>
            </button>
        </div>
    </div>
</div>
<div id="black" (click)="close()"></div>