<div #window id="window">
  <div class="window-nav-top">
    <fa-icon (click)="close();" class="close" icon="times"></fa-icon>
  </div>
  <div #main>
    <div *ngIf="loading" [ngStyle]="{
    width: mainSize.width + 'px',
    height: mainSize.height + 'px'
    }" class="tw-loading">
      <div [ngStyle]="{
    width: mainSize.width + 'px',
    height: mainSize.height + 'px'
    }" class="background"></div>
      <fa-icon icon="spinner" size="4x" spin="spin"></fa-icon>
    </div>
    <app-asr-options *ngIf="settingsService.isASREnabled" [audioChunk]="audiochunk"
                     [enabled]="editor.rawText === ''"></app-asr-options>
    <oco-audio-navigation #audionav
                          (afterPlaybackRateChange)="afterSpeedChange($event)"
                          (afterVolumeChange)="afterVolumeChange($event)"
                          (buttonClick)="onButtonClick($event)"
                          (keyup)="onKeyUp()"
                          [audioChunk]="audiochunk"
                          [buttons]="{
                        play: {
                            label: ('general.play' | transloco),
                            shortcut: keyMap.getShortcut('overlay', 'play_pause')
                        },
                        pause: {
                            label: ('general.pause' | transloco),
                            shortcut: keyMap.getShortcut('overlay', 'play_pause')
                        },
                        stop: {
                            label: ('general.stop' | transloco),
                            shortcut: keyMap.getShortcut('overlay', 'stop')
                        },
                        replay: {
                            label: ('general.replay' | transloco),
                            shortcut: ''
                        },
                        backward: {
                            label: ('general.backward' | transloco),
                            shortcut: keyMap.getShortcut('overlay', 'step_backward')
                        },
                        backwardtime: {
                            label: ('general.backward' | transloco),
                            shortcut: keyMap.getShortcut('overlay', 'step_backwardtime')
                        }
                      }"
                          [easyMode]="easymode"
                          [playbackRate]="appStorage.audioSpeed"
                          [responsive]="settingsService.responsive.enabled"
                          [volume]="appStorage.audioVolume"

    ></oco-audio-navigation>
    <oco-audio-viewer #loupe (shortcuttriggered)="onShortCutTriggered($event, 'loupe')"
                      [audioChunk]="audiochunk"
                      [isMultiLine]="false"
                      [transcriptionLevel]="transcrService.currentlevel"
                      id="loupe"
    ></oco-audio-viewer>
    <app-transcr-editor #editor (boundaryclicked)="onBoundaryClicked($event)"
                        (boundaryinserted)="onBoundaryInserted()"
                        (markerClick)="onMarkerClick($event)"
                        (markerInsert)="onMarkerInsert($event)"
                        (typing)="afterTyping($event)"
                        [audiochunk]="audiochunk"
                        [easymode]="easymode"
                        [height]="100"
                        [markers]="transcrService.guidelines?.markers"
                        [validationEnabled]="validationEnabled"
                        id="trancr"
    ></app-transcr-editor>
    <div class="window-nav-bottom">
      <div class="row" role="group">
        <button (click)="save();doDirectionAction('left');" class="btn btn-info btn-raised col-md-4">
                            <span *ngIf="responsive || easymode"
                                  [ngClass]="{'d-lg-none': responsive && !easymode}">
                                <fa-icon icon="save"></fa-icon> & <fa-icon icon="arrow-left"></fa-icon>
                            </span>
          <span *ngIf="!easymode" [ngClass]="{'d-none d-lg-inline': responsive}">
                             {{"general.save" | transloco}} &
            {{"segments.previous" | transloco}}
                            </span>
        </button>
        <button (click)="save();close();" class="btn btn-info btn-raised col-md-4">
                            <span *ngIf="responsive || easymode"
                                  [ngClass]="{'d-lg-none': responsive && !easymode}">
                                <fa-icon icon="save"></fa-icon>
                            </span>
          <span *ngIf="!easymode" [ngClass]="{'d-none d-lg-inline': responsive}">
                             {{"general.save" | transloco}} & {{"general.close" | transloco}}
                            </span>
        </button>
        <button (click)="save();doDirectionAction('right');" *ngIf="hasSegmentBoundaries || (!isNextSegmentLastAndBreak(segmentIndex)
                    && segmentIndex < transcrService.currentlevel.segments.length - 1)"
                class="btn btn-info btn-raised col-md-4">
                            <span *ngIf="responsive || easymode"
                                  [ngClass]="{'d-lg-none': responsive && !easymode}">
                                <fa-icon icon="save"></fa-icon> & <fa-icon icon="arrow-right"></fa-icon>
                            </span>
          <span *ngIf="!easymode" [ngClass]="{'d-none d-lg-inline': responsive}">
                             {{"general.save" | transloco}} &
            {{"segments.next" | transloco}}
                            </span>
        </button>
        <!-- check if last segment ord if the next segment is a break -->
        <button (click)="save();close();openOverview();" *ngIf="!hasSegmentBoundaries && (segmentIndex === transcrService.currentlevel.segments.length - 1
                    || isNextSegmentLastAndBreak(segmentIndex))"
                class="btn btn-info btn-raised col-md-4">
                            <span *ngIf="responsive || easymode"
                                  [ngClass]="{'d-lg-none': responsive && !easymode}">
                                <fa-icon icon="save"></fa-icon> & <fa-icon icon="eye"></fa-icon>
                            </span>
          <span *ngIf="!easymode" [ngClass]="{'d-none d-lg-inline': responsive}">
          {{"general.save" | transloco}} & {{"general.overview" | transloco}}
        </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div (click)="close()" id="black"></div>
