<div class="overflow-box position-relative">
  <octra-alert id="alerts"></octra-alert>
  <octra-modal></octra-modal>
  <header>
    <octra-navigation #navigation [version]="version"></octra-navigation>
  </header>
  <main style="margin-top:40px;">
    <div
      *ngIf="environment.dev_version"
      class="d-none d-md-block"
      id="beta_mark"
    >
      in development
    </div>
    <div class="container-fluid flex">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container -->
  </main>
</div>
