<div class="overflow-box position-relative">
  <octra-alert id="alerts"></octra-alert>
  <octra-modal></octra-modal>
  <header>
    <octra-navigation #navigation></octra-navigation>
  </header>
  <main style="margin-top: 40px">
    @if (environment.dev_version) {
      <div class="d-none d-md-block beta_mark text-outline-white">
        in development
      </div>
    }
    @if (environment.beta_version) {
      <div class="d-none d-md-block beta_mark text-outline-white">beta</div>
    }
    <div class="container-fluid flex">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container -->
  </main>
</div>
