.container.inner {
  padding-bottom: 10px;
  padding-top: 10px;
  -moz-box-shadow: 0 1px 6px #a0a0a0; /* Firefox */
  -webkit-box-shadow: 0 1px 6px #a0a0a0; /* Chrome, Safari */
  box-shadow: 0 1px 6px #a0a0a0; /* CSS3 */
}

#beta_mark {
  color: red;
  position: absolute;
  margin-right: 10px;
  margin-top: 75px;
  right: 0;
  top: 0;
  z-index: 10;
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-fluid.flex {
  padding: 0;
}

.overflow-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.do-overflow {
  overflow-y: auto;
  overflow-x: hidden;
}
