<div class="overflow-box position-relative">
  <octra-alert id="alerts"></octra-alert>
  <octra-modal></octra-modal>
  <header>
    <octra-navigation #navigation></octra-navigation>
  </header>
  <main style="margin-top: 40px">
    <div
      *ngIf="environment.dev_version"
      class="d-none d-md-block beta_mark text-outline-white"
    >
      in development
    </div>
    <div
      *ngIf="environment.beta_version"
      class="d-none d-md-block beta_mark text-outline-white"
    >
      beta
    </div>
    <div class="container-fluid flex">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container -->
  </main>
</div>
