<div class="section" id="login">
  <div class="row">
    <div class="col-12" style="text-align: center;">
      <maint-banner
        *ngIf="settingsService.appSettings.octra.maintenanceNotification !== undefined &&
        settingsService.appSettings.octra.maintenanceNotification.active === 'active'"
        [serverURL]="settingsService.appSettings.octra.maintenanceNotification.apiURL"
        [language]="appStorage.language"></maint-banner>
      <p style="padding-top:10px;margin-bottom:10px;">
        <a routerLink fragment="" (click)="startDemo()">{{"login.demo"| transloco}}</a>
      </p>
    </div>
  </div>
  <div id="loginrow" class="row">
    <div #onlinemode id='onlinemode' class="col-md-6 card" style="padding:40px;">
      <p *ngIf="!apc.octra.responsive.enabled && !validSize" class="warning"
         [innerHTML]="'browser.small window width' | transloco">
      </p>
      <section>
        <h4 [ngClass]="{
                'alert-success': appStorage.usemode === 'online'
                }">{{ 'login.online mode' | transloco}}</h4>
        <p style="text-align: center;">
          {{"login.online mode description" | transloco}}
        </p>
        <div *ngIf="!apc.octra.login.enabled" id="login-disabled">
          {{'login.online mode disabled' | transloco}}
        </div>
        <div class="form-horizontal" *ngIf="apc.octra.login.enabled">
          <div style="text-align: center;margin-top:20%;" *ngIf="apiStatus === 'init'">
            <ng-container>
              <fa-icon icon="spinner" style="color:lightgray" spin="true" [size]="'4x'"></fa-icon>
            </ng-container>
          </div>
          <div style="text-align: center;margin-top:20%;" *ngIf="apiStatus !== 'available'">
            <ng-container *ngIf="apiStatus === 'unavailable'">
              <div class="alert alert-danger" style="padding:20px;">
                <div style="text-align: center;">
                  <fa-icon icon="exclamation-triangle" style="color:red" [size]="'4x'"></fa-icon>
                </div>
                <p style="text-align: justify; margin-top:10px;">
                  {{"login.api not available" | transloco}}
                </p>
              </div>
            </ng-container>
          </div>
          <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="apiStatus === 'available'">
            <fieldset>
              <div class="form-group">
                <label for="select111" class="control-label">
                  {{"general.select database" | transloco}}
                </label>
                <select id="select111" class="form-control" #selection aria-describedby="databaseName"
                        [(ngModel)]="member.project" name="project" required>
                  <option value="">{{"general.select database" | transloco}}</option>
                  <option *ngFor="let project of projects;" value="{{project}}">{{project}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="login-id" class="control-label">
                  {{ 'general.name' | transloco}}
                </label>
                <input class="form-control" id="login-id" aria-describedby="loginName"
                       name="login-id"
                       placeholder="{{ 'general.name' | transloco }}" [(ngModel)]="member.id"
                       pattern="\w+"
                       required
                />
              </div>
              <div class="form-group" *ngIf="passwordExists()">
                <label for="login-password" class="control-label">
                  {{ 'general.password' | transloco}}
                </label>
                <input class="form-control" id="login-password" type="password"
                       aria-describedby="password"
                       name="login-password"
                       placeholder="{{ 'general.password' | transloco }}" [(ngModel)]="member.password"
                />
              </div>
              <div class="form-group">
                <label for="jobno" class="control-label">
                  {{"general.job number" | transloco}}
                </label>
                <input class="form-control" type="number" id="jobno" aria-describedby="jobNumber"
                       name="jobno"
                       placeholder="{{'general.job number' | transloco}}" #t
                       [(ngModel)]="member.jobno"
                       pattern="[0-9]+"
                />
              </div>
              <div class="form-group">
                <button *ngIf="appStorage.usemode !== 'local'" aria-describedby="submitButton"
                        class="btn btn-primary btn-raised login-submit"
                        [disabled]="!f.valid"
                        name="login-submit">{{'general.login' | transloco}}
                </button>
                <button *ngIf="appStorage.usemode === 'local'"
                        class="btn btn-raised btn-primary btn-danger login-submit"
                        aria-describedby="submitButton"
                        [disabled]="!f.valid"
                        name="login-submit">{{'login.login and remove' | transloco}}
                </button>
              </div>
            </fieldset>
          </form>
        </div>
        <br/>
      </section>
    </div>
    <div #localmode id='localmode' class="col-md-6 card" style="padding:40px;">
      <section>
        <h4 [ngClass]="{
                'alert-success': appStorage.usemode === 'local'
                }">{{'login.local mode' | transloco}}
        </h4>
        <p style="text-align: center;">
          {{"login.local mode description" | transloco}}
        </p>
        <div>
          <div class="alert alert-warning"
               *ngIf="appStorage.usemode === 'local' && appStorage.sessionfile !== null"
               [innerHTML]="'login.old file found' | transloco:{file_label: getDropzoneFileString(sessionfile)}">
          </div>
          <div style="margin-top: 40px;">
            <app-octra-dropzone #dropzone [height]="'147px'"></app-octra-dropzone>
          </div>
          <button
            *ngIf="(appStorage.usemode === null || appStorage.usemode !== 'online') && (getFileStatus() != 'new' || appStorage.usemode === 'url')"
            [disabled]="!(getFileStatus() == 'start' || appStorage.usemode === 'url')" type="submit"
            id="offline-submit"
            class="btn btn-raised btn-primary"
            (click)="onOfflineSubmit()">
            {{'transcription.start' | transloco}}
          </button>
          <button
            *ngIf="appStorage.usemode === 'local' && (getFileStatus() == 'new' || getFileStatus() === 'start') else removeOldTranscription;"
            class="btn btn-raised btn-danger offline-delete-btn"
            (click)="onTranscriptionDelete()">
            {{'transcription.new' |transloco}}
          </button>
          <ng-template #removeOldTranscription>
            <button *ngIf="(appStorage.usemode !== null && appStorage.usemode !== undefined) &&
                    appStorage.usemode === 'online' && (getFileStatus() != 'new' || getFileStatus() != 'start')"
                    [disabled]="(getFileStatus() !== 'new' && getFileStatus() !== 'start')"
                    class="btn btn-raised btn-danger offline-delete-btn"
                    (click)="onOfflineSubmit()">{{'login.local and remove' |transloco}}</button>
          </ng-template>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="section">
  <footer class="footer">
    <div class="row">
      <div class="col-md-3">
        <a href="http://www.en.phonetik.uni-muenchen.de/" target="_blank">
          <img class="logo" src="assets/img/ipsx60.png" alt="IPS LMU Munich"/>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.phonetik.uni-muenchen.de/Bas/BasHomeeng.html" target="_blank">
          <img class="logo" src="assets/img/bas.png" alt="BAS"/>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.clarin-d.de/en/" target="_blank">
          <img class="logo" src="assets/img/clarin-d.png" alt="Clarin-D"/>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://github.com/IPS-LMU/octra" target="_blank"><img class="logo"
                                                                        src="assets/img/GitHub_Logo.png"
                                                                        alt="Github Logo"/></a>
      </div>
    </div>
  </footer>
</div>
