<div class="section" id="login">
    <div *ngIf="!valid_platform" class="bg-danger">
        <p *ngIf="!valid_platform" class="warning" [innerHTML]="'browser.invalid' | translate">
        </p>
        <p *ngIf="!valid_platform" class="warning">
            {{getValidBrowsers()}}
        </p>
    </div>
    <div id="loginrow" class="row">
        <div #onlinemode id='onlinemode' class="col-md-6 panel panel-default" style="padding:40px;">
            <p *ngIf="!apc.octra.responsive.enabled && !valid_size" class="warning"
               [innerHTML]="'browser.small window width' | translate">
            </p>
            <section>
                <h4 [ngClass]="{
                'bg-success': appStorage.uselocalmode == false
                }">{{ 'login.online mode' | translate}}</h4>
                <div *ngIf="!apc.octra.login.enabled" id="login-disabled">
                    {{'login.online mode disabled' | translate}}
                </div>
                <div *ngIf="apc.octra.login.enabled">
                    <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <fieldset>
                            <div>
                                <div class="form-group">
                                    <label for="login-id" class="control-label">
                                        {{ 'general.name' | translate}}
                                    </label>
                                    <input class="form-control" id="login-id"
                                           name="login-id"
                                           placeholder="{{ 'general.name' | translate }}" [(ngModel)]="member.id"
                                           pattern="\w+"
                                           required
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="select111" class="control-label">
                                        {{"general.select database" | translate}}
                                    </label>
                                    <select id="select111" class="form-control" #selection
                                            [(ngModel)]="member.project" name="project" required>
                                        <option value="">{{"general.select database" | translate}}</option>
                                        <option *ngFor="let project of projects;" value="{{project}}">{{project}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">

                                    <label for="jobno" class="control-label">
                                        {{"general.job number" | translate}}
                                    </label>
                                    <input class="form-control" type="number" id="jobno"
                                           name="jobno"
                                           placeholder="{{'general.job number' | translate}}" #t
                                           [(ngModel)]="member.jobno"
                                           pattern="[0-9]+"
                                    />
                                </div>
                                <div class="form-group">
                                    <input *ngIf="!appStorage.uselocalmode" class="form-control" type="submit"
                                           id="login-submit"
                                           class="btn btn-raised btn-primary" [ngClass]="{
                                           'btn-danger': (appStorage.uselocalmode && appStorage.sessionfile !== null)
                                           }"
                                           [disabled]="!f.valid"
                                           name="login-submit" value="{{'general.login' | translate}}"/>
                                    <input *ngIf="appStorage.uselocalmode && appStorage.sessionfile !== null"
                                           class="form-control btn btn-raised btn-dange" type="submit" id="login-submit"
                                           [disabled]="!f.valid"
                                           name="login-submit" value="{{'login.login and remove' | translate}}"/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <br/>
            </section>
        </div>
        <div #localmode id='localmode' class="col-md-6 panel panel-default" style="padding:40px;">
            <section>
                <h4 [ngClass]="{
                'bg-success': appStorage.uselocalmode
                }">{{'login.local mode' | translate}}
                </h4>
                <div>
                    <p class="bg-warning" *ngIf="appStorage.uselocalmode && appStorage.sessionfile !== null"
                       [innerHTML]="'login.old file found' | translate:{file_label: getDropzoneFileString(sessionfile)}">
                    </p>
                    <app-octra-dropzone #dropzone></app-octra-dropzone>
                    <input *ngIf="(appStorage.uselocalmode === null || appStorage.uselocalmode) && getFileStatus() != 'new'"
                           [disabled]="!(getFileStatus() == 'start')" type="submit"
                           id="offline-submit"
                           class="btn btn-raised btn-primary" value="{{'transcription.start' | translate}}"
                           (click)="onOfflineSubmit()"/>

                    <input *ngIf="appStorage.uselocalmode && getFileStatus() == 'new'"
                           id="offline-delete-btn"
                           class="btn btn-raised btn-danger"
                           (click)="modService.show('transcription_delete', '', {ok: newTranscription})"
                           value="{{'transcription.new' |translate}}"/>
                    <input *ngIf="(appStorage.uselocalmode !== null && appStorage.uselocalmode !== undefined) &&
                    !appStorage.uselocalmode && (getFileStatus() != 'new' || getFileStatus() != 'start')"
                           id="offline-delete-btn"
                           [disabled]="(getFileStatus() !== 'new' && getFileStatus() !== 'start')"
                           class="btn btn-raised btn-danger"
                           (click)="onOfflineSubmit()"
                           value="{{'login.local and remove' |translate}}"/>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="section">
    <footer class="footer">
        <div class="container">
            <div class="col-md-3">
                <a href="http://www.en.phonetik.uni-muenchen.de/" target="_blank">
                    <img class="logo" src="assets/img/ipsx60.png" alt="IPS LMU Munich"/>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.phonetik.uni-muenchen.de/Bas/BasHomeeng.html" target="_blank">
                    <img class="logo" src="assets/img/bas.png" alt="BAS"/>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.clarin-d.de/en/" target="_blank">
                    <img class="logo" src="assets/img/clarin-d.png" alt="Clarin-D"/>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/IPS-LMU/octra" target="_blank"><img class="logo"
                                                                                src="assets/img/GitHub_Logo.png"
                                                                                alt="Github Logo"/></a>
            </div>
        </div>
    </footer>
</div>