h4 {
    margin-top: 0;
    text-align: center;
    padding: 10px
}

#login {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.login-id-label,
.login-pw-label {
    font-size: 1em;
}

#login-pw,
#login-id {
    font-size: 1.3em;
    width: 100%;
    padding: 5px;
}

#login-submit,
#offline-submit,
#offline-delete-btn {
    width: 100%;
}

.ng-touched .ng-invalid {
    border-bottom: 2px solid red;
}

#login-disabled {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

.form-group {
    margin: 0;
    margin-bottom: 0;
}

#loginrow {
}

@media (min-width: 990px) {
    #loginrow {
        flex: auto;
        display: flex;
    }
}

footer .logo {
    height: 60px;
    margin-bottom: 10px;
}

:host {
    display: flex;
    flex-direction: column;
    flex: auto;
}