<div class="section" id="login">
    <div class="ro">
        <div class="col-12" style="text-align: center;">
            <p style="padding-top:10px;margin-bottom:10px;">
                <a routerLink fragment="" (click)="startDemo()">{{"login.demo"|translate}}</a>
            </p>
        </div>
    </div>
    <div id="loginrow" class="row">
        <div #onlinemode id='onlinemode' class="col-md-6 card" style="padding:40px;margin-bottom:20px;">
            <p *ngIf="!apc.octra.responsive.enabled && !valid_size" class="warning"
               [innerHTML]="'browser.small window width' | translate">
            </p>
            <section>
                <h4 [ngClass]="{
                'alert-success': appStorage.usemode === 'online'
                }">{{ 'login.online mode' | translate}}</h4>
                <p style="text-align: center;">
                    {{"login.online mode description" | translate}}
                </p>
                <div *ngIf="!apc.octra.login.enabled" id="login-disabled">
                    {{'login.online mode disabled' | translate}}
                </div>
                <div class="form-horizontal" *ngIf="apc.octra.login.enabled">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <fieldset>
                            <div class="form-group">
                                <label for="select111" class="control-label">
                                    {{"general.select database" | translate}}
                                </label>
                                <select id="select111" class="form-control" #selection aria-describedby="databaseName"
                                        [(ngModel)]="member.project" name="project" required>
                                    <option value="">{{"general.select database" | translate}}</option>
                                    <option *ngFor="let project of projects;" value="{{project}}">{{project}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="login-id" class="control-label">
                                    {{ 'general.name' | translate}}
                                </label>
                                <input class="form-control" id="login-id" aria-describedby="loginName"
                                       name="login-id"
                                       placeholder="{{ 'general.name' | translate }}" [(ngModel)]="member.id"
                                       pattern="\w+"
                                       required
                                />
                            </div>
                            <div class="form-group" *ngIf="passwordExists()">
                                <label for="login-password" class="control-label">
                                    {{ 'general.password' | translate}}
                                </label>
                                <input class="form-control" id="login-password" type="password"
                                       aria-describedby="password"
                                       name="login-password"
                                       placeholder="{{ 'general.password' | translate }}" [(ngModel)]="member.password"
                                />
                            </div>
                            <div class="form-group">
                                <label for="jobno" class="control-label">
                                    {{"general.job number" | translate}}
                                </label>
                                <input class="form-control" type="number" id="jobno" aria-describedby="jobNumber"
                                       name="jobno"
                                       placeholder="{{'general.job number' | translate}}" #t
                                       [(ngModel)]="member.jobno"
                                       pattern="[0-9]+"
                                />
                            </div>
                            <div class="form-group">
                                <button *ngIf="appStorage.usemode !== 'local'" aria-describedby="submitButton"
                                        class="btn btn-primary btn-raised login-submit"
                                        [ngClass]="{
                                           'btn-danger': (appStorage.usemode === 'local' && appStorage.sessionfile !== null)
                                           }"
                                        [disabled]="!f.valid"
                                        name="login-submit">{{'general.login' | translate}}
                                </button>
                                <button *ngIf="appStorage.usemode === 'local'"
                                        class="btn btn-raised btn-primary btn-danger login-submit"
                                        aria-describedby="submitButton"
                                        [disabled]="!f.valid"
                                        name="login-submit">{{'login.login and remove' | translate}}
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <br/>
            </section>
        </div>
        <div #localmode id='localmode' class="col-md-6 card" style="padding:40px;margin-bottom:20px;">
            <section>
                <h4 [ngClass]="{
                'alert-success': appStorage.usemode === 'local'
                }">{{'login.local mode' | translate}}
                </h4>
                <p style="text-align: center;">
                    {{"login.local mode description" | translate}}
                </p>
                <div>
                    <div class="alert alert-warning"
                         *ngIf="appStorage.usemode === 'local' && appStorage.sessionfile !== null"
                         [innerHTML]="'login.old file found' | translate:{file_label: getDropzoneFileString(sessionfile)}">
                    </div>
                    <app-octra-dropzone #dropzone></app-octra-dropzone>
                    <input *ngIf="(appStorage.usemode === null || appStorage.usemode === 'local' || appStorage.usemode === 'url') && getFileStatus() != 'new'"
                           [disabled]="!(getFileStatus() == 'start')" type="submit"
                           id="offline-submit"
                           class="btn btn-raised btn-primary" value="{{'transcription.start' | translate}}"
                           (click)="onOfflineSubmit()"/>

                    <input *ngIf="appStorage.usemode === 'local' && getFileStatus() == 'new'"
                           class="btn btn-raised btn-danger offline-delete-btn"
                           (click)="onTranscriptionDelete()"
                           value="{{'transcription.new' |translate}}"/>
                    <input *ngIf="(appStorage.usemode !== null && appStorage.usemode !== undefined) &&
                    appStorage.usemode === 'online' && (getFileStatus() != 'new' || getFileStatus() != 'start')"
                           [disabled]="(getFileStatus() !== 'new' && getFileStatus() !== 'start')"
                           class="btn btn-raised btn-danger offline-delete-btn"
                           (click)="onOfflineSubmit()"
                           value="{{'login.local and remove' |translate}}"/>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="section">
    <footer class="footer">
        <div class="row">
            <div class="col-md-3">
                <a href="http://www.en.phonetik.uni-muenchen.de/" target="_blank">
                    <img class="logo" src="assets/img/ipsx60.png" alt="IPS LMU Munich"/>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.phonetik.uni-muenchen.de/Bas/BasHomeeng.html" target="_blank">
                    <img class="logo" src="assets/img/bas.png" alt="BAS"/>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.clarin-d.de/en/" target="_blank">
                    <img class="logo" src="assets/img/clarin-d.png" alt="Clarin-D"/>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/IPS-LMU/octra" target="_blank"><img class="logo"
                                                                                src="assets/img/GitHub_Logo.png"
                                                                                alt="Github Logo"/></a>
            </div>
        </div>
    </footer>
</div>