<span class="asr-label">ASR -</span>
<div id="asr-bar">
  <div #dropdown ngbDropdown class="btn-group dropend">
    <label
      for="dropdownMenuButton"
      style="vertical-align: middle; margin-right: 10px"
    >
      {{ 'g.Language' | transloco }}:
    </label>
    <button
      class="btn btn-info dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      aria-expanded="false"
      ngbDropdownToggle
    >
      <ng-container
        *ngIf="asrService.selectedLanguage === undefined; else asrAllSet"
      >
        {{ 'asr.without asr' | transloco }}
      </ng-container>
      <ng-template #asrAllSet>
        {{ asrService.selectedLanguage.name }} ({{
          getShortCode(asrService.selectedLanguage.code)
        }}) [{{ asrService.selectedLanguage.asr }}]
      </ng-template>
    </button>
    <div
      ngbDropdownMenu
      class="dropdown-menu"
      aria-labelledby="dropdownMenuButton"
      style="padding: 5px; height: 300px; overflow-y: scroll"
    >
      <p style="font-size: 0.9em; text-align: center">
        {{ 'asr.click on logo' | transloco }}
      </p>
      <table class="table table-hover languageTable">
        <thead>
          <tr>
            <th>{{ 'g.Language' | transloco }}</th>
            <th>{{ 'g.Service Provider' | transloco }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td (click)="onASRLangChanged()" colspan="2">
              {{ 'asr.without asr' | transloco }}
            </td>
          </tr>
          <ng-container
            *ngFor="
              let lang of appSettings.octra.plugins.asr.languages;
              let i = index
            "
          >
            <tr
              [ngClass]="{
                selected:
                  !(asrService.selectedLanguage === undefined) &&
                  asrService.selectedLanguage.code === lang.code &&
                  asrService.selectedLanguage.asr === lang.asr
              }"
            >
              <td (click)="onASRLangChanged(lang)" class="col-language">
                <ng-container
                  *ngIf="lang !== undefined && lang.state === 'active'"
                >
                  {{ lang.name }} ({{ getShortCode(lang.code) }}) [{{
                    lang.asr
                  }}]
                </ng-container>
                <ng-container
                  *ngIf="lang !== undefined && lang.state === 'inactive'"
                >
                  {{ lang.name }} ({{ getShortCode(lang.code) }}) [{{
                    lang.asr
                  }}] (currently not available)
                </ng-container>
              </td>
              <td class="col-asr">
                <!-- [outsideClick]="true"
              TODO mdb: find replacement for popover
              [popover]="asrDescription" [src]="serviceProviders[lang.asr]?.logoURL" class="logo"
                   popoverTitle="Service Information"
                   container="#asr-bar"
                   triggers="focus"
              -->
                <ng-template #asrDescription>
                  <table class="table table-sm table-borderless">
                    <tbody>
                      <tr>
                        <td>
                          <i class="bi bi-database-fill"></i>
                        </td>
                        <td>
                          {{ serviceProviders[lang.asr]?.dataStoragePolicy }}
                        </td>
                      </tr>
                      <tr
                        *ngIf="
                          serviceProviders[lang.asr].maxSignalDuration !==
                          undefined
                        "
                      >
                        <td>
                          <i class="bi bi-exclamation-triangle"></i>
                        </td>
                        <td>
                          max audio duration:
                          {{ serviceProviders[lang.asr].maxSignalDuration }}
                          seconds
                        </td>
                      </tr>
                      <tr
                        *ngIf="
                          serviceProviders[lang.asr].maxSignalSize !== undefined
                        "
                      >
                        <td>
                          <i class="bi bi-exclamation-triangle"></i>
                        </td>
                        <td>
                          max file size:
                          {{ serviceProviders[lang.asr].maxSignalSize }} MB
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <i class="bi bi-person-check"></i>
                        </td>
                        <td>
                          <a
                            [href]="serviceProviders[lang.asr]?.termsURL"
                            target="_blank"
                            >Terms &amp; Conditions</a
                          >
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <i class="bi bi-globe-americas"></i>
                        </td>
                        <td>
                          <a
                            [href]="serviceProviders[lang.asr]?.homepageURL"
                            target="_blank"
                            >Homepage</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div
    #dropdown2
    ngbDropdown
    class="btn-group dropend"
    style="margin-left: 10px"
  >
    <label
      for="dropdownMenuButton2"
      style="vertical-align: middle; margin-right: 10px"
    >
      {{ 'g.SELECT ACTION' | transloco }}
    </label>
    <button
      [disabled]="
        asrService.selectedLanguage === undefined ||
        asrService.selectedLanguage === undefined
      "
      class="btn btn-info dropdown-toggle"
      type="button"
      id="dropdownMenuButton2"
      aria-expanded="false"
      ngbDropdownToggle
    >
      <ng-container
        *ngIf="asrService.selectedLanguage === undefined; else asrAllSet"
      >
        {{ 'asr.without asr' | transloco }}
      </ng-container>
      <ng-template #asrAllSet>
        {{ asrService.selectedLanguage.name }} ({{
          getShortCode(asrService.selectedLanguage.code)
        }}) [{{ asrService.selectedLanguage.asr }}]
      </ng-template>
    </button>
    <div
      ngbDropdownMenu
      class="dropdown-menu"
      aria-labelledby="dropdownMenuButton"
      style="padding: 5px"
    >
      <ng-container *ngIf="asrService.queue.status !== 'STARTED'">
        <li role="menuitem">
          <button (click)="startASRForThisSegment()" class="dropdown-item">
            {{ 'asr.start this segment' | transloco }}
          </button>
        </li>
        <li role="menuitem">
          <button (click)="startASRForAllSegmentsNext()" class="dropdown-item">
            {{ 'asr.start for all next' | transloco }}
          </button>
        </li>
      </ng-container>
      <ng-container *ngIf="asrService.queue.status === 'STARTED'">
        <li role="menuitem">
          <button (click)="stopASRForThisSegment()" class="dropdown-item">
            {{ 'asr.stop this segment' | transloco }}
          </button>
        </li>
        <li role="menuitem">
          <button class="dropdown-item">
            {{ 'asr.stop for all next' | transloco }}
          </button>
        </li>
        <li role="menuitem">
          <button (click)="stopASRForAll()" class="dropdown-item">
            {{ 'asr.stop all' | transloco }}
          </button>
        </li>
      </ng-container>
    </div>
  </div>
  <a [href]="manualURL + 'using-asr'" style="margin-left: 10px" target="_blank">
    <i class="bi bi-question-circle-fill"></i>
  </a>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
