.speaker-column,
.control-column {
  vertical-align: middle;
}

.control-column {
  text-align: center;
}

.label-column {
  min-width: 80px;
  vertical-align: middle;
  text-align: center;
}

td.fitwidth {
  width: 1px;
  white-space: nowrap;
}

.active-column {
  text-align: center;
  vertical-align: middle;
}

.time-column {
  vertical-align: middle;
  cursor: pointer;
}

.viewer {
  height: 60px;
  display: flex;
  flex: auto;
  flex-direction: column;
  background-color: white;
}

:host {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 300px;
}

#scroll-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
}

.active-playback {
  background-color: yellow;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#transcription-panel {
  background-color: white;
}

.ng-fa-icon[ng-reflect-icon="fas,play"]:hover,
.ng-fa-icon[ng-reflect-icon="fas,stop"]:hover {
  cursor: pointer;
}

.segment-selected td {
  background-color: #1e1ea2;
  color: white;
}

#actionsDropdown {
  padding: 5px;
  font-size: 0.8em;
}

.sub-header {
  background-color: whitesmoke;
}

.dropdown-menu {
  min-width: 200px;
}

.dropdown-menu table {
  width: 100%;
}

.dropdown-menu table tbody tr td {
  border: none;
}

.dropdown-row {
  padding: 3px 10px 3px 10px;
}

.dropdown-row:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

.dropdown-row td {
  font-weight: normal;
  font-size: 0.8em;
  min-height: 20px;
  padding: 10px;
}

.dropdown-icon {
  padding-left: 15px !important;
  vertical-align: middle;
}

.dropdown-option {
  padding-left: 0 !important;
  padding-right: 15px !important;
}
