<octra-audio-navigation
  [buttons]="{
                        play: {
                            label: ('general.play' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'play_pause')
                        },
                        pause: {
                            label: ('general.pause' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'play_pause')
                        },
                        stop: {
                            label: ('general.stop' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'stop')
                        },
                        replay: {
                            label: ('general.replay' | transloco),
                            shortcut: ''
                        },
                        backward: {
                            label: ('general.backward' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'step_backward')
                        },
                        backwardtime: {
                            label: ('general.backwardtime' | transloco),
                            shortcut: keyMap.getShortcut('overlay', 'step_backward')
                        }
                      }"
  [easyMode]="appStorage.easymode"
  [playbackRate]="appStorage.audioSpeed"
  [audioChunk]="textEditor.audiochunk"
  [responsive]="settingsService.responsive.enabled"
  [volume]="appStorage.audioVolume"
></octra-audio-navigation>
<octra-validation-popover #validationPopover
                          [ngStyle]="{
                                'margin-left': popovers.validation.location.x + 'px',
                                'margin-top': popovers.validation.location.y + 'px'
                            }"></octra-validation-popover>
<table class="table table-bordered bg-white">
  <thead>
  <tr id="table-head">
    <th></th>
    <th style="text-align: center;">{{"general.time" | transloco}}</th>
    <th style="vertical-align: middle;text-align: center;">{{"general.speaker" | transloco}}</th>
    <th>{{"general.transcript" | transloco}}</th>
    <th style="text-align: center; vertical-align: middle;"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let segment of shownSegments; let i = index;" class="segment-row">
    <td class="active-column fitwidth">
      <fa-icon *ngIf="i === textEditor.selectedSegment; else checkExclamation;" [icon]="['fas', 'circle']"
               style="color:green;font-size: 10px;"></fa-icon>
      <ng-template #checkExclamation>
        <fa-icon [icon]="['fas', 'exclamation-triangle']" [ngStyle]="{
                  'color': 'red',
                  'display': ((segment.transcription.html.indexOf('<span class=\'val-error\'') > -1) ? 'normal': 'none')}"
                 class="segment-warning">
        </fa-icon>
      </ng-template>
    </td>
    <td class="time-column fitwidth" [ngClass]="{
    'alert-success': segment.transcription.text !== '' && segment.transcription.text !== transcrService.breakMarker.code,
    'alert-info': segment.transcription.text === transcrService.breakMarker.code,
    'alert-danger': segment.transcription.text === ''
  }">
      {{getStartPoint(i) | timespan: {
      showMilliSeconds: true,
      showHour: true
    }
      }}
    </td>
    <td class="label-column fitwidth" [ngClass]="{
    'alert-success': segment.transcription.text !== '' && segment.transcription.text !== transcrService.breakMarker.code,
    'alert-info': segment.transcription.text === transcrService.breakMarker.code,
    'alert-danger': segment.transcription.text === ''
  }" #labelCol (keydown)="onLabelKeyDown($event, labelCol, i)" (mousedown)="onLabelMouseDown(labelCol)">
      {{segment.label}}
    </td>

    <td class="transcript-column"
        *ngIf="textEditor.state === 'active' && textEditor.selectedSegment === i; else editorNotActive"
        [ngClass]="{
    'alert-success': segment.transcription.text !== '' && segment.transcription.text !== transcrService.breakMarker.code,
    'alert-info': segment.transcription.text === transcrService.breakMarker.code,
    'alert-danger': segment.transcription.text === ''
  }">
      <octra-audio-viewer *ngIf="!showSignalDisplay" class="viewer" #viewer [settings]="audioViewerSettings"
                          [audioChunk]="textEditor.audiochunk"
                          [isMultiLine]="false" [transcriptionLevel]="transcrService.currentlevel"
      >
      </octra-audio-viewer>
      <octra-transcr-editor #transcrEditor
                            (onkeyup)="onKeyUp($event, i)"
                            [audiochunk]="textEditor.audiochunk"
                            [height]="60"
                            [markers]="(transcrService.guidelines !== null) ? transcrService.guidelines.markers : null"
      ></octra-transcr-editor>
    </td>
    <ng-template #editorNotActive>
      <td (mousedown)="onTranscriptCellMouseOver($event, i); onTranscriptCellMouseDown($event, i);"
          (mousemove)="onTranscriptCellMouseOver($event, i)"
          [innerHTML]="sanitizeHTML(segment.transcription.html)" class="transcript-column" [ngClass]="{
    'alert-success': segment.transcription.text !== '' && segment.transcription.text !== transcrService.breakMarker.code,
    'alert-info': segment.transcription.text === transcrService.breakMarker.code,
    'alert-danger': segment.transcription.text === ''
  }"></td>
    </ng-template>

    <td class="control-column" style="width:100px;" [ngClass]="{
    'alert-success': segment.transcription.text !== '' && segment.transcription.text !== transcrService.breakMarker.code,
    'alert-info': segment.transcription.text === transcrService.breakMarker.code,
    'alert-danger': segment.transcription.text === ''
  }">
      <fa-icon [icon]="['fas', 'play']"></fa-icon>
    </td>
  </tr>
  <tr>
    <td class="active-column fitwidth">
    </td>
    <td class="time-column fitwidth">
      {{ audioChunk.time.duration.unix| timespan: {
      showMilliSeconds: true,
      showHour: true
    }
      }}
    </td>
    <td class="transcript-column" colspan="3" style="text-align: center;">
      <hr/>
    </td>
  </tr>
  </tbody>
</table>
