.speaker-column,
.control-column {
  vertical-align: middle;
}

.control-column {
  text-align: center;
}

.label-column {
  min-width: 80px;
  vertical-align: middle;
  text-align: center;
}

td.fitwidth {
  width: 1px;
  white-space: nowrap;
}

.active-column {
  text-align: center;
  vertical-align: middle;
}

.time-column {
  vertical-align: middle;
}

.viewer {
  height: 60px;
  display: flex;
  flex: auto;
  flex-direction: column;
  background-color: white;
}

:host {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 300px;
}

#scroll-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
}
