.item {
  margin-right: 3px;
  border-radius: 3px;
  height: 40px;
}

.deactivated {
  opacity: 0.5;
  cursor: not-allowed;
}

.naming-placeholder {
  border: 1px solid cornflowerblue;
  background-color: lightblue;
}

.namingConvention-dropdown {
  display: inline;
}

.namingConventionDragDrop {
  display: inline-block;
  height: 40px;
  margin-left: 5px;
}

.naming-convention.preview {
  margin-top: -10px;
}

.ng-fa-icon {
  cursor: default;
}

:host {
  padding: 5px;
  display: block;
  background-color: whitesmoke;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.naming-item {
  display: inline-block;
  border: 1px solid gray;
  padding: 6px;
  user-select: none;
  font-size: 13px;
  border-radius: 3px;
  justify-content: center;
  align-items: normal;
  cursor: grab;
}

.naming-item.naming-placeholder.ng-star-inserted.gu-mirror {
  font-size: 13px !important;
  height: unset !important;
  padding: 5px !important;
  width: auto !important;
}

.naming-content {
  display: inline;
}

.naming-text {
  background-color: white;
  cursor: pointer;
}

.naming-content fa-icon {
  margin-left: 3px;
  cursor: pointer;
}
