<div id="fastbar">
  <div class="btn-group w-100 p-2">
    <a (click)="shortcutbtnclicked.emit()" class="w-100">
      <i class="bi bi-keyboard align-middle"></i>
      @if (!appStorage.easyMode) {
      <span class="d-none d-md-inline"> {{ buttonLabels.shortcuts }}</span>
      } @if (!appStorage.easyMode) {
      <span class="d-none d-lg-inline"> [ALT + 8]</span>
      }</a
    >
    @if (appStorage.useMode !== 'url') {
    <a (click)="guidelinesbtnclicked.emit()" class="w-100">
      <i class="bi bi-card-list"></i>
      @if (!appStorage.easyMode) {
      <span class="d-none d-md-inline"> {{ buttonLabels.guidelines }}</span>
      } @if (!appStorage.easyMode) {
      <span class="d-none d-lg-inline"> [ALT + 9]</span>
      }
    </a>
    }
    <a (click)="overviewbtnclicked.emit()" class="w-100">
      <i class="bi bi-eye-fill"></i>
      @if (!appStorage.easyMode) {
      <span class="d-none d-md-inline"> {{ buttonLabels.overview }}</span>
      } @if (!appStorage.easyMode) {
      <span class="d-none d-lg-inline"> [ALT + 0]</span>
      }
    </a>
    <a (click)="openHelpModal()" class="w-100">
      <i class="bi bi-question-circle-fill"></i>
      @if (!appStorage.easyMode) {
      <span class="d-none d-md-inline"> {{ buttonLabels.help }}</span>
      }
    </a>
  </div>
</div>
