#fastbar {
  font-size: 0.8em;
  text-align: center;
}

#fastbar a {
  color: #0095dd;
}

#fastbar div {
  text-align: center;
}

.btn-group.btn-group-justified.btn-group-sm {
  margin: 0;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #009688;
}
