.red {
  background-color: #ff899d;
}

.segment-number {
  padding: 3px;
  width: 50px;
  vertical-align: middle;
}

.segment-warning {
  color: red;
}

.segment-transcript {
  vertical-align: middle;
  cursor: pointer;
}

.segment-transcript {
}

.found-errors {
  padding: 5px;
  display: block;
  text-align: center;
}

#statistics td {
  text-align: center;
}

.table thead th {
  text-align: center;
  vertical-align: middle;
}

.table .last-column {
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

.table fa-icon {
  cursor: pointer;
}

#skip-silence-checkbox {
  margin-left: 5px;
  display: inline-flex;
  margin-right: 3px;
}

.ripple-container {
  display: none;
}
