<bs-modal #modalexport>
    <bs-modal-header>
        <h4 class="modal-title">{{"general.export data" | translate}}</h4>
    </bs-modal-header>
    <bs-modal-body id="export-table">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>{{'general.download' | translate}}</th>
                <th>{{'general.application' | translate}}</th>
                <th>{{'general.website' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let converter of converters; let i = index;">
                <tr *ngIf="converter.conversion.export">
                    <td>
                        <a #a (click)="onLineClick(converter, i)">
                            {{converter.name}} (*{{converter.extension}})
                        </a>
                        <i class="fa fa-spinner fa-spin"
                           *ngIf="preparing.name === converter.name && preparing.preparing"></i>
                    </td>
                    <td>
                        {{converter.application}}
                    </td>
                    <td>
                        <a href="{{converter.website.url}}" target="_blank">
                            {{converter.website.title}}
                        </a>
                    </td>
                    <td>
                        <span *ngIf="converter.notice !== ''" class="glyphicon glyphicon-info-sign"
                              [attr.title]="converter.notice"></span>
                    </td>
                </tr>
                <tr [@fadeToggle]="export_states[i]" *ngIf="converter.conversion.export">
                    <td colspan="5" style="padding-left:20px;">
                        <select #val *ngIf="navbarServ.transcrService !== undefined && !converter.multitiers"
                                (change)="onSelectionChange(converter, val.value)">
                            <option value="">{{"general.select one tier" | translate}}</option>
                            <option *ngFor="let level of navbarServ.transcrService.annotation.levels; let l = index;"
                                    value="{{l}}">{{level.name}}
                            </option>
                        </select>

                        <a style="margin-left:10px;" *ngIf="preparing.name === converter.name && !preparing.preparing"
                           download="{{parentformat.download}}" [href]="parentformat.uri"
                           class="link">
                            <span class="glyphicon glyphicon-floppy-save"></span> Download
                        </a>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
        <a *ngIf="arraybufferExists" (click)="getAudioURI();">
            <span class="glyphicon glyphicon-headphones"></span> Audio file (experimental)</a>
        <i class="fa fa-spinner fa-spin" *ngIf="preparing.name === 'Audio' && preparing.preparing"></i>
        <a style="margin-left:10px;" *ngIf="preparing.name === 'Audio' && !preparing.preparing"
           download="{{parentformat.download}}" [href]="parentformat.uri"
           class="link">
            <span class="glyphicon glyphicon-floppy-save"></span> Download
        </a><br/>
        <a (click)="getProtocol()"><span class="glyphicon glyphicon-list"></span> Protocol</a>
        <i class="fa fa-spinner fa-spin" *ngIf="preparing.name === 'Protocol' && preparing.preparing"></i>
        <a style="margin-left:10px;" *ngIf="preparing.name === 'Protocol' && !preparing.preparing"
           download="{{parentformat.download}}" [href]="parentformat.uri"
           class="link">
            <span class="glyphicon glyphicon-floppy-save"></span> Download
        </a><br/>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalexport.dismiss()">
            {{"general.close" | translate}}
        </button>
    </bs-modal-footer>
</bs-modal>
<bs-modal #modalstatistics id="modalstatis">
    <bs-modal-header>
        <h4 class="modal-title">Statistics</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div *ngIf="modalstatistics.visible">
            <h3>Transkriptionstext:</h3>
            <p>
                {{getText()}}
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Wert</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Anzahl Segmente:</td>
                    <td>{{transcrServ.currentlevel.segments.length}}</td>
                </tr>
                <tr>
                    <td>Anzahl Logeinträge:</td>
                    <td>{{(UIElements != null) ? UIElements.length : 0}}</td>
                </tr>
                </tbody>
            </table>
            <h3 style="display:inline;">Ereignisse</h3>
            <button (click)="clearElements()">Ereignisse löschen</button>
            <div style="max-height:400px;overflow: scroll;">
                <table class="table" style="">
                    <thead>
                    <tr>
                        <th>Zeit</th>
                        <th>Typ</th>
                        <th>Ziel</th>
                        <th>Inhalt</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let elem of UIElements">
                        <td>{{elem.timestamp | date:"dd.MM.yy HH:mm:ss"}}</td>
                        <td>{{elem.type}}</td>
                        <td>{{elem.context}}</td>
                        <td>
                            {{elem.value}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3>
                Das Transkriptionsobjekt:
            </h3>
            <textarea style="width:100%; height:300px;">{{dat}}</textarea>
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalstatistics.dismiss()">
            {{"general.close" | translate}}
        </button>
    </bs-modal-footer>
</bs-modal>
<bs-modal #promptmodal id="prompt-modal">
    <bs-modal-header>
        <h4 class="modal-title">{{"general.prompt" | translate}}</h4>
    </bs-modal-header>
    <bs-modal-body>
        {{appStorage.prompttext}}
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="promptmodal.dismiss()">
            {{"general.close" | translate}}
        </button>
    </bs-modal-footer>
</bs-modal>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="collapsed = ! collapsed"
                    data-target="#navbar" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">OCTRA v{{version}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" *ngIf="!appStorage.LoggedIn">
                <li routerLinkActive="active">
                    <a [routerLink]="['/login']">{{'general.login' | translate}}</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/features']">{{'general.features' | translate}}</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/news']">{{'general.news' | translate}}</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/faq']">{{'general.faq' | translate}}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <ng-template ngFor let-editor [ngForOf]="editors">
                    <li *ngIf="appStorage.LoggedIn && navbarServ.show_interfaces && interfaceActive(editor.name)"
                        [ngClass]="{
                        'active': appStorage.Interface === editor.name
                    }"
                    >
                        <a (mouseup)="setInterface(editor.name)">
                            <span [innerHTML]="editor.icon"></span> <span class="hidden-sm">{{editor.translate | translate}}</span>
                        </a>
                    </li>

                </ng-template>
                <li *ngIf="appStorage.LoggedIn && navbarServ.show_interfaces && settService.app_settings.octra.showdetails">
                    <a (mouseup)="modalstatistics.open()">
                        <span class="glyphicon glyphicon-th-list navbar-icon"></span> <span
                            class="hidden-sm">Statistics</span></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" *ngIf="transcrServ !== undefined" [ngStyle]="{
                'display': (!(navbarServ.dataloaded && appStorage.LoggedIn && appStorage.uselocalmode)) ? 'none': 'inherit'
                }">
                    <a href="#" class="dropdown" data-toggle="dropdown" role="button"
                       aria-expanded="false">
                        {{(transcrServ.currentlevel.name.length > 30) ? transcrServ.currentlevel.name.substr(0, 30) +
                        '...' : transcrServ.currentlevel.name}}
                        <span class="glyphicon glyphicon-book navbar-icon"></span>
                    </a>
                    <div class="dropdown-menu options-menu" [ngClass]="{
                        'collaps': collapsed
                    }">

                        <div class="row level-row" *ngFor="let level of transcrServ.annotation.levels; let i = index;"
                             [ngClass]="{
                        selected: (transcrServ.selectedlevel === i)
                        }"
                        >
                            <div class="col-xs-2" style="cursor: pointer;"
                                 [ngClass]="{ disabled: (level.getTypeString() !== 'SEGMENT') }"
                                 (click)="selectLevel(i)">{{i+1}}:
                            </div>
                            <div class="col-xs-7" [ngClass]="{ disabled: (level.getTypeString() !== 'SEGMENT') }"><input
                                    (click)="onLevelNameClick($event)"
                                    (blur)="onLevelNameLeave($event, i)" type="text"
                                    maxlength="100" value="{{level.name}}"/>
                            </div>
                            <div class="col-xs-3">
                                <span style="cursor:pointer;" class="glyphicon glyphicon-trash"
                                      (click)="onLevelRemoveClick(i, level.id)"></span>
                                <span *ngIf="level.type === AnnotJSONType.SEGMENT"
                                      style="margin-left:3px;cursor:pointer;" class="glyphicon glyphicon-duplicate"
                                      (click)="onLevelDuplicateClick(i, level.id)"></span>
                            </div>
                        </div>
                        <div class="row level-add-row" (click)="onLevelAddClick()">
                            <div class="col-xs-12"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>
                </li>

                <li class="dropdown" *ngIf="(appStorage.LoggedIn && navbarServ.dataloaded)">
                    <a href="#" class="dropdown" data-toggle="dropdown" role="button"
                       aria-expanded="false"><span class="glyphicon glyphicon-info-sign navbar-icon"></span></a>
                    <div class="dropdown-menu info-menu" [ngClass]="{
                        'collaps': collapsed
                        }">
                        <table class="table">
                            <tr *ngIf="!appStorage.uselocalmode">
                                <td><span>{{'general.project' |translate}}:</span></td>
                                <td>
                                    <span>{{appStorage.user.project}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>{{'general.name' | translate}}:</span></td>
                                <td>
                                    <span>{{navbarServ.exportformats.filename}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>{{'general.duration' | translate}}:</span></td>
                                <td>
                                    <span>{{navbarServ.exportformats.duration | timespan2}} (H:m:s)</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>{{'general.samplerate' | translate}}:</span></td>
                                <td>
                                    <span>{{navbarServ.exportformats.samplerate}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>{{'general.bitspersecond' | translate}}:</span></td>
                                <td>
                                    <span>{{navbarServ.exportformats.bitrate}} Bit/s</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>{{'general.filesize' | translate}}:</span></td>
                                <td>
                                    <span>{{navbarServ.exportformats.filesize.size}} {{navbarServ.exportformats.filesize.label}}</span>
                                </td>
                            </tr>
                            <tr *ngIf="!appStorage.uselocalmode">
                                <td><span>{{'general.id' | translate}}:</span></td>
                                <td>
                                    <span>{{appStorage.data_id}}</span>
                                </td>
                            </tr>
                            <tr *ngIf="!appStorage.uselocalmode">
                                <td><span>{{'general.free jobs' | translate}}:</span></td>
                                <td>
                                    <span>{{appStorage.jobs_left}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li *ngIf="appStorage.LoggedIn && navbarServ.show_export">
                    <a (mouseup)="modalexport.open()">
                        <span class="glyphicon glyphicon-download navbar-icon"></span>
                        <span class="hidden-sm hidden-md">{{"general.export" | translate}}</span>
                    </a>
                </li>
                <li class="dropdown" [ngStyle]="{
                'display': (!(navbarServ.dataloaded && appStorage.LoggedIn)) ? 'none': 'inherit'
                }">
                    <a href="#" class="dropdown" data-toggle="dropdown" role="button"
                       aria-expanded="false"><span class="glyphicon glyphicon-cog navbar-icon"></span></a>
                    <div class="dropdown-menu options-menu" [ngClass]="{
                        'collaps': collapsed
                    }">
                        <table class="table">
                            <tr>
                                <td><label for="easymode">{{"settings.easy mode" | translate}}:</label></td>
                                <td>
                                    <div class="togglebutton">
                                        <label>
                                            <input (click)="toggleSettings('easymode')" [checked]="appStorage.easymode"
                                                   id="easymode" type="checkbox">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="playonhover">{{"settings.play on hover" | translate}}:</label></td>
                                <td>
                                    <div class="togglebutton">
                                        <label>
                                            <input (click)="toggleSettings('playonhover')"
                                                   [checked]="appStorage.playonhover"
                                                   id="playonhover" type="checkbox">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="playonhover">{{"settings.follow playcursor" | translate}}:</label></td>
                                <td>
                                    <div class="togglebutton">
                                        <label>
                                            <input (click)="toggleSettings('followplaycursor')"
                                                   [checked]="appStorage.followplaycursor"
                                                   id="followplaycursor" type="checkbox">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="playonhover">{{"settings.logging" | translate}}:</label></td>
                                <td>
                                    <div class="togglebutton">
                                        <label>
                                            <input (click)="toggleSettings('logging')"
                                                   [checked]="appStorage.logging"
                                                   [disabled]="!appStorage.uselocalmode"
                                                   id="logging" type="checkbox">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="playonhover">{{"settings.show loupe" | translate}}:</label></td>
                                <td>
                                    <div class="togglebutton">
                                        <label>
                                            <input (click)="toggleSettings('show_loupe')"
                                                   [checked]="appStorage.show_loupe"
                                                   id="show_loupe" type="checkbox">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li *ngIf="settService.app_settings !== undefined && settService.app_settings.octra.bugreport !== undefined && settService.app_settings.octra.bugreport.enabled">
                    <a (mouseup)="openBugReport()">
                        <span class="glyphicon glyphicon-exclamation-sign navbar-icon" style="color:#fcffba"></span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{langService.currentLang | uppercase}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let item of langService.getLangs();">
                            <a (click)="changeLanguage(item)">{{item | uppercase}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- .nav-collapse -->
    </div>
</nav>
<div id="subnav" class="panel" *ngIf="appStorage.LoggedIn && !appStorage.uselocalmode && navbarServ.dataloaded">
    <div class="row">
        <div class="col-xs-3 col-sm-3">{{"general.project" | translate}}: {{appStorage.user.project}}</div>
        <div class="col-xs-3 col-sm-3">{{"general.name" |translate}}:
            {{navbarServ.exportformats.filename}}
        </div>
        <div class="col-xs-3 col-sm-3">{{'general.free jobs' | translate}}:
            {{appStorage.jobs_left}}
        </div>
        <div class="col-xs-3 col-sm-3"><a (click)="promptmodal.open()" style="cursor: pointer;">{{'general.prompt' |
            translate}}</a></div>
    </div>
</div>