<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">✕</span>
    </button>
    <h5 class="modal-title" id="exampleModalLabel">{{'general.prompt' | transloco}}</h5>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="formatConverter === undefined || formatConverter === undefined">
      {{appStorage.prompttext}}
    </ng-container>
    <ng-container *ngIf="formatConverter !== undefined && formatConverter !== undefined">
      {{"transcription.no prompttext" | transloco}}
    </ng-container>
  </div>
<div class="modal-footer">
  <button (click)="close()" class="btn btn-primary" data-dismiss="modal" type="button">
    {{"general.close" | transloco}}
  </button>
</div>
