<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">
      {{ 'g.prompt' | transloco }}
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    @if (formatConverter === undefined || formatConverter === undefined) {
    {{ (annotationStoreService.textInput$ | async)?.content }}
    } @if (formatConverter !== undefined && formatConverter !== undefined) {
    {{ 'transcription.no prompttext' | transloco }}
    }
  </div>
  <div class="modal-footer">
    <button
      (click)="close()"
      class="btn btn-primary"
      data-dismiss="modal"
      type="button"
    >
      {{ 'g.close' | transloco }}
    </button>
  </div>
</div>
