<app-drop-zone #dropzone (afterdrop)="afterDrop()" [height]="height">
  <table [hidden]="(files.length === 0)" class="dropzone-table">
    <tr *ngFor="let file of files">
      <td>
        <fa-icon (click)="onDeleteEntry(file.file.name)" class="icon-delete" icon="trash"
                 style="font-size:14px; color:dimgray"></fa-icon>
      </td>
      <td>{{getDropzoneFileString(file.file)}}
      </td>
      <td>
        <fa-icon *ngIf="file.status === 'invalid'" [popoverTitle]="'Validation Error'" [popover]="file.error"
                 class="icon-invalid" icon="times" placement="top"
                 style="font-size:16px"
                 triggers="mouseenter:mouseleave"></fa-icon>
        <fa-icon *ngIf="file.status === 'valid'" class="icon-success" icon="check"
                 style="font-size:16px"></fa-icon>
        <ng-container *ngIf="file.file.name.indexOf('.wav') < 0">
          <fa-icon *ngIf="file.status === 'progress'" [spin]="true" class="icon-wait" icon="spinner"
                   style="font-size:16px"></fa-icon>
        </ng-container>
        <ng-container *ngIf="file.file.name.indexOf('.wav') > -1 && file.status === 'progress'">
          <progressbar [animate]="false" [style.height]="'20px'" [style.width]="'100px'"
                       [value]="file.progress | procent"
                       type="info">
            <b>{{file.progress | procent}}%</b>
          </progressbar>
        </ng-container>
      </td>
    </tr>
  </table>
  <span *ngIf="files.length === 0">{{ "dropzone.drag&drop here" | transloco }}</span><br/>
</app-drop-zone>
<div (click)="showSupported()" class="link" style="z-index:20;width:100%;text-align:center;height:30px;">
  {{"general.supported files" | transloco}}
</div>
