<app-drop-zone #dropzone [height]="'250px'" (afterdrop)="afterDrop()">
    <table [hidden]="(files.length === 0)" class="dropzone-table">
        <tr *ngFor="let file of files">
            <td>
                <fa-icon class="icon-delete" icon="trash" *ngIf="file.status === 'invalid'"
                         style="font-size:14px; color:dimgray"
                         (click)="onDeleteEntry(file.file.name)"></fa-icon>
            </td>
            <td>{{getDropzoneFileString(file.file)}}
            </td>
            <td>
                <fa-icon class="icon-invalid" icon="times" *ngIf="file.status === 'invalid'"
                         style="font-size:16px"></fa-icon>
                <fa-icon class="icon-success" icon="check" *ngIf="file.status === 'valid'"
                         style="font-size:16px"></fa-icon>
                <fa-icon class="icon-wait" icon="spinner" *ngIf="file.status === 'progress'" style="font-size:16px"
                         [spin]="true"></fa-icon>
            </td>
        </tr>
    </table>
    <span *ngIf="files.length === 0">{{ "dropzone.drag&drop here" | translate }}</span><br/>
</app-drop-zone>
<span class="link" (click)="showSupported()" style="z-index:20;width:100%;text-align:center;display:block;">{{"general.supported files" | translate}}</span>