.icon-success {
    color: green;
}

.icon-invalid {
    color: red;
}

.icon-success,
.icon-invalid,
.icon-wait {
    margin-left: 5px;
}

.dropzone-table {
    margin: 0 auto;
}

.dropzone-table tr td {
    border: none;
    text-align: left;
}

.dropzone-table tr td:first-child {
    padding-right: 10px;
}

.delete-icon {
    z-index: 1000;
}