<octra-audio-navigation
  #nav
  (afterPlaybackRateChange)="afterSpeedChange($event)"
  (afterVolumeChange)="afterVolumeChange($event)"
  (buttonClick)="onButtonClick($event)"
  [audioChunk]="audiochunk"
  [easyMode]="appStorage.easyMode"
  [playbackRate]="appStorage.audioSpeed"
  [responsive]="true"
  [volume]="appStorage.audioVolume"
></octra-audio-navigation>
<octra-audioplayer #audioplayer [audioChunk]="audiochunk"></octra-audioplayer>
<octra-transcr-editor
  #transcr
  (boundaryclicked)="onBoundaryClicked($event)"
  (boundaryinserted)="onBoundaryInserted()"
  (keyup)="onKeyUp()"
  (markerClick)="onMarkerClick($event)"
  (markerInsert)="onMarkerInsert($event)"
  (typing)="afterTyping($event)"
  [audiochunk]="audiochunk"
  [segments]="segments"
  [easymode]="appStorage.easyMode"
  [markers]="annotationStoreService.guidelines?.markers"
  [validationEnabled]="
    appStorage.useMode !== 'url' &&
    (appStorage.useMode === 'demo' ||
      (settingsService.projectsettings !== undefined &&
        settingsService.projectsettings!.octra !== undefined &&
        settingsService.projectsettings!.octra!.validationEnabled === true))
  "
  [(highlightingEnabled)]="highlighting"
  (redoUndo)="onTranscrEditorRedoUndo($event)"
>
</octra-transcr-editor>
