<octra-audio-navigation #nav
                      (afterPlaybackRateChange)="afterSpeedChange($event)"
                      (afterVolumeChange)="afterVolumeChange($event)"
                      (buttonClick)="onButtonClick($event)"
                      [audioChunk]="audiochunk"
                      [buttons]="{
                        play: {
                            label: ('general.play' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'play_pause')
                        },
                        pause: {
                            label: ('general.pause' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'play_pause')
                        },
                        stop: {
                            label: ('general.stop' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'stop')
                        },
                        replay: {
                            label: ('general.replay' | transloco),
                            shortcut: ''
                        },
                        backward: {
                            label: ('general.backward' | transloco),
                            shortcut: keyMap.getShortcut('AP', 'step_backward')
                        },
                        backwardtime: {
                            label: ('general.backwardtime' | transloco),
                            shortcut: keyMap.getShortcut('overlay', 'step_backward')
                        }
                      }"
                      [easyMode]="appStorage.easymode"
                      [playbackRate]="appStorage.audioSpeed"

                      [responsive]="settingsService.responsive.enabled"
                      [volume]="appStorage.audioVolume"
></octra-audio-navigation>
<octra-audioplayer #audioplayer
                 [audioChunk]="audiochunk"
></octra-audioplayer>
<octra-transcr-editor #transcr
                      (boundaryclicked)="onBoundaryClicked($event)"
                      (boundaryinserted)="onBoundaryInserted()"
                      (keyup)="onKeyUp()"
                      (markerClick)="onMarkerClick($event)"
                      (markerInsert)="onMarkerInsert($event)"
                      (typing)="afterTyping($event);"
                      [audiochunk]="audiochunk"
                      [segments]="segments"
                      [easymode]="appStorage.easymode"
                      [markers]="(transcrService.guidelines !== null) ? transcrService.guidelines.markers : null"
                      [validationEnabled]="appStorage.useMode !== 'url' && (appStorage.useMode === 'demo' || settingsService.projectsettings.octra.validationEnabled)"
                      [(highlightingEnabled)]="highlighting"
                      [externalShortcutManager]="keyMap.shortcutsManager"
                      (onRedoUndo)="onTranscrEditorRedoUndo($event)"
>
</octra-transcr-editor>
