<div id="overlay-transcr" style="position:relative">
    <app-transcr-window #window (act)="onWindowAction($event)" *ngIf="showWindow"
                        [easymode]="appStorage.easymode"
                        [audiochunk]="audiochunk_window"
                        [segment_index]="selected_index"
    ></app-transcr-window>
    <app-audio-navigation #audionav
                          (buttonclick)="onButtonClick($event)"
                          (volumechange)="onVolumeChange($event)"
                          (aftervolumechange)="afterVolumeChange($event)"
                          (speedchange)="onSpeedChange($event)"
                          (afterspeedchange)="afterSpeedChange($event)"
                          [audioplaying]="audiomanager.audioplaying"
                          [replay]="audiomanager.replay"
                          [(responsive)]="settingsService.responsive.enabled"
                          [buttons]="{
                                play: {
                                    label: ('general.play' | translate),
                                    shortcut: keyMap.getShortcut('overlay', 'play_pause')
                                },
                                pause: {
                                    label: ('general.pause' | translate),
                                    shortcut: keyMap.getShortcut('overlay', 'play_pause')
                                },
                                stop: {
                                    label: ('general.stop' | translate),
                                    shortcut: keyMap.getShortcut('overlay', 'stop')
                                },
                                replay: {
                                    label: ('general.replay' | translate),
                                    shortcut: ''
                                },
                                backward: {
                                    label: ('general.backward' | translate),
                                    shortcut: keyMap.getShortcut('overlay', 'step_backward')
                                },
                                backwardtime: {
                                    label: ('general.backwardtime' | translate),
                                    shortcut: keyMap.getShortcut('overlay', 'step_backward')
                                }
                              }"
                          [easymode]="appStorage.easymode"
    ></app-audio-navigation>
    <div *ngIf="appStorage.show_loupe" (mouseenter)="loupe_hidden = false;" (mouseleave)="loupe_hidden = true;">
        <app-circleloupe #loupe (mousemove)="onCircleLoupeMouseOver($event)" [ngStyle]="{
        'width': miniloupe.size.width + 'px',
        'height': miniloupe.size.height + 'px',
        'position':'absolute',
        'margin-left':miniloupe.location.x + 'px',
        'margin-top':miniloupe.location.y + 'px',
        'z-index':'90',
        'display': 'flex',
        'visibility': (loupe_hidden) ? 'hidden' : 'inherit',
        'flex': 'auto',
        'flex-direction': 'column'}" [height]="miniloupe.size.height"
                         [audiochunk]="audiochunk_loupe"></app-circleloupe>
    </div>
    <app-audioviewer #viewer id="special"
                     (selchange)="onSegmentSelected()"
                     (segmententer)="onSegmentEntered($event)"
                     (segmentchange)="onSegmentChange();"
                     (mousecursorchange)="onMouseOver($event);"
                     (mousemove)="changePosition($event.layerX, $event.layerY)"
                     (mouseleave)="loupe_hidden = true;"
                     (shortcuttriggered)="onShortCutTriggered($event, 'mult-lines-viewer')"
                     [audiochunk]="audiochunk_lines" (scrolling)="onScrolling($event)"
                     (scrollbarchange)="onScrollbarMouse($event)">
    </app-audioviewer>
</div>