<div id="overlay-transcr" style="position:relative">
    <app-transcr-window #window (act)="onWindowAction($event)" *ngIf="showWindow"
                        [easymode]="appStorage.easymode"
                        [audiochunk]="audioChunkWindow"
                        [segmentIndex]="selectedIndex"
    ></app-transcr-window>
  <app-authentication-modal #authModal></app-authentication-modal>
    <app-audio-navigation #audionav
                          (buttonclick)="onButtonClick($event)"
                          (volumechange)="onVolumeChange($event)"
                          (aftervolumechange)="afterVolumeChange($event)"
                          (speedchange)="onSpeedChange($event)"
                          (afterspeedchange)="afterSpeedChange($event)"
                          [isAudioPlaying]="audiomanager.isPlaying"
                          [speed]="appStorage.audioSpeed"
                          [volume]="appStorage.audioVolume"
                          [replay]="audioChunkLines.replay"
                          [responsive]="settingsService.responsive.enabled"
                          [buttons]="{
                                play: {
                                    label: ('general.play' | transloco),
                                    shortcut: keyMap.getShortcut('overlay', 'play_pause')
                                },
                                pause: {
                                    label: ('general.pause' | transloco),
                                    shortcut: keyMap.getShortcut('overlay', 'play_pause')
                                },
                                stop: {
                                    label: ('general.stop' | transloco),
                                    shortcut: keyMap.getShortcut('overlay', 'stop')
                                },
                                replay: {
                                    label: ('general.replay' | transloco),
                                    shortcut: ''
                                },
                                backward: {
                                    label: ('general.backward' | transloco),
                                    shortcut: keyMap.getShortcut('overlay', 'step_backward')
                                },
                                backwardtime: {
                                    label: ('general.backwardtime' | transloco),
                                    shortcut: keyMap.getShortcut('overlay', 'step_backward')
                                }
                              }"
                          [easymode]="appStorage.easymode"
    ></app-audio-navigation>
    <div *ngIf="appStorage.showLoupe" (mouseenter)="loupeHidden = false;" (mouseleave)="loupeHidden = true;">
        <app-circleloupe #loupe (mousemove)="onCircleLoupeMouseOver($event)" [ngStyle]="{
        'width': miniloupe.size.width + 'px',
        'height': miniloupe.size.height + 'px',
        'position':'absolute',
        'margin-left':miniloupe.location.x + 'px',
        'margin-top':miniloupe.location.y + 'px',
        'z-index':'90',
        'display': 'flex',
        'visibility': (loupeHidden) ? 'hidden' : 'inherit',
        'flex': 'auto',
        'flex-direction': 'column'}" [height]="miniloupe.size.height"
                         [audiochunk]="audioChunkLoupe"></app-circleloupe>
    </div>
    <app-audioviewer #viewer id="special"
                     (segmententer)="onSegmentEntered($event)"
                     (mousecursorchange)="onMouseOver($event);"
                     (mousemove)="changePosition($event.layerX, $event.layerY)"
                     (mouseleave)="loupeHidden = true;"
                     (shortcuttriggered)="onShortCutTriggered($event, 'mult-lines-viewer')"
                     [audiochunk]="audioChunkLines" (scrolling)="onScrolling($event)"
                     (scrollbarchange)="onScrollbarMouse($event)">
    </app-audioviewer>
</div>
