<div id="overlay-transcr" style="position: relative">
  <octra-audio-navigation
    #audionav
    (afterPlaybackRateChange)="afterSpeedChange($event)"
    (afterVolumeChange)="afterVolumeChange($event)"
    (buttonClick)="onButtonClick($event)"
    [audioChunk]="audioChunkLines"
    [easyMode]="appStorage.easyMode"
    [playbackRate]="appStorage.audioSpeed"
    [volume]="appStorage.audioVolume"
  >
  </octra-audio-navigation>
  <div class="d-flex flex-column h-100">
    @if (appStorage.showMagnifier) {
      <octra-audio-viewer
        #magnifier
        [audioChunk]="audioChunkMagnifier"
        [silencePlaceholder]="annotationStoreService.silencePlaceholder"
        [isMultiLine]="false"
        [refreshOnInternChanges]="false"
        [name]="'magnifier'"
        [ngStyle]="{
      width: minimagnifier.size.width + 'px',
      height: minimagnifier.size.height + 'px',
      position: 'fixed',
      'margin-left': minimagnifier.location.x + 'px',
      'margin-top': minimagnifier.location.y + 'px',
      'z-index': '90',
      display: 'flex',
      visibility: magnifierHidden ? 'hidden' : 'inherit',
      flex: 'auto',
      'flex-direction': 'column'
    }"
        [settings]="miniMagnifierSettings"
        [annotation]="annotationStoreService.transcript!"
      ></octra-audio-viewer>
    }
    <octra-audio-viewer
      #viewer
      (mousecursorchange)="onMouseOver($event)"
      (segmententer)="onSegmentEntered($event)"
      (shortcut)="onShortCutViewerTriggered($event)"
      [audioChunk]="audioChunkLines"
      [silencePlaceholder]="annotationStoreService.silencePlaceholder"
      [isMultiLine]="true"
      [refreshOnInternChanges]="false"
      [annotation]="annotationStoreService.transcript!"
      (currentLevelChange)="onCurrentLevelChange($event)"
      id="special"
      style="height: 20px; display: flex; flex: auto; flex-direction: column"
    >
    </octra-audio-viewer>
  </div>
</div>
