<div id="overlay-transcr" style="position: relative">
  <octra-transcr-window
    #window
    (act)="onWindowAction($event)"
    *ngIf="showWindow"
    [audiochunk]="audioChunkWindow"
    [easyMode]="appStorage.easyMode"
    [segmentIndex]="selectedIndex"
  ></octra-transcr-window>
  <octra-audio-navigation
    #audionav
    (afterPlaybackRateChange)="afterSpeedChange($event)"
    (afterVolumeChange)="afterVolumeChange($event)"
    (buttonClick)="onButtonClick($event)"
    [audioChunk]="audioChunkLines"
    [easyMode]="appStorage.easyMode"
    [playbackRate]="appStorage.audioSpeed"
    [responsive]="settingsService.responsive.enabled"
    [volume]="appStorage.audioVolume"
  >
  </octra-audio-navigation>
  <div *ngIf="appStorage.showLoupe">
    <octra-audio-viewer
      #loupe
      (mousemove)="onCircleLoupeMouseOver()"
      [audioChunk]="audioChunkLoupe"
      [silencePlaceholder]="'<P>'"
      [isMultiLine]="false"
      [refreshOnInternChanges]="false"
      [name]="'loupe'"
      [ngStyle]="{
        width: miniloupe.size.width + 'px',
        height: miniloupe.size.height + 'px',
        position: 'absolute',
        'margin-left': miniloupe.location.x + 'px',
        'margin-top': miniloupe.location.y + 'px',
        'z-index': '90',
        display: 'flex',
        visibility: loupeHidden ? 'hidden' : 'inherit',
        flex: 'auto',
        'flex-direction': 'column'
      }"
      [settings]="miniLoupeSettings"
      [annotation]="annotationStoreService.transcript!"
    ></octra-audio-viewer>
  </div>
  <octra-audio-viewer
    #viewer
    (mousecursorchange)="onMouseOver($event)"
    (segmententer)="onSegmentEntered($event)"
    (shortcut)="onShortCutViewerTriggered($event)"
    [audioChunk]="audioChunkLines"
    [silencePlaceholder]="'<P>'"
    [isMultiLine]="true"
    [refreshOnInternChanges]="false"
    [annotation]="annotationStoreService.transcript!"
    (currentLevelChange)="onCurrentLevelChange($event)"
    id="special"
    style="height: 400px; display: flex; flex: auto; flex-direction: column"
  >
  </octra-audio-viewer>
</div>
