<div class="modal-body position-relative">
  <a *ngIf="appStorage.snapshot.application.mode === LoginMode.ONLINE && forceLogout" (click)="abort()" class="position-absolute end-0 top-0 mt-2 me-3 link" style="font-size:0.85rem;">{{"g.logout" | transloco}}</a>
  <a *ngIf="appStorage.snapshot.application.mode !== LoginMode.ONLINE || !forceLogout" (click)="abort()" class="position-absolute end-0 top-0 mt-2 me-3 link" style="font-size:0.85rem;">{{"g.abort" | transloco}}</a>
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col"></div>
      <div class="col-sm-12 col-md-8 col-lg-5">
        <button class="btn btn-success w-100 mb-5" *ngIf="authenticationRunning" (click)="onAuthenticatedClick()">
          {{ 'p.authenticated' | transloco }}
        </button>
        <octra-authentication-component [type]="type" (submitClick)="onSubmit($event)" [authentications]="apiService.appProperties?.authentications" [passwordReset]="apiService.appProperties?.reset_password" [registrations]="false"></octra-authentication-component>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
