<div id="agreement" class="panel">
  <h2>{{"general.agreement" | transloco}}</h2>
    <p [innerHTML]="toHTML(settService.projectsettings.agreement.text)">
    </p>
    <div id="bottom-nav">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a class="btn btn-default btn-raised"
               (click)="logout()">
                <fa-icon [icon]="['far', 'times-circle']"></fa-icon>
              <span class=" d-none d-md-inline"> {{"general.quit" | transloco}}</span></a>
            <a class="btn btn-default btn-raised"
               (click)="accept()">
              <span class=" d-none d-md-inline"> {{"general.continue" | transloco}}</span>
                <fa-icon [icon]="['far', 'check-circle']"></fa-icon>
            </a>
        </div>
    </div>
</div>
