<div class="row">
  <div class="col-md-4">
    <span id="logo">OCTRA</span>

    <table>
      <tbody>
        <tr>
          <td>
            <i class="bi bi-person-check fs-3" style="color: forestgreen"></i>
          </td>
          <td>
            <h2>{{ 'authentication.you are authenticated' | transloco }}</h2>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-8">
    <img
      src="../../../../../assets/img/authenticated.jpg"
      height="221"
      width="427"
    />
  </div>
</div>

<p style="margin-top: 20px">{{ 'authentication.description' | transloco }}</p>
<p style="font-weight: bold">
  {{
    'authentication.window closed'
      | transloco
        : {
            seconds: secondsToClose
          }
  }}
</p>
