.w-20 {
  width: 20%;
}

.slider {
  padding: 0;
  width: 100%;
}

.slider-descr {
  font-size: 0.7em;
  vertical-align: middle;
  display: inline-flex;
  margin-bottom: 6px;
  margin-left: 3px;
}

.shortcut-descr {
  font-size: 0.6em;
}

.audio-nav .btn-toolbar {
  margin-left: 0;
}

.audio-nav .btn-group {
  margin: 0;
}

.audio-nav .col-1 {
  padding: 0;
}

.btn-description {
  font-size: 0.9em;
}

img {
  position: absolute;
  left: 0;
}

.button-wrapper {
  display: inline-block;
}
