<modal #modalexport>
    <modal-header>
        <h4 class="modal-title">{{"general.export data" | translate}}</h4>
    </modal-header>
    <modal-body>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Download</th>
                <th>Application</th>
                <th>Website</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let format of converters">
                <td *ngIf="format.converter.conversion.export">
                    <a #a download="{{parentformat.download}}" [href]="parentformat.uri"
                       (mouseover)="updateParentFormat(format.converter);">
                        <span class="glyphicon glyphicon-floppy-save"></span> {{format.converter.name}}
                        (*{{format.appendix}})
                    </a>
                </td>
                <td *ngIf="format.converter.conversion.export">
                    {{format.converter.application}}
                </td>
                <td *ngIf="format.converter.conversion.export">
                    <a href="{{format.converter.website.url}}" target="_blank">
                        {{format.converter.website.title}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalexport.dismiss()">
            {{"general.close" | translate}}
        </button>
    </modal-footer>
</modal>
<modal #modalstatistics id="modalstatis">
    <modal-header>
        <h4 class="modal-title">Statistics</h4>
    </modal-header>
    <modal-body>
        <div *ngIf="modalstatistics.visible">
            <h3>Transkriptionstext:</h3>
            <p>
                {{getText()}}
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Wert</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Anzahl Segmente:</td>
                    <td>{{transcrServ.annotation.levels[0].segments.length}}</td>
                </tr>
                <tr>
                    <td>Anzahl Logeinträge:</td>
                    <td>{{(UIElements != null) ? UIElements.length : 0}}</td>
                </tr>
                </tbody>
            </table>
            <h3 style="display:inline;">Ereignisse</h3>
            <button (click)="clearElements()">Ereignisse löschen</button>
            <div style="max-height:400px;overflow: scroll;">
                <table class="table" style="">
                    <thead>
                    <tr>
                        <th>Zeit</th>
                        <th>Typ</th>
                        <th>Ziel</th>
                        <th>Inhalt</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let elem of UIElements">
                        <td>{{elem.timestamp | date:"dd.MM.yy HH:mm:ss"}}</td>
                        <td>{{elem.type}}</td>
                        <td>{{elem.target_name}}</td>
                        <td>
                            {{elem.value}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3>
                Das Transkriptionsobjekt:
            </h3>
            <textarea style="width:100%; height:300px;">{{dat}}</textarea>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalstatistics.dismiss()">
            {{"general.close" | translate}}
        </button>
    </modal-footer>
</modal>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="collapsed = ! collapsed"
                    data-target="#navbar" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">OCTRA v{{version}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <ng-template ngFor let-editor [ngForOf]="AppInfo.editors">
                    <li *ngIf="sessService.LoggedIn && navbarServ.show_interfaces && interfaceActive(editor.name)"
                        [ngClass]="{
                        'active': sessService.Interface === editor.name
                    }"
                    >
                        <a (mouseup)="setInterface(editor.name)">
                            <span [innerHTML]="editor.icon"></span> <span class="hidden-sm">{{editor.translate | translate}}</span>
                        </a>
                    </li>

                </ng-template>
                <li *ngIf="sessService.LoggedIn && navbarServ.show_interfaces && settService.app_settings.octra.showdetails">
                    <a (mouseup)="modalstatistics.open()">
                        <span class="glyphicon glyphicon-th-list navbar-icon"></span> <span
                            class="hidden-sm">Statistics</span></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" *ngIf="(sessService.LoggedIn && navbarServ.dataloaded)">
                    <a href="#" class="dropdown" data-toggle="dropdown" role="button"
                       aria-expanded="false"><span class="glyphicon glyphicon-info-sign navbar-icon"></span></a>
                    <div class="dropdown-menu info-menu" [ngClass]="{
                        'collaps': collapsed
                        }">
                        <table class="table">
                            <tr *ngIf="!sessService.offline">
                                <td><span>{{'general.project' |translate}}:</span></td>
                                <td>
                                    <span>{{sessService.member_project}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>{{'general.name' | translate}}:</span></td>
                                <td>
                                    <span>{{navbarServ.exportformats.filename}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Dauer:</span></td>
                                <td>
                                    <span>{{navbarServ.exportformats.duration | timespan}} (M:s:m)</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Abtastrate:</span></td>
                                <td>
                                    <span>{{navbarServ.exportformats.samplerate}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Bits pro Sample:</span></td>
                                <td>
                                    <span>{{navbarServ.exportformats.bitrate}} Bit/s</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Dateigröße:</span></td>
                                <td>
                                    <span>{{navbarServ.exportformats.filesize.size}} {{navbarServ.exportformats.filesize.label}}</span>
                                </td>
                            </tr>
                            <tr *ngIf="!sessService.offline">
                                <td><span>ID:</span></td>
                                <td>
                                    <span>{{sessService.data_id}}</span>
                                </td>
                            </tr>
                            <tr *ngIf="!sessService.offline">
                                <td><span>Jobs left:</span></td>
                                <td>
                                    <span>{{sessService.jobs_left}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li *ngIf="sessService.LoggedIn && navbarServ.show_export">
                    <a (mouseup)="modalexport.open()">
                        <span class="glyphicon glyphicon-download navbar-icon"></span>
                        <span class="hidden-sm hidden-md">{{"general.export" | translate}}</span>
                    </a>
                </li>
                <li class="dropdown" [ngStyle]="{
                'display': (!(navbarServ.dataloaded && sessService.LoggedIn)) ? 'none': 'inherit'
                }">
                    <a href="#" class="dropdown" data-toggle="dropdown" role="button"
                       aria-expanded="false"><span class="glyphicon glyphicon-cog navbar-icon"></span></a>
                    <div class="dropdown-menu options-menu" [ngClass]="{
                        'collaps': collapsed
                    }">
                        <table class="table">
                            <tr>
                                <td><label for="easymode">{{"general.easy mode" | translate}}:</label></td>
                                <td>
                                    <div class="togglebutton">
                                        <label>
                                            <input (click)="toggleSettings('easymode')" [checked]="sessService.easymode"
                                                   id="easymode" type="checkbox">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="playonhover">PlayOnHover:</label></td>
                                <td>
                                    <div class="togglebutton">
                                        <label>
                                            <input (click)="toggleSettings('playonhover')"
                                                   [checked]="sessService.playonhover"
                                                   id="playonhover" type="checkbox">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <a (mouseup)="openBugReport()">
                        <span class="glyphicon glyphicon-exclamation-sign navbar-icon" style="color:#fcffba"></span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{langService.currentLang | uppercase}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let item of langService.getLangs();">
                            <a (click)="changeLanguage(item)">{{item | uppercase}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- .nav-collapse -->
    </div>
</nav>
<div id="subnav" *ngIf="sessService.LoggedIn && !sessService.offline && navbarServ.dataloaded">
    {{"general.project" | translate}}: {{sessService.member_project}} | {{"general.name" |translate}}:
    {{navbarServ.exportformats.filename}} | {{'general.free jobs' | translate}}:
    {{sessService.jobs_left}}
</div>