#export-table td {
  cursor: pointer;
}

#export-table a {
  cursor: pointer;
}

progressbar {
  height: 20px;
}

.top-tr td {
  background-color: rgb(242, 242, 242);
}

.options {
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid lightgray;
}

.options table tbody tr td {
  border: none;
}

.options .option td {
  vertical-align: top;
}

.options .option label {
  font-size: 0.9em;
}
