<ng-container *ngIf="showForgetPassword; else showAuthentication">
    <a
            class="d-block text-start pointer"
            (click)="showForgetPassword = false; passwordResetRequested = false"
            style="font-size: 0.8rem; text-decoration: none"
    >< {{ 'g.back' | transloco }}</a
    >

    <ng-container *ngIf="!passwordResetRequested; else showRequestSent">
        <form #form="ngForm" (ngSubmit)="resetPassword()">
            <div class="form-floating mb-3">
                <input
                        type="email"
                        id="email"
                        class="form-control"
                        [placeholder]="'g.e-mail' | transloco"
                        name="email"
                        [(ngModel)]="email"
                        [required]="true"
                        autofocus
                        email="true"
                />
                <label for="email">{{ 'g.e-mail' | transloco }}</label>
            </div>

            <button class="w-100 btn btn-sm btn-primary mt-3" type="submit" [disabled]="!form.valid">
                {{ 'p.reset password' | transloco }}
            </button>
        </form>
    </ng-container>
    <ng-template #showRequestSent>
        <p class="text-center">
            {{ 'authentication.password reset success' | transloco }}
        </p>
    </ng-template>
</ng-container>
<ng-template #showAuthentication>
    <h1 class="h3 mb-4 fw-normal" style="text-align: center" *ngIf="showTitle">
        {{ 'authentication.signin' | transloco }}
    </h1>
    <form *ngIf="type === undefined || type === 'shibboleth'">
        <button
                class="w-100 btn btn-secondary"
                (click)="
        submitClick.emit({
          type: AccountLoginMethod.shibboleth
        })
      "
        >
            <i class="bi bi-bank"></i>
            {{ 'authentication.signin university' | transloco }}
        </button>
    </form>
    <div class="separator my-4" *ngIf="type === undefined">{{ 'g.or' | transloco }}</div>
    <form *ngIf="type === undefined || type === 'local'" #form="ngForm">
        <div class="form-floating mb-3">
            <input type="text" id="inputName" class="form-control" [placeholder]="'p.username or email' | transloco"
                   name="name" #name required autofocus/>
            <label for="inputName">{{ 'p.username or email' | transloco }}</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" id="inputPassword" class="form-control" [placeholder]="'g.password' | transloco"
                   name="password" #password required/>
            <label for="inputPassword">{{ 'g.password' | transloco }}</label>
        </div>
        <button
                class="w-100 btn btn-primary mt-3"
                [disabled]="!form.valid"
                type="submit"
                (click)="
        submitClick.emit({
          type: AccountLoginMethod.local,
          credentials: {
            usernameEmail: name.value,
            password: password.value
          }
        })
      "
        >
            <i class="bi bi-person-circle"></i>
            {{ 'authentication.signin credentials' | transloco }}
        </button>
        <a class="d-block mt-2 text-center pointer" style="font-size: 0.8rem; text-decoration: none"
           (click)="showForgetPassword = true">
            {{ 'p.forgot password' | transloco }}
        </a>
    </form>
</ng-template>
