:host {
  position: absolute;
  margin-top:40px;
  top: 0;
  right: 0;
  z-index: 10000;
}

.queue {
  height: 100%;
}

.alert {
  margin-bottom: 5px;
  font-size: 0.8em;
  box-shadow: #5a5a5a 0 0 10px;
  padding: 10px;
  margin-left: 10px;
}

.alert p {
  margin: 0;
  padding: 0;
}

#alert .clear-all-button {
  font-size: 0.8em;
  width: 100%;
  background-color: lightgray;
  border: none;
  box-shadow: #5a5a5a 5px 3px 10px;
  margin-left: 10px;
}

.alert button {
  padding-top: 5px;
  padding-right: 10px;
  font-size: 1.5em;
}
