.slider{
    padding:0px;
}

.slider-descr {
    font-size: 0.7em;
    vertical-align: middle;
    display: inline-flex;
    margin-bottom: 3px;
}

.shortcut-descr {
    font-size: 0.6em;
}

.audio-nav {
    margin-bottom:10px;
}

.audio-nav .btn-toolbar{
    margin-left:0px;
}

.audio-nav .btn-group{
    margin:0;
}

.audio-nav .col-xs-1{
    padding:0;
}

.btn-description{
    font-size:0.9em;
}