<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">
      {{ 'bug report.give feedback' | transloco }}
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      {{ 'bug report.description' | transloco }}
    </p>
    <div
      *ngIf="sendStatus === 'error'"
      [innerHTML]="
        'bug report.error'
          | transloco
            : {
                email:
                  '<a href=\'mailto:octra@phonetik.uni-muenchen.de?body=' +
                  bgdescr +
                  '\'>octra@phonetik.uni-muenchen.de</a>'
              }
      "
      class="alert alert-danger bugsent"
    ></div>
    <div *ngIf="sendStatus === 'success'" class="alert alert-success bugsent">
      {{ 'bug report.sent' | transloco }}
    </div>

    <form>
      <div class="row" *ngIf="(authStoreService.me$ | async) === undefined">
        <div class="col-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="inputName"
              name="name"
              aria-describedby="name"
              [placeholder]="'g.name' | transloco"
              [(ngModel)]="profile.username"
            />
            <label for="inputName" class="form-label">{{
                'g.name' | transloco
              }}</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              name="email"
              aria-describedby="email"
              [(ngModel)]="profile.email"
              placeholder="email@example.com"
            />
            <label for="inputEmail" class="form-label">{{
                'g.email' | transloco
              }}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-block mb-3">
            <label for="bgDescr">{{ 'g.description' | transloco }}:</label>
            <ngx-jodit
              [(ngModel)]="bgdescr"
              [options]="joditOptions"
              class="w-100"
              style="display: flex !important; flex-direction: column; flex: auto; height: 100% !important;"
              aria-describedby="bgDescr"
              id="bgDescr"
              maxlength="1000"
              name="bgdescr"
            ></ngx-jodit>
            <div id="emailHelp" class="form-text">German or English</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12">
          <div class="form-group" style="margin-bottom: 20px">
            <label>{{ 'g.screenshots' | transloco }} (optional):</label
            ><br />
            <div class="preview-images">
              <div
                (click)="selectFileForUpload(uploadInput2)"
                *ngFor="let screenshot of screenshots; let i = index"
                class="upload-screenshot"
              >
                <span (click)="removeScreenshot(i)" class="cross rounded-circle"
                >X</span
                >
                <input
                  #uploadInput2
                  (change)="onFileChange($event)"
                  accept=".jpg, .png, .jpeg|image/*"
                  name="upload"
                  style="display: none"
                  type="file"
                />
                <img
                  *ngIf="screenshot.previewURL !== ''"
                  [src]="screenshot.previewURL"
                  class="preview-image"
                />
              </div>
              <div
                (click)="selectFileForUpload(uploadInput)"
                *ngIf="screenshots.length < 4"
                class="upload-screenshot"
              >
                <input
                  #uploadInput
                  (change)="onFileChange($event)"
                  name="upload"
                  style="display: none"
                  type="file"
                />
                <i class="bi bi-plus-lg"></i>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12">
          <div class="form-group" style="padding-top: 0; margin-bottom: 0">
            <div class="checkbox">
              <label>
                <input
                  #sendpro
                  [(ngModel)]="sendProObj"
                  checked
                  name="sendpro"
                  type="checkbox"
                />
                {{ 'bug report.send protocol' | transloco }}
              </label>
            </div>
          </div>
          <div
            [hidden]="!sendpro.checked"
            class="form-group"
            style="padding-top: 0; margin-top: 0"
          >
            <span>{{ 'g.protocol' | transloco }}:</span>
            <textarea
              #bgProtocol
              [innerHTML]="bugService.pkgText"
              class="form-control"
              disabled
              id="bgProtocol"
            >
            </textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="close()" class="btn btn-secondary" type="button">
      {{ 'g.abort' | transloco }}
    </button>
    <button
      (click)="sendBugReport()"
      [disabled]="!isvalid || sendStatus === 'sending'"
      class="btn btn-primary"
      type="button"
    >
      {{ 'bug report.give feedback' | transloco }}
    </button>
  </div>
</div>
