.circleloupe {
    display: flex;
    flex: auto;
    flex-direction: column;
}

:host {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.loupe {
    display: flex;
    flex-direction: column;
    flex: auto;
}