<app-octra-modal></app-octra-modal>
<header>
    <app-navigation #navigation [version]="version"></app-navigation>
</header>
<main>
    <div id="beta_mark" class="d-none d-md-block" *ngIf="environment.dev_version">in developement</div>
    <!--
    <button (click)="test(textfield.value)">fetch</button>
    <input type="text" value="" #textfield/>
    <button (click)="reset(textfield.value)">reset</button>
-->
    <div class="container-fluid flex">
        <router-outlet></router-outlet>
    </div><!-- /.container -->
</main>
