.container.inner {
    padding-bottom: 10px;
    padding-top: 10px;
    -moz-box-shadow: 0 1px 6px #a0a0a0; /* Firefox */
    -webkit-box-shadow: 0 1px 6px #a0a0a0; /* Chrome, Safari */
    box-shadow: 0 1px 6px #a0a0a0; /* CSS3 */
}

#beta_mark{
    color:red;
    position:absolute;
    margin-left:20px;
    z-index:10;
}

:host{
    border: 2px solid green;
    height: 100%;
    display: flex;
    flex-direction: column;
}