<app-octra-modal></app-octra-modal>
<header>
    <app-navigation [version]="version"></app-navigation>
</header>
<main>
    <div id="beta_mark" *ngIf="environment.dev_version">Beta Version</div>
    <!--
        <button (click)="test(textfield.value)">fetch</button>
        <input type="text" value="" #textfield/>
        <button (click)="reset(textfield.value)">reset</button>
        <button (click)="fetching(textfield.value)">start fetching</button>
        <button (click)="testBugAPI()">TEST API</button>
    -->

    <div class="container flex">
        <router-outlet></router-outlet>
    </div><!-- /.container -->
</main>
