<div id="agreement" class="panel">
    <h2>{{"general.agreement" | translate}}</h2>
    <p [innerHTML]="toHTML(settService.projectsettings.agreement.text)">
    </p>
    <div id="bottom-nav">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a class="btn btn-default btn-raised"
               (click)="logout()"><span
                    class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                <span class="hidden-xs hidden-sm"> {{"general.quit" | translate}}</span></a>
            <a class="btn btn-default btn-raised"
               (click)="accept()">
                <span class="hidden-xs hidden-sm"> {{"general.continue" | translate}}</span>
                <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
        </div>
    </div>
</div>
