<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">
      {{ 'modal.import options.title' | transloco }}
    </h5>
  </div>
  <div class="modal-body">
    <p class="mb-3">
      {{ 'modal.import options.introduction' | transloco }}
    </p>
    @if (schema) {
    <octra-form-configurator
      [jsonSchema]="schema"
      [jsonText]="jsonText"
      (jsonTextChange)="onJsonTextChange($event)"
    ></octra-form-configurator>
    }
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
        <button
          (click)="close('abort')"
          class="btn btn-secondary"
          data-dismiss="modal"
          type="button"
        >
          {{ 'g.abort' | transloco }}
        </button>
      </div>
      <div class="col">
        <button
          (click)="close('apply')"
          class="btn btn-secondary"
          data-dismiss="modal"
          type="button"
        >
          {{ 'g.apply' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>
