:host {
  display: flex;
  flex: auto;
  flex-direction: column;
  background-color: whitesmoke;
}

.container {
  margin-top: 40px;
  height: 300px;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.table-wrapper {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

table tbody tr td {
  vertical-align: middle;
}

table tbody .deactivated {
  opacity: 0.6;
}

table tbody tr {
  cursor: pointer;
}

.description {
  font-size: 0.9em;
}

.project-name {
  font-weight: bold;
  font-size: 0.9em;
}

.project-description {
  color: gray;
  font-size: 0.85em;
}

.property-pill {
  font-size: 0.7rem;
  padding: 3px 10px;
}

.accordion-item {
  border: none;
}

.accordion-body {
  padding: 0;
}

.paused-tasks-badge {
  color: black !important;
}
