<div class="card container">
  <div class="card-body flex h-100">
    <ng-container
      *ngIf="authStoreService.otherUserLoggedIn$ | async; else sameUser"
    >
      <div
        class="alert alert-warning text-center"
        [innerHTML]="
          'projects-list.other user logged in'
            | transloco
              : {
                  username: (authStoreService.otherUserLoggedIn$ | async)
                    ?.username
                }
        "
      ></div>
    </ng-container>
    <ng-template #sameUser>
      <div
        *ngIf="authStoreService.sameUserWithOpenTask$ | async"
        class="alert alert-warning text-center"
      >
        <span
          [innerHTML]="
            'projects-list.same user free task'
              | transloco
                : {
                    project: (authStoreService.sameUserWithOpenTask$ | async)
                      ?.currentProject?.name,
                    resumeTranscription:
                      'projects-list.resume transcription' | transloco
                  }
          "
        ></span>
        <p>
          <a class="link" (click)="resumeTaskManually()">{{
            'projects-list.resume transcription' | transloco
          }}</a>
        </p>
      </div>
    </ng-template>
    <h1>{{ 'g.projects' | transloco }}</h1>
    <p class="text-center">
      {{ 'projects-list.introduction' | transloco }}
    </p>
    <div class="table-wrapper flex overflow-y-scroll h-100">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>{{ 'g.name' | transloco }}</th>
            <th>{{ 'g.description' | transloco }}</th>
            <th class="text-center">{{ 'g.free tasks' | transloco }}</th>
            <th class="text-center">{{ 'g.action' | transloco }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let project of projects"
            [ngClass]="{
              deactivated: getFreeAnnotationTasks(project) < 1
            }"
          >
            <td>
              <i
                *ngIf="project.active"
                class="bi bi-check-circle"
                style="color: green"
              ></i>
              <i
                *ngIf="!project.active"
                class="bi bi-dash-circle"
                style="color: red"
              ></i>
            </td>
            <td>{{ project.name }}</td>
            <td class="description">{{ project.description }}</td>
            <td class="text-center">{{ getFreeAnnotationTasks(project) }}</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm"
                size="sm"
                (click)="onProjectClick(project)"
              >
                {{ 'g.start' | transloco }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
