<div class="card container my-0 my-lg-3">
  <div class="card-body flex h-100">
    @if (authStoreService.otherUserLoggedIn$ | async) {
      <div
        class="alert alert-warning text-center"
        [innerHTML]="
          'projects-list.other user logged in'
            | transloco
              : {
                  username: (authStoreService.otherUserLoggedIn$ | async)
                    ?.username,
                }
        "
      ></div>
    } @else {
      @if (previousProject) {
        <div class="alert alert-warning text-center">
          <span
            [innerHTML]="
              'projects-list.same user free task'
                | transloco
                  : {
                      project: previousProject?.name,
                      resumeTranscription:
                        'projects-list.resume transcription' | transloco,
                    }
            "
          ></span>
          <p>
            <a
              class="link"
              (click)="annotationStoreService.resumeTaskManually()"
              >{{ 'projects-list.resume transcription' | transloco }}</a
            >
          </p>
        </div>
      }
    }
    <div class="d-block">
      <h1>{{ 'g.projects' | transloco }}</h1>
      <p class="text-center">
        {{ 'projects-list.introduction' | transloco }}
      </p>
    </div>
    <div class="flex" style="height: 100px">
      @if (shownProjects) {
        <div class="row shadow p-3 m-3 rounded">
          <div class="col-auto align-items-center">
            <i class="bi bi-stars" style="font-size: 2rem; color: #ffb700"></i>
          </div>
          <div class="col align-items-center">
            {{ 'projects-list.resuming feature' | transloco }}
            <a
              href="https://clarin.phonetik.uni-muenchen.de/apps/octra/manuals/octra/the-modes.html#resuming-paused-tasks"
              target="_blank"
              >{{ 'p.further information' | transloco }}</a
            >
          </div>
        </div>

        <div
          class="text-end link"
          style="font-size: 0.8rem"
          (click)="openCreateProjectRequestModal()"
        >
          {{ 'projects-list.project creation wanted' | transloco }}
        </div>
        <div class="list-group flex" style="height: 100px">
          <div class="list-group-item">
            <div class="row g-0">
              <div class="col"></div>
              <div class="col-auto text-right">
                <ngb-pagination
                  [size]="'sm'"
                  [page]="currentPage.page"
                  [collectionSize]="currentPage.collectionSize"
                  [pageSize]="itemsPerPage"
                  (pageChange)="showProjects($event)"
                ></ngb-pagination>
              </div>
            </div>
          </div>
          <div class="table-wrapper">
            <div
              ngbAccordion
              #accordion="ngbAccordion"
              [closeOthers]="true"
              [destroyOnHide]="true"
            >
              @for (project of shownProjects; track project) {
                <div [ngbAccordionItem]="project.id" #acc="ngbAccordionItem">
                  <div ngbAccordionHeader class="list-group-item">
                    <div
                      class="row g-3 align-items-center justify-items-center justify-content-center"
                    >
                      <div class="col-auto project-name">
                        <i
                          class="bi ms-2 pointer"
                          [ngClass]="{
                            'bi-chevron-down': acc.collapsed,
                            'bi-chevron-up': !acc.collapsed,
                          }"
                          ngbAccordionToggle
                          [ngStyle]="{
                            visibility: project.canExpand
                              ? 'visible'
                              : 'hidden',
                          }"
                        ></i>
                      </div>
                      <div class="col">
                        <div
                          class="row align-items-center justify-items-center justify-content-center"
                        >
                          @if (
                            (authStoreService.me$ | async)?.systemRole
                              ?.label === 'administrator' || istProjectAdmin
                          ) {
                            <div class="col-auto project-name">
                              @if (project.active) {
                                <i
                                  class="bi bi-check-circle"
                                  style="color: green"
                                ></i>
                              }
                              @if (!project.active) {
                                <i
                                  class="bi bi-dash-circle"
                                  style="color: red"
                                ></i>
                              }
                            </div>
                          }
                          <div
                            class="col align-items-center justify-items-center justify-content-center"
                          >
                            <span class="project-name"
                              >{{ project.name }} ({{
                                project.shortname
                              }})</span
                            >

                            <div class="row">
                              <div class="col text-muted project-description">
                                {{ project.public_description }}
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-2">
                                <span
                                  class="rounded-pill text-white property-pill me-1"
                                  style="background-color: purple"
                                >
                                  <i class="bi bi-list-ol"></i>
                                  {{ 'g.free tasks' | transloco }}:
                                  {{ project.freeTasks }}
                                </span>
                                @if (project.pausedTasks > 0) {
                                  <span
                                    class="rounded-pill text-white property-pill me-1 text-bg-warning paused-tasks-badge pointer"
                                    (click)="acc.collapsed = !acc.collapsed"
                                  >
                                    <i class="bi bi-pause"></i>
                                    {{ 'g.paused tasks' | transloco }}:
                                    {{ project.pausedTasks }}
                                  </span>
                                }

                                @if (project.enddate) {
                                  <span
                                    class="rounded-pill text-white property-pill me-1 bg-info"
                                  >
                                    <i class="bi bi-calendar-day"></i>
                                    {{ 'p.available until' | transloco }}:
                                    {{
                                      project.enddate
                                        | luxonShortDateTime
                                          : {
                                              locale: (
                                                authStoreService.me$ | async
                                              ).locale,
                                            }
                                    }}
                                  </span>
                                }
                              </div>
                            </div>
                          </div>
                          <div
                            class="col-md-3 align-items-center justify-items-center justify-content-center"
                          >
                            @if (project.freeTasks > 0) {
                              <button
                                class="btn btn-primary btn-sm w-100"
                                size="sm"
                                [disabled]="projectStarting"
                                (click)="onStartNewTaskClick(project)"
                              >
                                {{ 'transcription.new' | transloco }}
                                <i class="bi bi-play-fill"></i>
                              </button>
                            }
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                      <ng-template>
                        <div class="border bg-light-subtle">
                          <octra-my-tasks
                            [project]="project"
                            (continueTask)="pausedTaskContinueClick($event)"
                          ></octra-my-tasks>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      } @else {
        <div class="text-center mt-5">
          <div
            class="spinner-border"
            role="status"
            style="width: 6rem; height: 6rem; color: lightgrey"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      }
    </div>
  </div>
</div>
