@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import 'jodit/build/jodit.min.css';

.btn.btn-success {
  color: #fff;
  background-color: #009688;
  border-color: #009688;
}

.btn.btn-warning {
  color: #fff;
  background-color: #ff5722;
  border-color: #ff5722;
}

.btn.btn-danger {
  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
}

.btn.btn-primary {
  color: #fff !important;
  background-color: #009688 !important;
  border-color: #009688 !important;
}

.btn.btn-secondary {
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.modal-open {
  padding-right: 0 !important;
}

h1 {
  text-align: center;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  main .container {
    padding-left: 0;
    padding-right: 0;
  }
}

footer {
  text-align: center;
  font-size: 10px;
}

.container {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.waiting {
  margin: 100px auto;
  width: 64px;
  position: relative;
}

.link {
  color: #0095dd;
  cursor: pointer;
}

#rules {
  display: none;
}

#loading {
  text-align: center;
  padding: 20px;
}

#loading .description {
  margin-top: 20px;
}

#overview .modal-dialog,
#rules .modal-dialog {
  width: 90%;
}

.note-popover .popover-content,
.panel-heading.note-toolbar {
  padding: 0;
  margin: 0;
}

.transcr-editor .btn-description {
  font-size: 0.9em;
}

.transcr-editor .btn-shortcut {
  font-size: 0.65em;
}

#loading {
  text-align: center;
}

.btn-icon-text {
  height: 16px;
}

.export-button {
  background-color: whitesmoke;
  border: 1px solid grey;
  text-align: center;
  padding: 20px;
}

.export-a {
  font-size: 0.8em;
}

.bg-warning,
.bg-danger {
  padding: 10px;
}

.error_underline {
  border-bottom: 2px solid #ff6a7d;
  display: inline;
  cursor: pointer;
}

.error-tooltip {
  display: none;
  background-color: #ff899d;
  padding: 10px;
  max-width: 70%;
  position: absolute;
  z-index: 2000;
  left: 0;
  top: 0;
}

.error-tooltip .title {
  font-weight: bold;
  display: block;
}

.error-tooltip .description {
  font-size: 0.8em;
}

#logo {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 5em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#bugreport .modal-dialog {
  width: 90%;
  height: 100%;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.note-editor.note-frame.panel.panel-default {
  flex: auto;
}

.transcr-editor .note-editable.panel-body {
  flex: auto;
}

.note-editor.note-frame.panel.panel-default,
.note-editing-area {
  flex: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.note-editable.panel-body {
}

.seg-popover {
  border: 1px solid orange;
  background-color: white;
  z-index: 100;
  position: absolute;
  padding: 5px;
  display: none;
}

.textspan {
  display: inline;
}

.tooltip.right {
  width: 200px;
}

#prompt-modal .modal-dialog {
  width: 90%;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.note-toolbar button.note-btn.btn.btn-light.btn-sm {
  background-color: whitesmoke;
  color: black;
  padding: 2px 6px;
}

.note-toolbar button.note-btn.btn.btn-light.btn-sm:hover {
  background-color: lightgrey;
  color: black;
}

.note-editor.note-frame.panel {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.note-editing-area span.bmd-form-group {
  display: none;
}

.note-editor .note-editable {
  flex-direction: column;
  flex: auto;
}

.note-toolbar.panel-heading {
  margin: 5px 0 0 5px;
}

.note-btn-group.btn-group.note-default {
  margin: 0;
  display: inherit;
}

.note-toolbar-wrapper.panel-default {
  background-color: whitesmoke;
}

.val-error {
  border: 1px solid red;
  border-radius: 2px;
  cursor: pointer;
}

.note-editor.note-frame.card {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.note-toolbar {
  z-index: 20;
}

.note-btn-group.btn-group.note-default button {
  margin: 3px 0 0 0;
  /* padding: 1px; */
}

.radio label .bmd-radio,
label.radio-inline .bmd-radio {
  margin-top: 0;
}

.radio {
  margin-right: 5px;
}

.note-editable.card-block {
  min-height: 100px;
}

.btn-icon {
  height: 14px;
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
}

.column.ng-star-inserted.gu-mirror .delete-column {
  color: gray;
}

.column.ng-star-inserted.gu-mirror .delete-column {
  cursor: pointer;
  position: absolute;
  display: inline;
  margin-right: 10px;
  margin-top: 4px;
  top: 0;
  right: 0;
}

.column.ng-star-inserted.gu-mirror .grip {
  border: 1px solid lightgray;
  padding: 3px;
  vertical-align: middle;
  /* width: 30px; */
  text-align: center;
  background-color: ghostwhite;
  color: gray;
  position: relative;
}

.column.ng-star-inserted.gu-mirror .title {
  display: block;
  border: none;
  border-bottom: 1px solid lightgray;
  text-align: left;
  padding: 5px;
  cursor: text;
  font-weight: bold;
  width: 100%;
}

.star .column.ng-star-inserted.gu-mirror {
  padding: 0;
  position: relative;
  border: 1px solid gray;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 0;
}

.column.ng-star-inserted.gu-mirror .cell {
  border-bottom: 1px solid lightgray;
  padding: 5px;
  height: 35px;
  background-color: white;
}

.column.ng-star-inserted.gu-mirror .cell:last-of-type {
  border-bottom: none;
}

.note-toolbar.card-header {
  padding: 0;
  background-color: whitesmoke;
}

.highlighted {
  background-color: yellow;
  border: 1px solid dimgray;
  display: inline;
}

.modal-content {
  border-radius: 20px !important;
}

.btn-info,
.bg-info,
.btn-info:hover {
  color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.form-check,
.form-switch input {
  cursor: pointer;
}

.jodit-container .jodit-workplace {
  height: 100% !important;
}

.jodit-container.jodit.jodit_theme_default.jodit-wysiwyg_mode {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.jodit-toolbar-editor-collection .jodit-toolbar-content {
  display: table-cell;
  vertical-align: middle;
}

.jodit-toolbar__box:not(:empty):not(:empty),
.jodit-toolbar-editor-collection_size_middle.jodit-toolbar-editor-collection_mode_horizontal {
  background: whitesmoke !important;
}

.jodit-toolbar__box .btn-shortcut {
  font-size: 0.7em;
  margin: auto 0;
  margin-left: 3px;
}

.jodit-toolbar__box {
  display: inline-table !important;
}

.pointer {
  cursor: pointer;
}

ngx-jodit {
  height: 200px !important;
}

.text-outline-white{
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white !important;
}

.beta_mark {
  color: red;
  position: absolute;
  margin-left: 97px;
  margin-top: 30px;
  left: 0;
  top: 0;
  z-index: 1031;
  font-weight: 600;
  letter-spacing: 1px;
}
