:host {
    display: flex;
    flex-direction: column;
    flex: auto;
}

h2 {
    text-align: center;
    width: 100%;
    padding: 20px;
}

.back-button {
    top: 0;
    left: 0;
    width: 100px;
    position: absolute;
    margin-top: 20px;
}