<div class="container panel" style="background-color: white; padding: 20px">
  <h3>{{ 'reload-file.header' | transloco }}</h3>
  <p>
    {{ 'reload-file.text' | transloco }}
  </p>
  <p>
    <b>{{ 'g.wanted' | transloco }}: {{ getDropzoneFileString(sessionfile) }}</b
    ><br /><br />
  </p>
  <octra-dropzone
    #dropzone
    [oldFiles]="sessionfile ? [sessionfile] : []"
  ></octra-dropzone>

  <div class="btn-group w-100" role="group">
    <button (click)="askForAbort()" class="btn btn-secondary">
      <i class="bi bi-box-arrow-left"></i>
      <span class="d-none d-lg-inline">
        {{ 'transcription.stop' | transloco }}</span
      >
    </button>
    @if (dropzone.statistics.new > 0) {
      <button
        (click)="newTranscription()"
        [disabled]="
          dropzone.files.length === 0 ||
          !dropzone.statistics ||
          dropzone.statistics.invalid > 0 ||
          dropzone.statistics.progress > 0 ||
          dropzone.statistics.waiting > 0
        "
        class="btn btn-danger"
      >
        <i class="bi bi-file-fill"></i>
        <span class="d-none d-lg-inline">
          {{ 'transcription.new' | transloco }}</span
        >
      </button>
    } @else {
      <button
        (click)="onOfflineSubmit()"
        [disabled]="
          dropzone.files.length === 0 ||
          !dropzone.statistics ||
          dropzone.statistics.invalid > 0 ||
          dropzone.statistics.progress > 0 ||
          dropzone.statistics.waiting > 0
        "
        class="btn btn-primary"
        type="button"
      >
        <i class="bi bi-pencil-fill"></i>
        <span class="d-none d-lg-inline">
          {{ 'transcription.start' | transloco }}</span
        >
      </button>
    }
  </div>
</div>
