<div class="container panel" style="background-color: white; padding: 20px">
  <h3>{{ 'reload-file.header' | transloco }}</h3>
  <p>
    {{ 'reload-file.text' | transloco }}
  </p>
  <p>
    <b
      >{{ 'g.wanted' | transloco }}:
      {{ getDropzoneFileString(sessionfile) }}</b
    ><br /><br />
  </p>
  <octra-dropzone #dropzone></octra-dropzone>

  <div class="btn-group w-100" role="group">
    <button (click)="askForAbort()" class="btn btn-secondary">
      <i class="bi bi-box-arrow-left"></i>
      <span class="d-none d-lg-inline">
        {{ 'transcription.stop' | transloco }}</span
      >
    </button>
    <button
      (click)="newTranscription()"
      [disabled]="!(dropzone.status === 'valid')"
      class="btn btn-danger"
    >
      <i class="bi bi-file-fill"></i>
      <span class="d-none d-lg-inline">
        {{ 'transcription.new' | transloco }}</span
      >
    </button>
    <button
      (click)="onOfflineSubmit()"
      [disabled]="
        !(
          !isN(dropzone.oaudiofile) &&
          sessionfile !== undefined &&
          dropzone.oaudiofile?.name === sessionfile.name &&
          isN(dropzone.oannotation)
        )
      "
      class="btn btn-primary"
      type="button"
    >
      <i class="bi bi-pencil-fill"></i>
      <span class="d-none d-lg-inline">
        {{ 'transcription.start' | transloco }}</span
      >
    </button>
  </div>
</div>
