<div *ngIf="queue.length > 0" id="alert">
  <button (click)="clear()" *ngIf="queue.length > 1" [@fadeInOnEnter]
          [@fadeOutOnLeave] class="btn btn-sm btn-secondary clear-all-button">
    <fa-icon
      [icon]="['far', 'trash-alt']"></fa-icon>
    Clear all
  </button>
  <div class="queue">
    <ng-container *ngFor="let entry of queue">
      <div [@fadeInOnEnter] [@fadeOutOnLeave] class="alert alert-{{entry.type}} alert-dismissible"
           role="alert">
        <p *ngIf="entry.component === null" [innerHTML]="validate(entry.message)" style="margin-right:10px;"></p>
        <div style="margin-right: 10px;">
          <ng-template (destroyed)="afterComponentDestroyed($event)" (initialized)="afterComponentInitialized($event)"
                       *ngIf="entry.component !== null"
                       [component]="entry.component"
                       appDynComponent></ng-template>
          <p *ngIf="entry.duration > -1">
            ({{"general.dismissed" | transloco:
            {
              value: entry.duration
            }
            }})
          </p>
        </div>

        <button (click)="onClose(entry)" aria-label="Close" class="close" data-dismiss="alert" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </ng-container>
  </div>
</div>
