<div class="container">
    <div class="row">
        <div *ngIf="prod_news.length > 0" [ngClass]="{
    'col-md-6': app_news.length > 0,
    'col-md-12': app_news.length === 0
    }">
            <h3>Production News</h3>
            <ul class="pagination">
                <li><a (click)="prod_news_page = (prod_news_page > 0) ? prod_news_page - 1 : 0">«</a>
                </li>
                <li *ngFor="let page of pages(prod_news)" (click)="prod_news_page = page -1;"
                    [ngClass]="{'active': prod_news_page + 1 === page}"><a>{{page}}</a>
                </li>
                <li>
                    <a (click)="prod_news_page = (prod_news_page < Math.floor((prod_news.length - 1) / 5)) ? prod_news_page+1 : Math.floor((prod_news.length - 1) / 5)">»</a>
                </li>
            </ul>
            <div *ngFor="let entry of prod_news_filtered" class="well">
                <a class="date">{{entry.date | date:'medium'}}</a>
                <h4>{{entry.title}}</h4>
                <div [innerHTML]="entry.content"></div>
            </div>
        </div>
        <div *ngIf="app_news.length > 0" [ngClass]="{
    'col-md-6': prod_news.length > 0,
    'col-md-12': prod_news.length === 0
    }">
            <h3>App News</h3>
            <ul class="pagination">
                <li><a (click)="app_news_page = (app_news_page > 0) ? app_news_page - 1 : 0">«</a>
                </li>
                <li *ngFor="let page of pages(app_news)" (click)="app_news_page = page -1;"
                    [ngClass]="{'active': app_news_page + 1 === page}"><a>{{page}}</a>
                </li>
                <li>
                    <a (click)="app_news_page = (app_news_page < Math.floor((app_news.length - 1) / 5)) ? app_news_page+1 : Math.floor((app_news.length - 1) / 5)">»</a>
                </li>
            </ul>
            <div *ngFor="let entry of app_news_filtered" class="well">
                <a class="date">{{entry.date | date:'medium'}}</a>
                <h4>{{entry.title}}</h4>
                <div [innerHTML]="entry.content"></div>
            </div>
        </div>
    </div>
</div>