<div *ngIf="type == 'success'" [hidden]="!show" class="alert alert-dismissible alert-success"
     [@fadeToggle]="state">
    {{text}}
</div>
<div *ngIf="type == 'error'" [hidden]="!show" class="alert alert-dismissible alert-danger" [@fadeToggle]="state">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{text}}
</div>
<div *ngIf="type == 'info'" [hidden]="!show" class="alert alert-dismissible alert-info" [@fadeToggle]="state">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{text}}
</div>