<div id="fastbar">
    <div class="btn-group btn-group-justified btn-group-sm" role="group" aria-label="Justified button group">
        <a class="btn" (click)="shortcutbtnclicked.emit()">
            <span class="glyphicon glyphicon-open"></span>
            <span *ngIf="!appStorage.easymode" [ngClass]="{'hidden-xs hidden-sm ': responsive}">{{button_labels.shortcuts}}</span>
            <span *ngIf="!appStorage.easymode" [ngClass]="{'hidden-xs hidden-sm hidden-md': responsive}">[ALT +
                            8]</span></a>
        <a class='btn' (click)="guidelinesbtnclicked.emit()">
            <span class="glyphicon glyphicon-th-list"></span>
            <span *ngIf="!appStorage.easymode" [ngClass]="{'hidden-xs hidden-sm ': responsive}">{{button_labels.guidelines}}</span>
            <span *ngIf="!appStorage.easymode"
                  [ngClass]="{'hidden-xs hidden-sm hidden-md': responsive}">[ALT + 9]</span>
        </a>
        <a class='btn' (click)="overviewbtnclicked.emit()">
            <span class="glyphicon glyphicon-eye-open"></span>
            <span *ngIf="!appStorage.easymode" [ngClass]="{'hidden-xs hidden-sm ': responsive}">{{button_labels.overview}}</span>
            <span *ngIf="!appStorage.easymode"
                  [ngClass]="{'hidden-xs hidden-sm hidden-md': responsive}">[ALT + 0]</span>
        </a>
        <a [routerLink]="['/user/transcr/help']" class="btn">
            <span class="glyphicon glyphicon-question-sign"></span>
            <span *ngIf="!appStorage.easymode"
                  [ngClass]="{'hidden-xs hidden-sm ': responsive}">{{button_labels.help}}</span>
        </a>
    </div>
</div>