<div id="fastbar">
    <div class="btn-group btn-group-justified btn-group-sm" role="group" aria-label="Justified button group">
        <a class="btn" (click)="shortcutbtnclicked.emit()">
            <fa-icon icon="keyboard"></fa-icon>
            <span *ngIf="!appStorage.easymode" [ngClass]="{'hidden-xs hidden-sm ': responsive}"> {{button_labels.shortcuts}}</span>
            <span *ngIf="!appStorage.easymode" [ngClass]="{'hidden-xs hidden-sm hidden-md': responsive}"> [ALT +
                            8]</span></a>
        <a class='btn' (click)="guidelinesbtnclicked.emit()">
            <fa-icon icon="th-list"></fa-icon>
            <span *ngIf="!appStorage.easymode" [ngClass]="{'hidden-xs hidden-sm ': responsive}"> {{button_labels.guidelines}}</span>
            <span *ngIf="!appStorage.easymode"
                  [ngClass]="{'hidden-xs hidden-sm hidden-md': responsive}"> [ALT + 9]</span>
        </a>
        <a class='btn' (click)="overviewbtnclicked.emit()">
            <fa-icon icon="eye"></fa-icon>
            <span *ngIf="!appStorage.easymode" [ngClass]="{'hidden-xs hidden-sm ': responsive}"> {{button_labels.overview}}</span>
            <span *ngIf="!appStorage.easymode"
                  [ngClass]="{'hidden-xs hidden-sm hidden-md': responsive}"> [ALT + 0]</span>
        </a>
        <a [routerLink]="['/user/transcr/help']" [queryParamsHandling]="'merge'" class="btn">
            <fa-icon icon="question-circle"></fa-icon>
            <span *ngIf="!appStorage.easymode"
                  [ngClass]="{'hidden-xs hidden-sm ': responsive}"> {{button_labels.help}}</span>
        </a>
    </div>
</div>