<mdb-card class="container">
  <mdb-card-body>
    <h1>Projects</h1>
    <p class="text-center">
      Please select a project that you want to transcribe and click on "START".
    </p>
    <div class="table-wrapper">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th class="text-center">Free Tasks</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projects" [ngClass]="{
        'deactivated': project.transcripts_count_free < 1 || !project.active
      }">
          <td>{{project.name}}</td>
          <td class="description">{{project.description}}</td>
          <td class="text-center">{{project.transcripts_count_free}}</td>
          <td class="text-center">
            <button mdbBtn mdbWavesEffect color="primary" size="sm" (click)="onProjectClick(project)"
                    [disabled]="project.transcripts_count_free < 1 || !project.active">Start
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </mdb-card-body>
</mdb-card>
