<div id="loading">
  <span id="logo">OCTRA</span>
  <div class="progress progress-bar-animated">
    <div
      *ngIf="settService.log === ''"
      [ngStyle]="{
        width: (loading.status === 'LOADING' ? loading!.progress : 0) + '%'
      }"
      class="progress-bar"
    ></div>
    <div
      *ngIf="settService.log !== ''"
      [ngStyle]="{
        width: '100%',
        'background-color': 'red'
      }"
      class="progress-bar"
    ></div>
  </div>
  <div *ngIf="settService.log === ''" class="description">
    {{ text }}{{ state }}<br />
    <div class="text-info">{{ warning }}</div>
    <div *ngIf="warning !== undefined && warning !== ''">
      <span (click)="retry()" class="link">Retry </span>
      <ng-container *ngIf="appStorage.useMode !== 'url'"
        >or <span (click)="goBack()" class="link"> Back</span>
      </ng-container>
    </div>
  </div>
  <div [innerHTML]="settService.log" class="log"></div>
  <div *ngIf="settService.log !== ''">
    <span (click)="retry()" class="link">Retry </span>
    <ng-container *ngIf="appStorage.useMode !== 'url'"
      >or <span (click)="goBack()" class="link"> Back</span>
    </ng-container>
  </div>
</div>
