<div style="position: relative">
  <div
    #dropzone
    (click)="onClick()"
    (dragover)="onDragOver($event)"
    (drop)="onFileDrop($event)"
    [ngStyle]="{
      height: height,
    }"
    class="dropzone"
  >
    <div class="inner postion-relative" style="margin: auto 0">
      <i
        class="bi bi-folder2-open dragndrop position-absolute top-50 start-50 translate-middle"
      ></i>
      <ng-content></ng-content>
      <input
        #fileinput
        (change)="onFileChange($event)"
        class="fileinput"
        multiple
        style="display: none"
        type="file"
        value="Select audio file"
      />
    </div>
  </div>
</div>
