<div style="position: relative;">
  <div #dropzone (click)="onClick($event)" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)" [ngStyle]="{
  height: height
}" class="dropzone">
    <div class="inner" style="margin: auto 0;">
      <ng-content></ng-content>
      <fa-icon class="dragndrop" icon="folder-open"></fa-icon>
      <input #fileinput (change)="onFileChange($event)" class="fileinput" multiple style="display:none;" type="file"
             value="Select audio file"/>
    </div>
  </div>
</div>
