<div #window id="window">
  <div class="window-nav-top">
    <i class="bi bi-x-lg close pointer" (click)="close()"></i>
  </div>
  <div #main>
    <div
      *ngIf="loading"
      [ngStyle]="{
        width: mainSize.width + 'px',
        height: mainSize.height + 'px'
      }"
      class="tw-loading"
    >
      <div
        [ngStyle]="{
          width: mainSize.width + 'px',
          height: mainSize.height + 'px'
        }"
        class="background"
      ></div>
      <div class="spinner-border fs-4" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <octra-asr-options
      *ngIf="asrStoreService.asrEnabled$ | async"
      [audioChunk]="audiochunk"
      [enabled]="editor.rawText === ''"
    ></octra-asr-options>
    <octra-audio-navigation
      #audionav
      (afterPlaybackRateChange)="afterSpeedChange($event)"
      (afterVolumeChange)="afterVolumeChange($event)"
      (buttonClick)="onButtonClick($event)"
      (keyup)="onKeyUp()"
      [audioChunk]="audiochunk"
      [easyMode]="easymode"
      [playbackRate]="appStorage.audioSpeed"
      [responsive]="settingsService.responsive.enabled"
      [volume]="appStorage.audioVolume"
    ></octra-audio-navigation>
    <octra-audio-viewer
      #loupe
      [audioChunk]="audiochunk"
      [refreshOnInternChanges]="false"
      [annotation]="annotationStoreService.transcript!"
      (shortcut)="triggerUIAction($event)"
      id="loupe"
    ></octra-audio-viewer>
    <octra-transcr-editor
      #editor
      (boundaryclicked)="onBoundaryClicked($event)"
      [transcript]="transcript"
      (boundaryinserted)="onBoundaryInserted()"
      (markerClick)="onMarkerClick($event)"
      (markerInsert)="onMarkerInsert($event)"
      (typing)="afterTyping($event)"
      [audiochunk]="audiochunk"
      [easymode]="easymode"
      [height]="100"
      [markers]="annotationStoreService.guidelines?.markers!"
      [validationEnabled]="validationEnabled"
      id="trancr"
    ></octra-transcr-editor>
    <div class="window-nav-bottom">
      <div class="row g-0">
        <div class="col-md-4 d-flex">
          <button
            class="btn btn-info w-100 rounded-0"
            (click)="save(); doDirectionAction('left')"
          >
            <span
              *ngIf="responsive || easymode"
              [ngClass]="{ 'd-lg-none': responsive && !easymode }"
            >
              <i class="bi bi-save-fill"></i> & <i class="bi bi-arrow-left"></i>
            </span>
            <span
              *ngIf="!easymode"
              [ngClass]="{ 'd-none d-lg-inline': responsive }"
            >
              {{ 'g.save' | transloco }} &
              {{ 'segments.previous' | transloco }}
            </span>
          </button>
        </div>
        <div class="col-md-4 d-flex">
          <button (click)="save(); close()" class="btn btn-info w-100 rounded-0">
            <span
              *ngIf="responsive || easymode"
              [ngClass]="{ 'd-lg-none': responsive && !easymode }"
            >
              <i class="bi bi-save-fill"></i>
            </span>
            <span
              *ngIf="!easymode"
              [ngClass]="{ 'd-none d-lg-inline': responsive }"
            >
              {{ 'g.save' | transloco }} &
              {{ 'g.close' | transloco }}
            </span>
          </button>
        </div>
        <div class="col-md-4 d-flex">
          <button
            class="btn btn-info w-100 rounded-0"
            (click)="save(); doDirectionAction('right')"
            *ngIf="
              hasSegmentBoundaries ||
              (!isNextSegmentLastAndBreak(segmentIndex) &&
                segmentIndex < annotationStoreService.currentLevel!.items.length - 1)
            "
          >
            <span
              *ngIf="responsive || easymode"
              [ngClass]="{ 'd-lg-none': responsive && !easymode }"
            >
              <i class="bi bi-save-fill"></i> &
              <i class="bi bi-arrow-right"></i>
            </span>
            <span
              *ngIf="!easymode"
              [ngClass]="{ 'd-none d-lg-inline': responsive }"
            >
              {{ 'g.save' | transloco }} &
              {{ 'segments.next' | transloco }}
            </span>
          </button>
        </div>
        <div
          class="col-md-4 d-flex"
          *ngIf="
            !hasSegmentBoundaries &&
            (segmentIndex ===
              annotationStoreService.currentLevel!.items.length - 1 ||
              isNextSegmentLastAndBreak(segmentIndex))
          "
        >
          <!-- check if last segment ord if the next segment is a break -->
          <button
            (click)="save(); close(); openOverview()"
            class="btn btn-info w-100 rounded-0"
          >
            <span
              *ngIf="responsive || easymode"
              [ngClass]="{ 'd-lg-none': responsive && !easymode }"
            >
              <i class="bi bi-save-fill"></i> & <i class="bi bi-eye-fill"></i>
            </span>
            <span
              *ngIf="!easymode"
              [ngClass]="{ 'd-none d-lg-inline': responsive }"
            >
              {{ 'g.save' | transloco }} &
              {{ 'g.overview' | transloco }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div (click)="close()" id="black"></div>
