:host {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.window-nav-top,
.window-nav-bottom {
  display: block;
  width: 100%;
  text-align: right;
}

.window-nav-top {
  height: 2em;
}

.window-nav-bottom {
  bottom: 0;
}

#window .audio-nav {
  margin-bottom: -10px;
}

.tw-loading {
  position: absolute;
  z-index: 100;
  text-align: center;
}

.tw-loading .background {
  opacity: 0.75;
  background-color: white;
  position: absolute;
  z-index: 110;
}

.tw-loading .spinner-border {
  position: absolute;
  margin-top: 150px;
  color: #adadad;
  z-index: 120;
}

octra-transcr-editor {
  display: flex;
  flex-direction: column;
  flex: auto;
}
