<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
     id="supportedfiles" (onHidden)="onHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{"general.export data" | transloco}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="export-table" #content>
        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th>{{'general.download' | transloco}}</th>
            <th>{{'general.application' | transloco}}</th>
            <th>{{'general.website' | transloco}}</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let converter of converters; let i = index;">
            <tr *ngIf="converter.conversion.export">
              <td (click)="onLineClick(converter, i)">
                <fa-icon style="color:gray;"
                         [icon]="['fas', ((exportStates[i] === 'active') ? 'chevron-up' : 'chevron-down')]"></fa-icon>
              </td>
              <td (click)="onLineClick(converter, i)">
                <a #a>
                  {{converter.name}} (*{{converter.extension}})
                </a>
                <fa-icon icon="spinner" [spin]="true"
                         *ngIf="preparing.name === converter.name && preparing.preparing"></fa-icon>
              </td>
              <td (click)="onLineClick(converter, i)">
                {{converter.application}}
              </td>
              <td (click)="onLineClick(converter, i)">
                <a href="{{converter.website.url}}" target="_blank">
                  {{converter.website.title}}
                </a>
              </td>
              <td (click)="onLineClick(converter, i)">
                <fa-icon *ngIf="converter.notice !== ''" icon="info-circle"
                         [tooltip]="converter.notice"></fa-icon>
              </td>
            </tr>
            <tr [@fadeToggle]="exportStates[i]" *ngIf="converter.conversion.export">
              <td></td>
              <td colspan="4" style="padding-left:20px;">
                <select #val
                        *ngIf="navbarServ.transcrService !== undefined && !converter.multitiers && transcrService.annotation.levels.length > 1"
                        (change)="onSelectionChange(converter, val.value)">
                  <option value="">{{"general.select one tier" | transloco}}</option>
                  <option *ngFor="let level of navbarServ.transcrService.annotation.levels; let l = index;"
                          value="{{l}}">{{level.name}}
                  </option>
                </select>

                <a style="margin-left:10px;"
                   *ngIf="preparing.name === converter.name && !preparing.preparing"
                   download="{{parentformat.download}}" [href]="parentformat.uri"
                   class="link" (click)="onDownloadClick(i)">
                  <fa-icon icon="save"></fa-icon>
                  Download
                </a>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>

        <h5>{{"general.custom formats" | transloco}}</h5>
        <table class="table table-striped" [ngStyle]="{
          width: content.offsetWidth - 50 + 'px'
        }">
          <thead>
          <tr>
            <th></th>
            <th>{{'general.name' | transloco}}</th>
            <th>{{'general.description' | transloco}}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td (click)="tools.tableConfigurator.opened = !tools.tableConfigurator.opened">
              <fa-icon style="color:gray;"
                       [icon]="['fas', ((tools.tableConfigurator.opened) ? 'chevron-up' : 'chevron-down')]"></fa-icon>
            </td>
            <td (click)="tools.tableConfigurator.opened = !tools.tableConfigurator.opened">
              <a #a>
                {{'custom.table configurator.name' | transloco}}
              </a>
            </td>
            <td colspan="3">{{'custom.table configurator.description' | transloco}}</td>
          </tr>
          <tr [@fadeToggle]="(tools.tableConfigurator.opened) ? 'active': 'inactive'">
            <td></td>
            <td colspan="4" style="padding-left:20px;">
              <div class="card" style="padding:10px;" *ngIf="navbarServ.transcrService !== undefined">
                <app-table-configurator [columns]="tools.tableConfigurator.columns"
                                        [annotation]="transcrService.annotation"
                                        [currentLevelID]="transcrService.currentlevel.id"
                                        [tableWidth]="content.offsetWidth - 100"
                                        #tableConfigurator
                ></app-table-configurator>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <h5>{{"general.meta data" | transloco}}</h5>

        <table class="table table-striped">
          <thead>
          <tr>
            <th style="width:25px;"></th>
            <th>{{'general.name' | transloco}}</th>
            <th>{{'general.description' | transloco}}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td (click)="getProtocol()">
              <fa-icon style="color:gray;"
                       [icon]="['fas', ((preparing.name === 'Protocol') ? 'chevron-up' : 'chevron-down')]"></fa-icon>
            </td>
            <td (click)="getProtocol()">
              <a #a>
                {{'general.protocol' | transloco}}
              </a>
            </td>
            <td colspan="3">{{'export.meta data.description' | transloco}}</td>
          </tr>
          <tr [@fadeToggle]="(preparing.name === 'Protocol') ? 'active': 'inactive'">
            <td></td>
            <td colspan="4">
              <i class="fa fa-spinner fa-spin" *ngIf="preparing.name === 'Protocol' && preparing.preparing"></i>
              <a *ngIf="preparing.name === 'Protocol' && !preparing.preparing"
                 download="{{parentformat.download}}" [href]="parentformat.uri"
                 class="link">
                <fa-icon icon="save"></fa-icon>
                Download
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="close()">
          {{"general.close" | transloco}}
        </button>
      </div>
    </div>
  </div>
</div>
