<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
     id="supportedfiles" (onHidden)="onHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{"general.export data" | transloco}}</h4>
      </div>
      <div class="modal-body" id="export-table">
        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th>{{'general.download' | transloco}}</th>
            <th>{{'general.application' | transloco}}</th>
            <th>{{'general.website' | transloco}}</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let converter of converters; let i = index;">
            <tr *ngIf="converter.conversion.export">
              <td (click)="onLineClick(converter, i)">
                <fa-icon style="color:gray;"
                         [icon]="['fas', ((exportStates[i] === 'active') ? 'chevron-up' : 'chevron-down')]"></fa-icon>
              </td>
              <td (click)="onLineClick(converter, i)">
                <a #a>
                  {{converter.name}} (*{{converter.extension}})
                </a>
                <fa-icon icon="spinner" [spin]="true"
                         *ngIf="preparing.name === converter.name && preparing.preparing"></fa-icon>
              </td>
              <td (click)="onLineClick(converter, i)">
                {{converter.application}}
              </td>
              <td (click)="onLineClick(converter, i)">
                <a href="{{converter.website.url}}" target="_blank">
                  {{converter.website.title}}
                </a>
              </td>
              <td (click)="onLineClick(converter, i)">
                <fa-icon *ngIf="converter.notice !== ''" icon="info-circle"
                         [attr.title]="converter.notice"></fa-icon>
              </td>
            </tr>
            <tr [@fadeToggle]="exportStates[i]" *ngIf="converter.conversion.export">
              <td></td>
              <td colspan="4" style="padding-left:20px;">
                <select #val
                        *ngIf="navbarServ.transcrService !== undefined && !converter.multitiers && transcrService.annotation.levels.length > 1"
                        (change)="onSelectionChange(converter, val.value)">
                  <option value="">{{"general.select one tier" | transloco}}</option>
                  <option *ngFor="let level of navbarServ.transcrService.annotation.levels; let l = index;"
                          value="{{l}}">{{level.name}}
                  </option>
                </select>

                <a style="margin-left:10px;"
                   *ngIf="preparing.name === converter.name && !preparing.preparing"
                   download="{{parentformat.download}}" [href]="parentformat.uri"
                   class="link" (click)="onDownloadClick(i)">
                  <fa-icon icon="save"></fa-icon>
                  Download
                </a>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>

        <h5>Tools</h5>
        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th>{{'general.name' | transloco}}</th>
            <th>{{'general.description' | transloco}}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="navbarServ.transcrService !== undefined
                     && navbarServ.transcrService.audiomanager.originalInfo.extension === '.wav'">
            <td (click)="tools.audioCutting.opened = !tools.audioCutting.opened">
              <fa-icon style="color:gray;"
                       [icon]="['fas', ((tools.audioCutting.opened) ? 'chevron-up' : 'chevron-down')]"></fa-icon>
            </td>
            <td (click)="tools.audioCutting.opened = !tools.audioCutting.opened">
              <a #a>
                {{'tools.cut audio.name' | transloco}}
              </a>
            </td>
            <td colspan="3">{{'tools.cut audio.description' | transloco}}</td>
          </tr>
          <tr *ngIf="navbarServ.transcrService !== undefined
                    && navbarServ.transcrService.audiomanager.originalInfo.extension === '.wav'"
              [@fadeToggle]="(tools.audioCutting.opened) ? 'active': 'inactive'">
            <td></td>
            <td colspan="4" style="padding-left:20px;">
              <div class="card" style="padding:10px;" *ngIf="navbarServ.transcrService !== undefined">
                <div class="btn-group">
                  <label class="btn btn-primary" [(ngModel)]="tools.audioCutting.selectedMethod"
                         btnRadio="client" tabindex="0" role="button">client-side</label>
                  <label class="btn btn-primary" [(ngModel)]="tools.audioCutting.selectedMethod"
                         btnRadio="server" tabindex="0" role="button" *ngIf="isCuttingServerEnabled">server-side</label>
                </div>
                <a (click)="tools.audioCutting.showConfigurator = !tools.audioCutting.showConfigurator"
                   class="show-configurator-link"
                >
                  <ng-container *ngIf="tools.audioCutting.showConfigurator">
                    <fa-icon style="color:gray;"
                             [icon]="['fas', 'chevron-up']"></fa-icon>
                    {{"tools.cut audio.hide configurator" | transloco}}
                  </ng-container>
                  <ng-container *ngIf="!tools.audioCutting.showConfigurator">
                    <fa-icon style="color:gray;"
                             [icon]="['fas', 'chevron-down']"></fa-icon>
                    {{"tools.cut audio.show configurator" | transloco}}
                  </ng-container>
                </a>
                <div class="configurator" [hidden]="!tools.audioCutting.showConfigurator">
                  <app-naming-drag-and-drop #namingConvention
                                            [fileName]="navbarServ.transcrService.audiomanager.ressource.name"
                                            [firstSegment]="navbarServ.transcrService.currentlevel.segments.get(0)"
                  ></app-naming-drag-and-drop>

                  <div class="form-control">
                    <span>{{'tools.cut audio.append meta files' | transloco}}: </span>
                    <div class="form-check form-check-inline"
                         *ngFor="let exportFormat of tools.audioCutting.exportFormats; let i = index;">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox{{i}}"
                             [value]="exportFormat.value"
                             [(ngModel)]="tools.audioCutting.exportFormats[i].selected">
                      <label class="form-check-label"
                             for="inlineCheckbox{{i}}">{{exportFormat.label}}</label>
                    </div>
                  </div>
                </div>
                <div class="progress-area" style="text-align: center;">
                  <button *ngIf="tools.audioCutting.status !== 'running'"
                          class="btn btn-primary btn-raised" (click)="splitAudio()"
                          [disabled]="namingConvention.resultConvention.length === 1"
                          style="max-width:200px;margin-top:20px;">{{'tools.cut audio.name' | transloco}}
                  </button>
                  <button *ngIf="tools.audioCutting.status === 'running'"
                          class="btn btn-danger btn-raised" (click)="stopAudioSplitting()"
                          style="max-width:200px;margin-top:20px;">{{'general.stop' | transloco}}
                  </button>
                  <div class="mb-2" *ngIf="tools.audioCutting.status !== 'idle'">
                    <progressbar [animate]="true" [value]="tools.audioCutting.progress"
                                 [type]="tools.audioCutting.progressbarType">
                      <b>

                        {{ tools.audioCutting.progress | number : '1.2-2'}}%
                      </b>
                    </progressbar>
                    <div class="text-danger" style="padding:10px;"
                         *ngIf="tools.audioCutting.status === 'failed'">{{tools.audioCutting.message}}</div>
                  </div>
                  <ng-container
                    *ngIf="tools.audioCutting.status !== 'idle' && tools.audioCutting.status !== 'finished' && tools.audioCutting.timeLeft > 0">
                    Time left: {{tools.audioCutting.timeLeft | timespan2}}
                  </ng-container>
                  <a style="margin-left:10px;"
                     *ngIf="tools.audioCutting.result.url !== null"
                     download="{{tools.audioCutting.result.filename}}"
                     [href]="tools.audioCutting.result.url"
                     class="link">
                    <fa-icon icon="save"></fa-icon>
                    {{'general.download' | transloco}}
                  </a>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td (click)="tools.tableConfigurator.opened = !tools.tableConfigurator.opened">
              <fa-icon style="color:gray;"
                       [icon]="['fas', ((tools.tableConfigurator.opened) ? 'chevron-up' : 'chevron-down')]"></fa-icon>
            </td>
            <td (click)="tools.tableConfigurator.opened = !tools.tableConfigurator.opened">
              <a #a>
                {{'tools.table configurator.name' | transloco}}
              </a>
            </td>
            <td colspan="3">{{'tools.table configurator.description' | transloco}}</td>
          </tr>
          <tr [@fadeToggle]="(tools.tableConfigurator.opened) ? 'active': 'inactive'">
            <td></td>
            <td colspan="4" style="padding-left:20px;">
              <div class="card" style="padding:10px;" *ngIf="navbarServ.transcrService !== undefined">
                <button class="btn btn-secondary" (click)="tableConfiguratorAddColumn()">
                  <fa-icon icon="plus"></fa-icon>
                  Add Column
                </button>

                <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"
                     (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let column of tools.tableConfigurator.columns" cdkDrag>
                    <input type="text" [(ngModel)]="column.title"/>
                    <select>
                      <option>Options</option>
                      <option>{{column.timeUnit}}</option>
                    </select>
                    <p>
                      {{column.value}}
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </div>

              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <span class="link" *ngIf="arraybufferExists" (click)="getAudioURI();">
                    <fa-icon icon="headphones"></fa-icon> Audio file (experimental)</span>
        <i class="fa fa-spinner fa-spin" *ngIf="preparing.name === 'Audio' && preparing.preparing"></i>
        <a style="margin-left:10px;" *ngIf="preparing.name === 'Audio' && !preparing.preparing"
           download="{{parentformat.download}}" [href]="parentformat.uri"
           class="link">
          <fa-icon icon="save"></fa-icon>
          Download
        </a><br/>
        <span class="link" (click)="getProtocol()"><fa-icon icon="th-list"></fa-icon> Protocol</span>
        <i class="fa fa-spinner fa-spin" *ngIf="preparing.name === 'Protocol' && preparing.preparing"></i>
        <a style="margin-left:10px;" *ngIf="preparing.name === 'Protocol' && !preparing.preparing"
           download="{{parentformat.download}}" [href]="parentformat.uri"
           class="link">
          <fa-icon icon="save"></fa-icon>
          Download
        </a><br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="close()">
          {{"general.close" | transloco}}
        </button>
      </div>
    </div>
  </div>
</div>
