<app-yes-no-modal #yesno></app-yes-no-modal>
<app-bugreport-modal #bugreport></app-bugreport-modal>
<app-supportedfiles-modal #supportedfiles></app-supportedfiles-modal>
<app-transcription-delete-modal #transcriptionDelete></app-transcription-delete-modal>
<app-transcription-stop-modal #transcriptionStop></app-transcription-stop-modal>
<app-login-invalid-modal #loginInvalid></app-login-invalid-modal>
<app-error-modal #error></app-error-modal>
<app-about-modal #about></app-about-modal>
<app-feedback-notice-modal #feedbackNotice></app-feedback-notice-modal>
