<div class="transcr-editor" #transcrEditor [ngStyle]="{display: (visible) ? 'inherit' : 'none'}"
     (change)="updateTextField()">
  <app-validation-popover #validationPopover
                          [ngStyle]="{
                                'margin-left': popoversNew.validation.location.x + 'px',
                                'margin-top': popoversNew.validation.location.y + 'px'
                            }"
  ></app-validation-popover>
  <div id="asrOverlay" [ngClass]="{
    'asr-running': asr.status === 'active'
  }" [ngStyle]="{
  'height': getHeight() + 'px',
  'width': getWidth() + 'px',
  'display': (asr.status === 'active')? 'block' : 'none'
  }" (click)="onASROverlayClick()">
    <!--
    (asr.status === 'active' || asr.status === 'failed')? 'block' : 'none'
    -->
    <p style="margin-top:50px;text-align: center;" *ngIf="asr.status === 'active'">
      {{"asr.asr running" | transloco}}
    </p>
  </div>
  <!-- (asr.status === 'active' || asr.status === 'failed')? 'block' : 'none' -->
  <div class="textfield">
  </div>
</div>
