<octra-help-modal #helpModal></octra-help-modal>
<div id="fastbar">
  <div aria-label="Justified button group" class="btn-group d-flex" role="group" style="margin:0;">
    <a (click)="shortcutbtnclicked.emit()" class="btn w-100">
      <fa-icon icon="keyboard"></fa-icon>
      <span *ngIf="!appStorage.easymode"
            [ngClass]="{'d-none d-md-inline': responsive}"> {{buttonLabels.shortcuts}}</span>
      <span *ngIf="!appStorage.easymode" [ngClass]="{'d-none d-lg-inline': responsive}"> [ALT +
                            8]</span></a>
    <a (click)="guidelinesbtnclicked.emit()" *ngIf="appStorage.usemode !== 'url'" class='btn w-100'>
      <fa-icon icon="th-list"></fa-icon>
      <span *ngIf="!appStorage.easymode"
            [ngClass]="{'d-none d-md-inline': responsive}"> {{buttonLabels.guidelines}}</span>
      <span *ngIf="!appStorage.easymode"
            [ngClass]="{'d-none d-lg-inline': responsive}"> [ALT + 9]</span>
    </a>
    <a (click)="overviewbtnclicked.emit()" class='btn w-100'>
      <fa-icon icon="eye"></fa-icon>
      <span *ngIf="!appStorage.easymode"
            [ngClass]="{'d-none d-md-inline': responsive}"> {{buttonLabels.overview}}</span>
      <span *ngIf="!appStorage.easymode"
            [ngClass]="{'d-none d-lg-inline': responsive}"> [ALT + 0]</span>
    </a>
    <a (click)="helpModal.open();" class="btn w-100">
      <fa-icon icon="question-circle"></fa-icon>
      <span *ngIf="!appStorage.easymode"
            [ngClass]="{'d-none d-md-inline': responsive}"> {{buttonLabels.help}}</span>
    </a>
  </div>
</div>
