<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
     id="bugreport">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="visible">
            <div class="modal-body">
                <!-- TODO remove old editor name in later versions -->
                <div *ngIf="editor == 'Editor without signal display' || editor == 'Dictaphone Editor'">
                    <h3>{{"modal.shortcuts.audioplayer" | translate}}</h3>
                    <div *ngIf="keyMap.getEntryList('AP') !== null">
                        <table class="table table-striped">
                            <tbody>
                            <tr *ngFor="let entry of keyMap.getEntryList('AP')">
                                <td>{{"modal.shortcuts."+ entry.value.title | translate}}</td>
                                <td>{{entry.value.keys[platform]}} <span *ngIf="entry.value.focusonly"
                                                                         class="focus-info">({{"general.on focus only" | translate}})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div *ngIf="(editor == 'Linear Editor')">
                    <h3>{{"modal.shortcuts.top signaldisplay" | translate}}</h3>
                    <div *ngIf="keyMap.getEntryList('AV') !== null">
                        <table class="table table table-striped">
                            <tbody>
                            <tr *ngFor="let entry of keyMap.getEntryList('AV')">
                                <td>{{"modal.shortcuts."+ entry.value.title | translate}}</td>
                                <td>{{entry.value.keys[platform]}} <span
                                        *ngIf="(entry.value !== null && entry.value.focusonly)"
                                        class="focus-info">({{"general.on focus only" | translate}})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3>{{"modal.shortcuts.down signaldisplay" | translate}}</h3>
                    <div *ngIf="keyMap.getEntryList('Loupe') !== null">
                        <table class="table table-striped">
                            <tbody>
                            <tr *ngFor="let entry of keyMap.getEntryList('Loupe')">
                                <td>{{"modal.shortcuts."+ entry.value.title |translate}}</td>
                                <td>
                                    {{entry.value.keys[platform]}}
                                    <span *ngIf="(entry.value !== null && entry.value.focusonly)"
                                          class="focus-info">({{"general.on focus only" | translate}})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="(editor == '2D-Editor')">
                    <h3>{{"modal.shortcuts.2D-Editor" | translate}}</h3>
                    <div>
                        <table class="table table-striped">
                            <tbody>
                            <tr *ngFor="let entry of keyMap.getEntryList('2D-Editor')">
                                <td>{{"modal.shortcuts."+ entry.value.title | translate}}</td>
                                <td>{{entry.value.keys[platform]}} <span *ngIf="entry.value.focusonly"
                                                                         class="focus-info">({{"general.on focus only" | translate}})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3>{{"general.transcription window" | translate}}</h3>
                    <div>
                        <table class="table table-striped">
                            <tbody>
                            <tr *ngFor="let entry of keyMap.getEntryList('Transcription Window')">
                                <td>{{"modal.shortcuts."+ entry.value.title | translate}}</td>
                                <td>{{entry.value.keys[platform]}} <span *ngIf="entry.value.focusonly"
                                                                         class="focus-info">({{"general.on focus only" | translate}})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="close()">
                    {{"general.close" | translate}}
                </button>
            </div>
        </div>
    </div>
</div>