.languageTable thead th {
  text-align: center;
  font-size: 0.8em;
  vertical-align: middle;
}

.languageTable .selected {
  background-color: powderblue;
}

.languageTable tr td {
  font-size: 0.8em;
  cursor: pointer;
  vertical-align: middle;
  z-index: 10;
}

.languageTable .logo {
  width: 120px;
  border: 1px solid lightgray;
  z-index: 30;
}

.languageTable a {
  display: block;
}

.popover-header {
  font-size: 0.9em;
}

.languageTable {
  width: 350px;
}

.ngb-tooltip-window {
  opacity: 1;
}

#checkboxes {
  margin-left: 280px;
}

#dropdown-button {
  float: left;
  display: block;
}

#checkboxes .entry {
  display: block;
  line-height: 1.1;
}

#checkboxes .entry input {
  margin-right: 3px;
}

#checkboxes .entry label {
  margin-bottom: 0;
  margin-left: 3px;
  font-size: 0.8em;
  cursor: pointer;
}

#dropdown-button {
  margin: 0 1px;
}
