<span class="asr-label">ASR -</span>
<div id="asr-bar">
  <div id="dropdown-button" class="btn-group" dropdown placement="down right" (mousemove)="onMouseMove()"
       (mouseleave)="onMouseOut();"
       [insideClick]="true" #dropdown="bs-dropdown">
    <label for="button-basic" style="vertical-align: middle;margin-right:10px;">{{"general.Language" | transloco}}
      : </label>
    <button id="button-basic" dropdownToggle type="button"
            class="btn btn-outline-secondary btn-sm dropdown-toggle"
            aria-controls="dropdown-basic">
      <ng-container *ngIf="asrService.selectedLanguage === null; else asrAllSet">
        {{"asr.without asr" | transloco}}
      </ng-container>
      <ng-template #asrAllSet>
        {{asrService.selectedLanguage.name}} ({{getShortCode(asrService.selectedLanguage.code)}})
        [{{asrService.selectedLanguage.asr}}]
      </ng-template>
      <span class="caret"></span>
    </button>
    <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" (mousemove)="onMouseMove()"
         (mouseleave)="onMouseOut();"
         role="menu" aria-labelledby="button-basic" style="padding:5px;height:300px;overflow-y: scroll;">
      <p style="font-size: 0.9em;text-align: center;">
        {{"asr.click on logo" | transloco}}
      </p>
      <table class="table table-hover languageTable">
        <thead>
        <tr>
          <th>{{"general.Language" | transloco}}</th>
          <th>{{"general.Service Provider" | transloco}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="2" (click)="onASRLangChanged(null)">{{"asr.without asr" | transloco}}</td>
        </tr>
        <ng-container *ngFor="let lang of appSettings.octra.plugins.asr.languages; let i = index;">
          <tr [ngClass]="{
                            selected:  !(asrService.selectedLanguage === null)
                                        && (asrService.selectedLanguage.code === lang.code)
                                        && (asrService.selectedLanguage.asr === lang.asr)
                            }"
          >
            <td class="col-language" (click)="onASRLangChanged(lang)">
              <ng-container
                *ngIf="lang !== undefined && lang.state === 'active'">
                {{lang.name}} ({{getShortCode(lang.code)}}) [{{lang.asr}}]
              </ng-container>
              <ng-container
                *ngIf="lang !== undefined && lang.state === 'inactive'">
                {{lang.name}} ({{getShortCode(lang.code)}}) [{{lang.asr}}] (currently not
                available)
              </ng-container>
            </td>
            <td class="col-asr">
              <img [src]="serviceProviders[lang.asr]?.logoURL" class="logo"
                   popoverTitle="Service Information"
                   [popover]="asrDescription" triggers="focus" #pop="bs-popover" [outsideClick]="true"
                   (click)="pop.toggle();">
              <ng-template #asrDescription>
                <table class="table table-sm table-borderless">
                  <tbody>
                  <tr>
                    <td>
                      <fa-icon icon="database"></fa-icon>
                    </td>
                    <td>
                      {{serviceProviders[lang.asr]?.dataStoragePolicy}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <fa-icon [icon]="['far', 'handshake']"></fa-icon>
                    </td>
                    <td>
                      <a [href]="serviceProviders[lang.asr]?.termsURL"
                         target="_blank">Terms
                        &amp; Conditions</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <fa-icon icon="globe"></fa-icon>
                    </td>
                    <td>
                      <a [href]="serviceProviders[lang.asr]?.homepageURL"
                         target="_blank">Homepage</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-template>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div id="dropdown-button2" class="btn-group" dropdown placement="down right" (mousemove)="onMouseMove()"
       (mouseleave)="onMouseOut();" #dropdown2="bs-dropdown" style="margin-left:10px;"
       [isDisabled]="asrService.selectedLanguage === null || asrService.selectedLanguage === undefined">
    <button id="button-basic2" dropdownToggle type="button"
            class="btn btn-outline-primary btn-sm dropdown-toggle"
            aria-controls="dropdown-basic">
      {{"general.SELECT ACTION" | transloco}}
      <span class="caret"></span>
    </button>
    <div id="dropdown-basic2" *dropdownMenu class="dropdown-menu" (mousemove)="onMouseMove()"
         (mouseleave)="onMouseOut();"
         role="menu" aria-labelledby="button-basic" style="padding:5px;">

      <ng-container *ngIf="asrService.queue.status !== 'STARTED'">
        <li role="menuitem">
          <button class="dropdown-item"
                  (click)="startASRForThisSegment()">{{"asr.start this segment" | transloco}}</button>
        </li>
        <li role="menuitem">
          <button class="dropdown-item"
                  (click)="startASRForAllSegmentsNext()">{{"asr.start for all next" | transloco}}</button>
        </li>
      </ng-container>
      <ng-container *ngIf="asrService.queue.status === 'STARTED'">
        <li role="menuitem">
          <button class="dropdown-item"
                  (click)="stopASRForThisSegment()">{{"asr.stop this segment" | transloco}}</button>
        </li>
        <li role="menuitem">
          <button class="dropdown-item">{{"asr.stop for all next" | transloco}}</button>
        </li>
        <li role="menuitem">
          <button class="dropdown-item" (click)="stopASRForAll()">{{"asr.stop all" | transloco}}</button>
        </li>
      </ng-container>
    </div>
    <a style="margin-left: 10px;" [href]="manualURL + 'using-asr'" target="_blank">
      <fa-icon style="display: inline-block;" size="1.5x" icon="question-circle" class="text-info"></fa-icon>
    </a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
