.bg-primary {
  background-color: #3f51b5 !important;
}

.options-menu,
.info-menu {
  padding: 20px;
  font-size: 0.7em;
  min-width: 300px;
}

.dropdown-menu.options-menu.show label,
.dropdown-menu.info-menu.show span {
  color: black;
}

.dropdown-menu h4 {
  font-weight: bold;
  font-size: 1.3em;
  color: black;
}

.options-menu .table tr td label {
  margin: 0;
}

.options-menu .table {
  margin-bottom: 0;
  width: auto;
}

.options-menu .table tr td,
.btn-group .btn.btn-sm {
  border: none;
  font-size: 0.8rem;
  padding: 1px;
  vertical-align: middle;
}

.options-menu .table tr td .custom-switch {
  margin-left: 10px;
}

.info-menu * {
  border: none;
}

.info-menu {
  margin: 1em;
}

#modalstatis .modal-dialog {
  width: 100%;
}

.level-row {
  border: 1px solid gray;
  padding: 5px;
}

.level-row.selected,
.level-row.selected * {
  background-color: rgb(165, 250, 190);
}

.disabled {
  opacity: 0.3;
}

.level-row td input[type="text"] {
  padding: 3px;
  width: 100%;
  border: none;
}

.level-row td .selected {
  border: 1px solid lightgray;
}

.level-add-row {
  margin-top: 5px;
  border: 1px dashed gray;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.level-row td {
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.level-row div {
  color: black;
}

.nav-link.active span {
  border-bottom: 2px solid cornflowerblue;
}

.custom-switch label.custom-control-label {
  cursor: pointer;
}

.dropdown-toggle::after {
  content: unset;
}
