<div
  #transcrEditor
  (change)="updateTextField()"
  class="transcr-editor flex h-100 position-relative"
>
  <octra-validation-popover
    #validationPopover
    [ngStyle]="{
      'margin-left': popoversNew.validation.location.x + 'px',
      'margin-top': popoversNew.validation.location.y + 'px',
    }"
  ></octra-validation-popover>
  @if (asr.status === 'active') {
    <div
      id="asrOverlay"
      class="asr-running h-100 w-100 d-flex flex-column justify-content-center justify-items-center"
      (click)="onASROverlayClick()"
    >
      <p style="margin-top: 50px; text-align: center">
        {{ 'asr.asr running' | transloco }}
      </p>
    </div>
  }
  <ngx-jodit
    #jodit
    [options]="joditOptions"
    (joditKeyDown)="onKeyDown($event)"
    (joditKeyUp)="onKeyUp($event)"
    (joditFocus)="this.focused = true"
    (joditChange)="onChange()"
    (joditPaste)="onPaste($event)"
    class="flex"
  ></ngx-jodit>
</div>
