<div class="audioviewer" #audioview=audioview appAudioviewer>
    <canvas class="graphicscanvas" #graphicscan></canvas>
    <canvas class="overlaycanvas" #overlaycan></canvas>
    <canvas class="playcanvas" [ngClass]="{dragable: (av.overboundary)}" #playcan
            (mousedown)="onClick($event)"
            (mouseup)="onClick($event)"
            (click)="onClick($event)"
            (mousemove)="onMouseMove($event)"
            (mouseleave)="av.focused = false;"
            (mouseout)="av.focused = false"
    ></canvas>
    <canvas class="mousecanvas" #mousecan
            ></canvas>
</div>