<IfModule mod_headers.c>  
  # Remove X-Powerered-By header
  Header unset X-Powered-By
  Header always unset X-Powered-By
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?path=$1 [NC,L,QSA]
</IfModule>

# Remove server signature
ServerSignature Off
