h1{
    text-align:center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media(max-width:400px){
    main .container {
        padding-left: 0;
        padding-right: 0;
    }
}

footer{
    text-align:center;
    font-size:10px;
}

.container{
    width:100%;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.waiting{
    margin:100px auto;
    width:64px;
    position:relative;
}


.link{
    color:#0095dd;
    cursor: pointer;
}

#rules{
    display:none;
}

#loading{
    text-align: center;
    padding:20px;
}

#loading .description{
    margin-top:20px;
}

#overview .modal-dialog,
#rules .modal-dialog{
    width:90%;
}

.note-popover .popover-content, .panel-heading.note-toolbar {
    padding: 0;
    margin: 0;
}

.transcr-editor .btn-description{
    font-size:0.95em;
}

.transcr-editor .btn-shortcut{
    font-size:0.7em;
}

#loading{
    text-align:center;
}

.btn-icon-text{
    height:16px;
}

.export-glyphicon{
    font-size:50px;
    color:#0b0080;
}

.export-button{
    background-color: whitesmoke;
    border:1px solid grey;
    text-align:center;
    padding:20px;
}

.export-a{
    font-size:0.8em;
}

.bg-warning{
    padding:10px;
}

.error_underline{
    border-bottom: 2px solid #ff6a7d;
    display:inline;
    cursor:pointer;
}

.error-tooltip{
    display:none;
    background-color: #ff899d;
    padding:10px;
    max-width:70%;
    position:absolute;
    z-index:2000;
    left:0;
    top:0;
}

.error-tooltip .title{
    font-weight: bold;
    display:block;
}

.error-tooltip .description {
    font-size: 0.8em;
}