h1 {
    text-align: center;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

@media (max-width: 400px) {
    main .container {
        padding-left: 0;
        padding-right: 0;
    }
}

footer {
    text-align: center;
    font-size: 10px;
}

.container {
    width: 100%;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.waiting {
    margin: 100px auto;
    width: 64px;
    position: relative;
}

.link {
    color: #0095dd;
    cursor: pointer;
}

#rules {
    display: none;
}

#loading {
    text-align: center;
    padding: 20px;
}

#loading .description {
    margin-top: 20px;
}

#overview .modal-dialog,
#rules .modal-dialog {
    width: 90%;
}

.note-popover .popover-content, .panel-heading.note-toolbar {
    padding: 0;
    margin: 0;
}

.transcr-editor .btn-description {
    font-size: 0.95em;
}

.transcr-editor .btn-shortcut {
    font-size: 0.7em;
}

#loading {
    text-align: center;
}

.btn-icon-text {
    height: 16px;
}

.export-button {
    background-color: whitesmoke;
    border: 1px solid grey;
    text-align: center;
    padding: 20px;
}

.export-a {
    font-size: 0.8em;
}

.bg-warning,
.bg-danger {
    padding: 10px;
}

.error_underline {
    border-bottom: 2px solid #ff6a7d;
    display: inline;
    cursor: pointer;
}

.error-tooltip {
    display: none;
    background-color: #ff899d;
    padding: 10px;
    max-width: 70%;
    position: absolute;
    z-index: 2000;
    left: 0;
    top: 0;
}

.error-tooltip .title {
    font-weight: bold;
    display: block;
}

.error-tooltip .description {
    font-size: 0.8em;
}

#logo {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

#bugreport .modal-dialog {
    width: 90%;
    height: 100%;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.note-editor.note-frame.panel.panel-default {
    flex: auto;
}

.transcr-editor .note-editable.panel-body {
    flex: auto;
}

.note-editor.note-frame.panel.panel-default,
.note-editing-area {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.note-editable.panel-body {
}

.seg-popover {
    border: 1px solid orange;
    background-color: white;
    z-index: 100;
    position: absolute;
    padding: 5px;
    display: none;
}

.textspan {
    display: inline;
}

.tooltip.right {
    width: 200px;
}

#prompt-modal .modal-dialog {
    width: 90%;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.note-toolbar button.note-btn.btn.btn-light.btn-sm {
    background-color: whitesmoke;
    margin-right: 5px;
    color: black;
}

.note-toolbar button.note-btn.btn.btn-light.btn-sm:hover {
    background-color: lightgrey;
    color: black;
}

.note-editor.note-frame.panel {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.note-editing-area span.bmd-form-group {
    display: none;
}

.note-editor .note-editable {
    flex-direction: column;
    flex: auto;
}

.note-toolbar.panel-heading {
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
}

.note-btn-group.btn-group.note-default {
    margin: 0;
    display: inherit;
}

.note-toolbar-wrapper.panel-default {
    background-color: whitesmoke;
}

.val-error {
    border-bottom: 2px solid red;
}

.note-editor.note-frame.card {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.note-toolbar {
    z-index: 20;
}

.note-btn-group.btn-group.note-default button {
    margin: 3px 0px 0px 0px;
    /* padding: 1px; */
}

.radio label .bmd-radio, label.radio-inline .bmd-radio {
    margin-top: 0;
}

.radio {
    margin-right: 5px;
}