<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 panel" style="background-color:white;padding:20px;">
            <h3>{{"reload-file.header" | translate}}</h3>
            <p>
                {{"reload-file.text" | translate}}
            </p>
            <p>
                <b>{{"general.wanted" |translate}}: {{getDropzoneFileString(sessionfile)}}</b><br/><br/>
            </p>
            <app-drop-zone #dropzone>
                <span *ngIf="dropzone.file == null">{{"dropzone.drag&drop here" | translate}}</span>
                <span *ngIf="dropzone.file != null && (sessionfile == null || sessionfile.name == dropzone.file.name)"><span
                        class="text-success">{{ "dropzone.file selected" | translate:{file_label: getDropzoneFileString(dropzone.file)} }}</span></span>
                <span *ngIf="dropzone.file != null && (sessionfile != null && sessionfile.name != dropzone.file.name)"><span
                        class="text-danger">{{ "dropzone.file selected" | translate:{file_label: getDropzoneFileString(dropzone.file)} }}</span></span>
            </app-drop-zone>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button class="btn btn-default btn-raised"
                            (click)="modService.show('transcription_stop', '', {ok: abortTranscription})">
                        <span class="glyphicon glyphicon glyphicon-log-out"></span> <span
                            class="hidden-xs hidden-sm hidden-md">{{"general.stop transcription" | translate}}</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button class="btn btn-default btn-raised btn-danger" [disabled]="dropzone.file == null"
                            (click)="modService.show('transcription_delete', '', {ok: newTranscription})">
                        <span class="glyphicon glyphicon-file"></span> <span class="hidden-xs hidden-sm hidden-md">{{"general.start new transcription" | translate}}</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary btn-raised"
                            [disabled]="!(dropzone.file != null && dropzone.file.name == sessionfile.name)"
                            (click)="onOfflineSubmit()">
                        <span class="glyphicon glyphicon glyphicon-edit"></span> <span
                            class="hidden-xs hidden-sm hidden-md">{{"general.start transcription" | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>