<modal #modal_error>
    <modal-body>
        {{error}}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal_error.dismiss()">OK</button>
    </modal-footer>
</modal>
<modal #modal_leave>
    <modal-header>
        <h4 class="modal-title">Transkription Beenden?</h4>
    </modal-header>
    <modal-body>
        Möchten Sie die Transkription wirklich beenden?<br><br>Ihr Fortschritt wird lokal in diesem Browser
        gespeichert. Um später fortzufahren, sollten Sie nicht den Browserverlauf löschen und ausschließlich diesen
        Browser nutzen.
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal_leave.dismiss()">Weitermachen
        </button>
        <button type="button" class="btn btn-primary" (click)="abortTranscription()">Beenden</button>
    </modal-footer>
</modal>
<modal #modal_delete>
    <modal-header>
        <h4 class="modal-title">Neue Transkription beginnen?</h4>
    </modal-header>
    <modal-body>
        Möchten Sie die alte Transkription wirklich mit einer Neuen überschreiben?<br><br>Ihr Fortschritt an der anderen
        Transkription wird dabei gelöscht. Dieser Vorgang kann nicht widerrufen werden.
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal_delete.dismiss()">Abbrechen
        </button>
        <button type="button" class="btn btn-danger" (click)="onNewTranscription()">Alte Transkription löschen</button>
    </modal-footer>
</modal>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 panel" style="background-color:white;padding:20px;">
            <h3>Datei erneut einlesen</h3>
            <p>
                Die Seite wurde zuvor geschlossen oder erneut geladen. Bitte wählen Sie erneut eine Audiodatei aus um
                sie
                einlesen zu lassen. Nach dem Einlesen können Sie ihre Arbeit fortsetzen.
            </p>
            <p>
                <b>Gesucht wird: {{getDropzoneFileString(sessionfile)}}</b><br/><br/>
            </p>
            <app-drop-zone #dropzone>
                <span *ngIf="dropzone.file == null">Datei hier hineinziehen</span>
                <span *ngIf="dropzone.file != null && (sessionfile == null || sessionfile.name == dropzone.file.name)"><span
                        class="text-success">Datei {{getDropzoneFileString(dropzone.file)}} ausgewählt</span></span>
                <span *ngIf="dropzone.file != null && (sessionfile != null && sessionfile.name != dropzone.file.name)"><span
                        class="text-danger">Datei {{getDropzoneFileString(dropzone.file)}} ausgewählt</span></span>
            </app-drop-zone>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button class="btn btn-default btn-raised" (click)="modal_leave.open()">
                        <span class="glyphicon glyphicon glyphicon-log-out"></span> <span class="hidden-xs hidden-sm hidden-md">Beenden</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button class="btn btn-default btn-raised btn-danger" [disabled]="dropzone.file == null"
                            (click)="modal_delete.open()">
                        <span class="glyphicon glyphicon-file"></span> <span class="hidden-xs hidden-sm hidden-md">Neue Transkription</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary btn-raised"
                            [disabled]="!(dropzone.file != null && dropzone.file.name == sessionfile.name)"
                            (click)="onOfflineSubmit()">
                        <span class="glyphicon glyphicon glyphicon-edit"></span> <span class="hidden-xs hidden-sm hidden-md">Transkription fortsetzen</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>