<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">{{"general.shortcuts" | transloco}} {{appStorage.interface}}</h5>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="shortcut-group" *ngFor="let shortcutGroup of keyMap.shortcutGroups">
      <h5>{{("modal.shortcuts." + shortcutGroup.name) | transloco}}</h5>
      <table class="table table-striped table-bordered">
        <tbody>
        <tr *ngFor="let entry of shortcutGroup.items">
          <td>{{"modal.shortcuts." + entry.title | transloco}}</td>
          <td>
          <octra-shortcut [shortcut]="entry.keys[platform]"></octra-shortcut>
          <span *ngIf="entry.focusonly" class="focus-info">({{"general.on focus only" | transloco}}
            )</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h5>{{"modal.shortcuts.general shortcuts" | transloco}}</h5>
    <div>
      <table class="table table-striped table-bordered">
        <tbody>
        <tr *ngFor="let entry of keyMap.generalShortcuts.items">
          <td>{{"modal.shortcuts." + entry.title | transloco}}</td>
          <td>
            <octra-shortcut [shortcut]="entry.keys[platform]"></octra-shortcut>
            <span *ngIf="entry.focusonly"
                  class="focus-info">({{"general.on focus only" | transloco}}
              )</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button (click)="close()" class="btn btn-primary" type="button">
    {{"general.close" | transloco}}
  </button>
</div>
