#viewer{
    max-height:200px;
}

#editor-placeholder{
    background-color:white;
    border: 1px dashed gray;
    padding:10px;
    width:100%;
    text-align:center;
}

.loupe{
    margin-top:10px;
}