h4 {
    margin-top: 0;
    text-align: center;
}

#login {
    padding: 20px;
    width: 100%;
    padding: 0;
}

#login .row {
    padding-top: 20px;
}

.login-id-label,
.login-pw-label {
    font-size: 1em;
}

#login-pw,
#login-id {
    font-size: 1.3em;
    width: 100%;
    padding: 5px;
}

#login-submit,
#offline-submit,
#offline-delete-btn {
    width: 100%;
}

.ng-touched .ng-invalid {
    border-bottom: 2px solid red;
}

#login-disabled {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

.form-group {
    margin: 0;
    margin-bottom: 0;
}

.glyphicon-ok{
    color:green;
}

.glyphicon-remove{
    color:red;
}

.dropzone-table{
    margin:0 auto;
}

.dropzone-table tr td {
    border:none;
    text-align:left;
}

.dropzone-table tr td:first-child {
    padding-right:10px;
}