<modal #agreement>
    <modal-header>
        <h3>Einverständniserklärung</h3>
    </modal-header>
    <modal-body>
        <p>Ich erkläre, dass ich die Probandeninformation zur Studie <b>"Optimale Webbasierte Transkription langer
            Audiodateien"</b> und diese Einverständniserklärung zur Studienteilnahme erhalten habe.
        </p>
        <ul>
            <li>Ich wurde für mich ausreichend mündlich und/oder schriftlich über die wissenschaftliche Untersuchung
                informiert.
            </li>
            <li>Ich erkläre mich bereit, dass ihm Rahmen der Studie Daten über mein Anwenderverhalten gesammelt und
                diese anonymisiert aufgezeichnet werden. Es wird gewährleistet, dass meine personenbezogenen Daten nicht
                an Dritte außerhalb der LMU weitergegeben werden. In anonymisierter Form dürfen die Daten für
                wissenschaftliche Untersuchungen, Publikationen und in der Lehre verwendet werden. Meine persönlichen
                Daten unterliegen dem Datenschutzgesetz.
            </li>
            <li>Ich weiß, dass ich jederzeit meine Einverständniserklärung, ohne Angabe von Gründen, widerrufen kann,
                ohne dass dies für mich nachteilige Folgen hat.
            </li>
            <li>Mit der vorstehend geschilderten Vorgehensweise bin ich einverstanden und bestätige dies mit dem Klick
                auf "Anmelden"
            </li>
        </ul>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="agreement.dismiss()">Schließen</button>
    </modal-footer>
</modal>
<div>
    <span id="logo">OCTRA</span>
</div>
<div class="section">
    <div class="row">
        <div class="col-sm-2 col-md-3"></div>
        <div class="col-sm-8 col-md-6 panel panel-default" style="padding:40px;">
            <br/>
            <p *ngIf="!valid_platform" class="warning" [innerHTML]="'browser.invalid' | translate">
            </p>
            <p *ngIf="!valid_platform" class="warning">
                {{getValidBrowsers()}}
            </p>

            <p *ngIf="!apc.octra.responsive.enabled && !valid_size" class="warning"
               [innerHTML]="'browser.small window width' | translate">

            </p>
            <section>
                <h4>{{ 'login.online mode' | translate}}</h4>
                <div *ngIf="!apc.octra.login_enabled" id="login-disabled">
                    {{'login.online mode disabled' | translate}}
                </div>
                <div *ngIf="apc.octra.login_enabled">
                    <p class="bg-danger" *ngIf="sessionService.offline == true">
                        {{"login.online mode data warning" | translate}}
                    </p>
                    <p class="bg-warning" *ngIf="sessionService.member_id != null && sessionService.audio_url != null && sessionService.offline == false">
                        {{"login.online mode continue" | translate:{member_id:sessionService.member_id,member_project:sessionService.member_project,member_jobno:sessionService.member_jobno} }}
                    </p>
                    <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <fieldset>
                            <div>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="login-id"
                                           name="login-id"
                                           placeholder="Anmeldename" [(ngModel)]="member.id"
                                           required
                                    />
                                </div>
                                <div class="form-group">
                                    <select id="select111" class="form-control" #selection
                                            (change)="selectProject(selection)" required>
                                        <option value="">{{"general.select database" | translate}}</option>
                                        <option *ngFor="let project of projects;" value="{{project}}">{{project}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="number" id="jobno"
                                           name="jobno"
                                           placeholder="Aufgaben-Nummer" #t (keyup)="member.jobno = t.value"
                                           required
                                    />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="submit" id="login-submit"
                                           class="btn btn-raised btn-primary"
                                           [disabled]="!f.valid"
                                           name="login-submit" value="{{'general.login' | translate}}"/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <br/>
            </section>
            <hr/>
            <section>
                <h4>{{'login.local mode' | translate}}</h4>
                <div>
                    <p class="bg-danger" *ngIf="sessionService.member_id != null && sessionService.member_id != '-1'">
                        {{"login.offline mode data warning" | translate}}
                    </p>
                    <p class="bg-warning" *ngIf="sessionService.sessionfile != null"
                       [innerHTML]="'login.old file found' | translate:{file_label: getDropzoneFileString(sessionfile)}">
                    </p>
                    <app-drop-zone #dropzone>
                        <span *ngIf="dropzone.file == null">{{ "dropzone.drag&drop here" | translate }}</span>
                        <span *ngIf="dropzone.file != null && (getFileStatus() == 'start')"><span
                                class="text-success">{{ "dropzone.file selected" | translate:{file_label: getDropzoneFileString(dropzone.file)} }}</span></span>
                        <span *ngIf="dropzone.file != null && (getFileStatus() != 'start')"><span
                                class="text-danger">{{ "dropzone.file selected" | translate:{file_label: getDropzoneFileString(dropzone.file)} }}</span></span>
                    </app-drop-zone>
                    <input *ngIf="getFileStatus() != 'new'" [disabled]="!(getFileStatus() == 'start')" type="submit"
                           id="offline-submit"
                           class="btn btn-raised btn-primary" value="{{'transcription.start' | translate}}"
                           (click)="onOfflineSubmit()"/>

                    <input *ngIf="getFileStatus() == 'new'" id="offline-delete-btn"
                           class="btn btn-raised btn-danger"
                           (click)="modService.show('transcription_delete', '', {ok: newTranscription})"
                           value="{{'transcription.new' |translate}}"/>
                </div>
            </section>
        </div>
        <div class="col-sm-2 col-md-3"></div>
    </div>
</div>