<div class="section">
    <div class="row">
        <div class="col-md-6 panel panel-default" style="padding:40px; height:520px;">
            <br/>
            <p *ngIf="!valid_platform" class="warning" [innerHTML]="'browser.invalid' | translate">
            </p>
            <p *ngIf="!valid_platform" class="warning">
                {{getValidBrowsers()}}
            </p>

            <p *ngIf="!apc.octra.responsive.enabled && !valid_size" class="warning"
               [innerHTML]="'browser.small window width' | translate">

            </p>
            <section>
                <h4>{{ 'login.online mode' | translate}}</h4>
                <div *ngIf="!apc.octra.login.enabled" id="login-disabled">
                    {{'login.online mode disabled' | translate}}
                </div>
                <div *ngIf="apc.octra.login.enabled">
                    <p class="bg-danger" *ngIf="sessionService.offline == true">
                        {{"login.online mode data warning" | translate}}
                    </p>
                    <p class="bg-warning"
                       *ngIf="sessionService.member_id != null && sessionService.audio_url != null && sessionService.offline == false">
                        {{"login.online mode continue" |
                        translate:{member_id:sessionService.member_id,member_project:sessionService.member_project,member_jobno:sessionService.member_jobno}
                        }}
                    </p>
                    <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <fieldset>
                            <div>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="login-id"
                                           name="login-id"
                                           placeholder="{{ 'general.name' | translate }}" [(ngModel)]="member.id"
                                           pattern="\w+"
                                           required
                                    />
                                </div>
                                <div class="form-group">
                                    <select id="select111" class="form-control" #selection
                                            [(ngModel)]="member.project" name="project" required>
                                        <option value="">{{"general.select database" | translate}}</option>
                                        <option *ngFor="let project of projects;" value="{{project}}">{{project}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="number" id="jobno"
                                           name="jobno"
                                           placeholder="{{'general.job number' | translate}}" #t [(ngModel)]="member.jobno"
                                           pattern="[0-9]+"
                                    />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="submit" id="login-submit"
                                           class="btn btn-raised btn-primary"
                                           [disabled]="!f.valid"
                                           name="login-submit" value="{{'general.login' | translate}}"/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <br/>
            </section>
        </div>
        <div class="col-md-6 panel panel-default" style="padding:40px; height:520px;">
            <section>
                <h4 style="padding-top:20px;">{{'login.local mode' | translate}}</h4>
                <div>
                    <p class="bg-danger" *ngIf="sessionService.member_id != null && sessionService.member_id != '-1'">
                        {{"login.offline mode data warning" | translate}}
                    </p>
                    <p class="bg-warning" *ngIf="sessionService.sessionfile != null"
                       [innerHTML]="'login.old file found' | translate:{file_label: getDropzoneFileString(sessionfile)}">
                    </p>
                    <app-drop-zone #dropzone [height]="'275px'">
                        <span *ngIf="dropzone.file == null">{{ "dropzone.drag&drop here" | translate }}</span>
                        <span *ngIf="dropzone.file != null && (getFileStatus() == 'start')"><span
                                class="text-success">{{ "dropzone.file selected" | translate:{file_label: getDropzoneFileString(dropzone.file)} }}</span></span>
                        <span *ngIf="dropzone.file != null && (getFileStatus() != 'start')"><span
                                class="text-danger">{{ "dropzone.file selected" | translate:{file_label: getDropzoneFileString(dropzone.file)} }}</span></span>
                    </app-drop-zone>
                    <input *ngIf="getFileStatus() != 'new'" [disabled]="!(getFileStatus() == 'start')" type="submit"
                           id="offline-submit"
                           class="btn btn-raised btn-primary" value="{{'transcription.start' | translate}}"
                           (click)="onOfflineSubmit()"/>

                    <input *ngIf="getFileStatus() == 'new'" id="offline-delete-btn"
                           class="btn btn-raised btn-danger"
                           (click)="modService.show('transcription_delete', '', {ok: newTranscription})"
                           value="{{'transcription.new' |translate}}"/>
                </div>
            </section>
        </div>
    </div>
</div>