<div class="namingConventionSelection">
  <div class="d-inline-block">
    <div class="d-inline-block" ngbDropdown>
      <button
        class="btn btn-secondary btn-sm btn-raised"
        ngbDropdownToggle
        id="button-basic"
        style="background-color: gray"
        type="button"
      >
        {{ 'tools.cut audio.add placeholder' | transloco }}
        <i class="bi bi-plus-lg"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="button-basic">
        @for (item of namingConventionArray; track item; let i = $index) {
        <button (click)="addItem(item)" ngbDropdownItem>
          {{ item }}
        </button>
        }
      </div>
    </div>
  </div>
  <div
    #list
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="namingConventionDragDrop"
    (cdkDropListDropped)="onDrop($event)"
  >
    @for (item of resultConvention; track item; let i = $index) {
    <div
      cdkDrag
      [cdkDragDisabled]="clicked > -1"
      (mouseup)="onItemClick($event, i)"
      [ngClass]="{
        'naming-placeholder': item.type === 'placeholder',
        'naming-text': item.type === 'text',
        deactivated: item.type === 'extension',
        clicked: item.type === 'clicked'
      }"
      class="naming-item"
    >
      @if (i !== clicked) {
      <div class="naming-content">
        <span class="value">{{ item.value }}</span>
        <i class="bi bi-x-circle" (click)="remove(i)"></i>
      </div>
      } @if (i === clicked) {
      <div class="naming-content">
        <span
          #text
          (keydown)="onKeyDown($event, text)"
          class="value"
          contenteditable="true"
          style="min-width: 10px; user-select: text"
          [innerText]="item.value"
        ></span>
        <i class="bi bi-x-circle" (click)="remove(i)"></i>
      </div>
      }
    </div>
    }
  </div>
  <div class="naming-item deactivated">
    <div class="naming-content">
      <span class="value">.wav</span>
    </div>
  </div>
  <div class="naming-convention preview">
    <span>{{ 'g.preview' | transloco }}:</span>
    {{ preview }}
  </div>
</div>
