.item {
  margin-right: 3px;
  border-radius: 3px;
  height: 40px;
}

.deactivated {
  opacity: 0.5;
  cursor: not-allowed;
}

.naming-placeholder {
  border: 1px solid cornflowerblue;
  background-color: lightblue;
}

.namingConvention-dropdown {
  display: inline;
}

.namingConventionDragDrop {
  display: inline-block;
  height: 40px;
  margin-left: 5px;
}

.naming-convention.preview {
  margin-top: -10px;
}

:host {
  padding: 5px;
  display: block;
  background-color: whitesmoke;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.naming-item {
  display: inline-block;
  border: 1px solid gray;
  padding: 6px;
  user-select: none;
  font-size: 13px;
  border-radius: 3px;
  justify-content: center;
  align-items: normal;
  cursor: grab;
}

.naming-content {
  display: inline;
}

.naming-text {
  background-color: white;
  cursor: pointer;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.75;
  border: 1px dotted gray;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.namingConventionDragDrop.cdk-drop-list-dragging
  .naming-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
