<div class="namingConventionSelection">
  <div class="namingConvention-dropdown">
    <div class="btn-group" dropdown>
      <button aria-controls="dropdown-basic" class="btn btn-secondary btn-sm btn-raised" dropdownToggle
              id="button-basic"
              style="background-color:gray;" type="button">
        {{"tools.cut audio.add placeholder" | transloco}}
        <fa-icon icon="plus"></fa-icon>
      </button>
      <ul *dropdownMenu aria-labelledby="button-basic" class="dropdown-menu"
          id="dropdown-basic" role="menu">
        <li role="menuitem">
          <a (click)="addItem(item)" *ngFor="let item of namingConventionArray;let i = index;"
             class="dropdown-item">
            {{item}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div #list cdkDropList cdkDropListOrientation="horizontal" class="namingConventionDragDrop"
       (cdkDropListDropped)="onDrop($event)">
    <div cdkDrag (mouseup)="onItemClick($event, i)" *ngFor="let item of resultConvention; let i = index;"
         [ngClass]="{
    'naming-placeholder': item.type === 'placeholder',
    'naming-text': item.type === 'text',
    'deactivated': item.type === 'extension',
    'clicked': item.type === 'clicked'
    }"
         class="naming-item"
    >
      <div *ngIf="i !== clicked" class="naming-content">
        <span class="value">{{item.value}}</span>
        <fa-icon (click)="remove(i)" [icon]="['fas', 'times-circle']"></fa-icon>
      </div>
      <div *ngIf="i === clicked" class="naming-content">
          <span #text (keydown)="onKeyDown($event, text)" class="value" contenteditable="true"
                style="min-width: 10px;">
            {{item.value}}
          </span>
        <fa-icon (click)="remove(i)" [icon]="['fas', 'times-circle']"></fa-icon>
      </div>
    </div>
  </div>
  <div class="naming-item deactivated">
    <div class="naming-content">
      <span class="value">.wav</span>
    </div>
  </div>
  <div class="naming-convention preview">
    <span>{{"general.preview" | transloco}}:</span>
    {{preview}}
  </div>
</div>
