<div class="namingConventionSelection">
  <div class="namingConvention-dropdown">
    <div class="btn-group" dropdown>
      <button
        aria-controls="dropdown-basic"
        class="btn btn-secondary btn-sm btn-raised"
        dropdownToggle
        id="button-basic"
        style="background-color: gray"
        type="button"
      >
        {{ 'tools.cut audio.add placeholder' | transloco }}
        <i class="bi bi-plus-lg"></i>
      </button>
      <ul
        *dropdownMenu
        aria-labelledby="button-basic"
        class="dropdown-menu"
        id="dropdown-basic"
        role="menu"
      >
        <li role="menuitem">
          @for (item of namingConventionArray; track item; let i = $index) {
          <a (click)="addItem(item)" class="dropdown-item">
            {{ item }}
          </a>
          }
        </li>
      </ul>
    </div>
  </div>
  <div
    #list
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="namingConventionDragDrop"
    (cdkDropListDropped)="onDrop($event)"
  >
    @for (item of resultConvention; track item; let i = $index) {
    <div
      cdkDrag
      (mouseup)="onItemClick($event, i)"
      [ngClass]="{
        'naming-placeholder': item.type === 'placeholder',
        'naming-text': item.type === 'text',
        deactivated: item.type === 'extension',
        clicked: item.type === 'clicked'
      }"
      class="naming-item"
    >
      @if (i !== clicked) {
      <div class="naming-content">
        <span class="value">{{ item.value }}</span>
        <i class="bi bi-x-circle" (click)="remove(i)"></i>
      </div>
      } @if (i === clicked) {
      <div class="naming-content">
        <span
          #text
          (keydown)="onKeyDown($event, text)"
          class="value"
          contenteditable="true"
          style="min-width: 10px"
        >
          {{ item.value }}
        </span>
        <i class="bi bi-x-circle" (click)="remove(i)"></i>
      </div>
      }
    </div>
    }
  </div>
  <div class="naming-item deactivated">
    <div class="naming-content">
      <span class="value">.wav</span>
    </div>
  </div>
  <div class="naming-convention preview">
    <span>{{ 'g.preview' | transloco }}:</span>
    {{ preview }}
  </div>
</div>
