<div id="context-menu"
     *ngIf="isVisible"
     [@fadeInOnEnter] [@fadeOutOnLeave] [ngStyle]="{
  'margin-left': x + 'px',
  'margin-top': y + 'px'
}" (mouseleave)="onMouseLeave()">
  <table>
    <tbody>
    <ng-container *ngFor="let action of actions; let i = index;">
      <tr *ngIf="action.status !== 'inactive'" (click)="doAction(action.func)">
        <td class="icon-column">
          <i [classList]="['bi', action.icon]"></i>
        </td>
        <td class="action-column">
          {{action.label}}
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
