<h4>{{"general.statistics" | translate}}</h4>
<table class="table">
  <thead>
  <tr>
    <th>{{"general.segments total" | translate}}</th>
    <th>{{"general.segments transcribed" | translate}}</th>
    <th>{{"general.segments with breaks" | translate}}</th>
    <th>{{"general.segments not transcribed" | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="active">{{numberOfSegments}}</td>
    <td class="success">{{transcrSegments}}</td>
    <td class="info">{{pauseSegments}}</td>
    <td class="danger"><b><u>{{emptySegments}}</u></b></td>
  </tr>
  </tbody>
</table>
<h4>{{"general.transcript" | translate}}</h4>
<table class="table">
  <thead>
  <tr>
    <th>{{"general.timespan" | translate}}</th>
    <th>{{"general.transcription" | translate}}</th>
    <th>{{"general.validation" | translate}}</th>
  </tr>
  </thead>
  <tr *ngFor="let segment of segments; let i = index" [ngClass]="{success: (segment.transcript != '' && segment.transcript != 'P'), info: (segment.transcript == 'P'), danger: (segment.transcript == '')}">
    <td># {{i+1 | leadingnull: segments.length}}</td>
    <td [innerHTML]="sanitizeHTML(segment.transcript)"></td>
    <td [innerHTML]="sanitizeHTML(segment.validation)" [ngClass]="{warning:(segment.validation)}"></td>
  </tr>
</table>