<h4>{{"general.statistics" | translate}}</h4>
<table class="table">
    <thead>
    <tr>
        <th>{{"segments.total" | translate}}</th>
        <th>{{"segments.transcribed" | translate}}</th>
        <th>{{"segments.with breaks" | translate}}</th>
        <th>{{"segments.not transcribed" | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="active">{{numberOfSegments}}</td>
        <td class="success">{{transcrSegments}}</td>
        <td class="info">{{pauseSegments}}</td>
        <td class="danger"><b><u>{{emptySegments}}</u></b></td>
    </tr>
    </tbody>
</table>
<p [hidden]="shown_segments.length == 0">
    <span *ngIf="foundErrors == 0" class="text-success found-errors">{{"general.no errors found" | translate}}</span>
    <span *ngIf="foundErrors > 0" class="text-danger found-errors">{{"general.errors found" | translate : {errors: foundErrors} }}</span>
</p>
<h4 [hidden]="!show_transcriptiontable">{{"general.transcript" | translate}}</h4>
<div *ngIf="shown_segments.length == 0" [hidden]="!show_transcriptiontable">
    <div style="display:block; text-align:center; padding-top:20px;">
        <i class="fa fa-spinner fa-spin" style="font-size:32px"></i>
    </div>
</div>
<table *ngIf="shown_segments.length > 0" class="table" [hidden]="!show_transcriptiontable">
    <thead>
    <tr>
        <th></th>
        <th>{{"general.segment" | translate}}</th>
        <th>{{"general.transcription" | translate}}</th>
    </tr>
    </thead>
    <tr *ngFor="let segment of shown_segments; let i = index"
        [ngClass]="{success: (segment.transcription.text != '' && segment.transcription.text != transcrService.break_marker.code), info: (segment.transcription.text == transcrService.break_marker.code), danger: (segment.transcription.text == '')}">
        <td style="width:25px;">
            <span class="glyphicon glyphicon-warning-sign segment-warning"
                  [ngStyle]="{
                  'display': ((segment.transcription.html.indexOf('<div class=\'error_underline\'') > -1) ? 'normal': 'none')}"
            >
            </span>
        </td>
        <td><span class="link segment-number" (click)="onSegmentClicked(i)"># {{i+1 | leadingnull: shown_segments.length}}</span></td>
        <td [innerHTML]="sanitizeHTML(segment.transcription.html)" (mouseover)="onMouseOver($event)"
            (mousedown)="onMouseOver($event)"></td>
    </tr>
</table>